# Geocoding Resale Flat Addresses

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import shapely 
from geopy.distance import geodesic
import geopandas
import geopandas as gpd
from shapely.geometry import Point
from sklearn.neighbors import BallTree
import numpy as np
from geopy.distance import great_circle
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [2]:
# read in csv file of transactions 
df = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')

In [3]:
df2 = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')

In [4]:
# calculate remaining lease for df2 


# convert month column string to date time format 
df2['month'] = pd.to_datetime(df2['month'])
# extract year from 'month' column
df2['month'] = df2['month'].dt.year
# subtract lease duration used up from 99 years 
df2['remaining_lease'] = 99 - (df2['month']-df2['lease_commence_date'])

# check results 
df2

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,2000,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0,85
1,2000,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0,85
2,2000,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0,75
3,2000,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0,75
4,2000,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0,75
...,...,...,...,...,...,...,...,...,...,...,...
369646,2012,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,476888.0,72
369647,2012,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,490000.0,73
369648,2012,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,488000.0,75
369649,2012,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,705000.0,79
369650,2012,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,630000.0,79

In [5]:
df['month'] = pd.to_datetime(df['month'])
# extract year from 'month' column
df['month'] = df['month'].dt.year
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
37149,2016,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
37150,2016,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
37151,2016,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
37152,2016,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

In [6]:
# combine the two datasets 
new_df = pd.concat([df, df2], axis=0)
# check dataframe 
new_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
369646,2012,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,72,476888.0
369647,2012,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,73,490000.0
369648,2012,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,75,488000.0
369649,2012,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,79,705000.0
369650,2012,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,79,630000.0

In [7]:
# select only resale transactions in neighbourhoods identified as gentrified

# specify array of gentrifiedneighbourhoods 
array=['ANG MO KIO','CLEMENTI','QUEENSTOWN','BUKIT MERAH','GEYLANG','KALLANG','TOA PAYOH','BUKIT TIMAH','MARINE PARADE','TANGLIN','NOVENA']
new_df = new_df.loc[new_df['town'].isin(array)]

In [8]:
new_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
369408,2012,TOA PAYOH,5 ROOM,10,LOR 7 TOA PAYOH,22 TO 24,120.0,Improved,1998,85,700000.0
369409,2012,TOA PAYOH,5 ROOM,79C,TOA PAYOH CTRL,37 TO 39,110.0,Improved,2009,96,894000.0
369410,2012,TOA PAYOH,EXECUTIVE,99A,LOR 2 TOA PAYOH,16 TO 18,145.0,Apartment,1993,80,860100.0
369411,2012,TOA PAYOH,EXECUTIVE,133,POTONG PASIR AVE 1,01 TO 03,149.0,Maisonette,1984,71,704000.0
369412,2012,TOA PAYOH,EXECUTIVE,131,POTONG PASIR AVE 1,01 TO 03,151.0,Maisonette,1984,71,700000.0

In [9]:
# Let's combine the block and street name to form the address of our transacted unit.
new_df['address'] = new_df['block'] + " " + new_df['street_name']
new_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4
1,2015,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0,541 ANG MO KIO AVE 10
2,2015,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0,163 ANG MO KIO AVE 4
3,2015,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0,446 ANG MO KIO AVE 10
4,2015,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0,557 ANG MO KIO AVE 10
...,...,...,...,...,...,...,...,...,...,...,...,...
369408,2012,TOA PAYOH,5 ROOM,10,LOR 7 TOA PAYOH,22 TO 24,120.0,Improved,1998,85,700000.0,10 LOR 7 TOA PAYOH
369409,2012,TOA PAYOH,5 ROOM,79C,TOA PAYOH CTRL,37 TO 39,110.0,Improved,2009,96,894000.0,79C TOA PAYOH CTRL
369410,2012,TOA PAYOH,EXECUTIVE,99A,LOR 2 TOA PAYOH,16 TO 18,145.0,Apartment,1993,80,860100.0,99A LOR 2 TOA PAYOH
369411,2012,TOA PAYOH,EXECUTIVE,133,POTONG PASIR AVE 1,01 TO 03,149.0,Maisonette,1984,71,704000.0,133 POTONG PASIR AVE 1
369412,2012,TOA PAYOH,EXECUTIVE,131,POTONG PASIR AVE 1,01 TO 03,151.0,Maisonette,1984,71,700000.0,131 POTONG PASIR AVE 1

In [10]:
# Obtain only unique addresses by removing duplicates 
address_list = new_df.drop_duplicates(subset='address', keep='first')
len(address_list)

1754

In [11]:
address_list = address_list['address'].tolist()

In [12]:
address_list

['174 ANG MO KIO AVE 4',
 '541 ANG MO KIO AVE 10',
 '163 ANG MO KIO AVE 4',
 '446 ANG MO KIO AVE 10',
 '557 ANG MO KIO AVE 10',
 '603 ANG MO KIO AVE 5',
 '709 ANG MO KIO AVE 8',
 '333 ANG MO KIO AVE 1',
 '109 ANG MO KIO AVE 4',
 '564 ANG MO KIO AVE 3',
 '218 ANG MO KIO AVE 1',
 '556 ANG MO KIO AVE 10',
 '156 ANG MO KIO AVE 4',
 '471 ANG MO KIO AVE 10',
 '434 ANG MO KIO AVE 10',
 '560 ANG MO KIO AVE 10',
 '332 ANG MO KIO AVE 1',
 '421 ANG MO KIO AVE 10',
 '506 ANG MO KIO AVE 8',
 '631 ANG MO KIO AVE 4',
 '153 ANG MO KIO AVE 5',
 '442 ANG MO KIO AVE 10',
 '558 ANG MO KIO AVE 10',
 '212 ANG MO KIO AVE 3',
 '152 ANG MO KIO AVE 5',
 '331 ANG MO KIO AVE 1',
 '121 ANG MO KIO AVE 3',
 '130 ANG MO KIO AVE 3',
 '646 ANG MO KIO AVE 6',
 '424 ANG MO KIO AVE 3',
 '584 ANG MO KIO AVE 3',
 '412 ANG MO KIO AVE 10',
 '612 ANG MO KIO AVE 4',
 '562 ANG MO KIO AVE 3',
 '223 ANG MO KIO AVE 1',
 '150 ANG MO KIO AVE 5',
 '468 ANG MO KIO AVE 10',
 '177 ANG MO KIO AVE 4',
 '415 ANG MO KIO AVE 10',
 '254 ANG MO KIO AVE 4',
 '207 ANG MO KIO AVE 1',
 '432 ANG MO KIO AVE 10',
 '117 ANG MO KIO AVE 4',
 '428 ANG MO KIO AVE 3',
 '573 ANG MO KIO AVE 3',
 '418 ANG MO KIO AVE 10',
 '324 ANG MO KIO AVE 3',
 '596B ANG MO KIO ST 52',
 '234 ANG MO KIO AVE 3',
 '648 ANG MO KIO AVE 5',
 '253A ANG MO KIO ST 21',
 '439 ANG MO KIO AVE 10',
 '306 ANG MO KIO AVE 1',
 '729 ANG MO KIO AVE 6',
 '315B ANG MO KIO ST 31',
 '700C ANG MO KIO AVE 6',
 '28 JLN KLINIK',
 '48 LOWER DELTA RD',
 '116 BT MERAH VIEW',
 '8 JLN BT HO SWEE',
 '107 JLN BT MERAH',
 '5 TELOK BLANGAH CRES',
 '26 JLN KLINIK',
 '129 BT MERAH VIEW',
 '130 BT MERAH VIEW',
 '60 TELOK BLANGAH HTS',
 '130 KIM TIAN RD',
 '128 BT MERAH VIEW',
 '38 BEO CRES',
 '11 CANTONMENT CL',
 '77 TELOK BLANGAH DR',
 '55 TELOK BLANGAH DR',
 '26D JLN MEMBINA',
 '26C JLN MEMBINA',
 '27 LIM LIAK ST',
 '29 LIM LIAK ST',
 '46 SENG POH RD',
 '59 TELOK BLANGAH HTS',
 '54 LENGKOK BAHRU',
 '106A DEPOT RD',
 '53 LENGKOK BAHRU',
 '14 TELOK BLANGAH CRES',
 '54 TELOK BLANGAH DR',
 '112B DEPOT RD',
 '20 JLN MEMBINA',
 '120 KIM TIAN PL',
 '70 REDHILL CL',
 '68 REDHILL CL',
 '69 REDHILL CL',
 '21 JLN MEMBINA',
 '8A BOON TIONG RD',
 '27A JLN MEMBINA',
 '2A BOON TIONG RD',
 '50 HOY FATT RD',
 '106B DEPOT RD',
 '95 HAVELOCK RD',
 '82 REDHILL LANE',
 '119B KIM TIAN RD',
 '75C REDHILL RD',
 '121 KIM TIAN PL',
 '2C BOON TIONG RD',
 '1 TOH YI DR',
 '5 FARRER RD',
 '513 WEST COAST RD',
 '346 CLEMENTI AVE 5',
 '354 CLEMENTI AVE 2',
 '515 WEST COAST RD',
 '703 WEST COAST RD',
 '602 CLEMENTI WEST ST 1',
 '351 CLEMENTI AVE 2',
 '429 CLEMENTI AVE 3',
 '304 CLEMENTI AVE 4',
 '307 CLEMENTI AVE 4',
 '308 CLEMENTI AVE 4',
 '374 CLEMENTI AVE 4',
 '434 CLEMENTI AVE 3',
 '729 CLEMENTI WEST ST 2',
 '331 CLEMENTI AVE 2',
 '511 WEST COAST DR',
 '318 CLEMENTI AVE 4',
 '605 CLEMENTI WEST ST 1',
 '342 CLEMENTI AVE 5',
 '43 CIRCUIT RD',
 '109 ALJUNIED CRES',
 '82 MACPHERSON LANE',
 '58 CIRCUIT RD',
 '61 CIRCUIT RD',
 '20 BALAM RD',
 '93 PAYA LEBAR WAY',
 '25 EUNOS CRES',
 '23 BALAM RD',
 '21 EUNOS CRES',
 '9 HAIG RD',
 '16 EUNOS CRES',
 '102 ALJUNIED CRES',
 '31 BALAM RD',
 '126 GEYLANG EAST AVE 1',
 '45 SIMS DR',
 '10 HAIG RD',
 '22 HAIG RD',
 '34 CASSIA CRES',
 '34 EUNOS CRES',
 '44 SIMS DR',
 '352 UBI AVE 1',
 '11 EUNOS CRES',
 '11 HAIG RD',
 '67 CIRCUIT RD',
 '28 CASSIA CRES',
 '125 ALJUNIED RD',
 '123 PAYA LEBAR WAY',
 '6 HAIG RD',
 '5 PINE CL',
 '45 JLN TIGA',
 '8 MARINE TER',
 '79 MARINE DR',
 '29 MARINE CRES',
 '166 STIRLING RD',
 "83 C'WEALTH CL",
 "97 C'WEALTH CRES",
 "95 C'WEALTH DR",
 "98 C'WEALTH CRES",
 "93 C'WEALTH DR",
 '21 DOVER CRES',
 '6 GHIM MOH RD',
 '163 STIRLING RD',
 '3 GHIM MOH RD',
 '2 GHIM MOH RD',
 '8 HOLLAND AVE',
 '11 HOLLAND DR',
 '2 DOVER RD',
 '161 MEI LING ST',
 '61B STRATHMORE AVE',
 '168A QUEENSWAY',
 '9 HOLLAND AVE',
 '59 STRATHMORE AVE',
 '28B DOVER CRES',
 '181 STIRLING RD',
 '30A HOLLAND CL',
 '18C HOLLAND DR',
 '48 STRATHMORE AVE',
 '91 TANGLIN HALT RD',
 '183 STIRLING RD',
 '19 DOVER CRES',
 '49 STRATHMORE AVE',
 '28A DOVER CRES',
 '18D HOLLAND DR',
 '120 LOR 2 TOA PAYOH',
 '194 KIM KEAT AVE',
 '195 KIM KEAT AVE',
 '4 UPP ALJUNIED LANE',
 '113 LOR 1 TOA PAYOH',
 '51 LOR 6 TOA PAYOH',
 '110 LOR 1 TOA PAYOH',
 '38 LOR 5 TOA PAYOH',
 '3 LOR 7 TOA PAYOH',
 '108 LOR 1 TOA PAYOH',
 '27 TOA PAYOH EAST',
 '114 LOR 1 TOA PAYOH',
 '168 LOR 1 TOA PAYOH',
 '96 LOR 3 TOA PAYOH',
 '23 TOA PAYOH EAST',
 '118 LOR 1 TOA PAYOH',
 '123 LOR 1 TOA PAYOH',
 '98 LOR 1 TOA PAYOH',
 '128 LOR 1 TOA PAYOH',
 '85A LOR 4 TOA PAYOH',
 '177 TOA PAYOH CTRL',
 '143 POTONG PASIR AVE 2',
 '228 LOR 8 TOA PAYOH',
 '214 LOR 8 TOA PAYOH',
 '113 POTONG PASIR AVE 1',
 '79E TOA PAYOH CTRL',
 '145 POTONG PASIR AVE 2',
 '152 LOR 2 TOA PAYOH',
 '11 JOO SENG RD',
 '255 KIM KEAT AVE',
 '248 KIM KEAT LINK',
 '508 ANG MO KIO AVE 8',
 '172 ANG MO KIO AVE 4',
 '170 ANG MO KIO AVE 4',
 '633 ANG MO KIO AVE 6',
 '151 ANG MO KIO AVE 5',
 '475 ANG MO KIO AVE 10',
 '559 ANG MO KIO AVE 10',
 '127 ANG MO KIO AVE 3',
 '605 ANG MO KIO AVE 5',
 '462 ANG MO KIO AVE 10',
 '561 ANG MO KIO AVE 10',
 '256 ANG MO KIO AVE 4',
 '538 ANG MO KIO AVE 5',
 '214 ANG MO KIO AVE 3',
 '445 ANG MO KIO AVE 10',
 '536 ANG MO KIO AVE 10',
 '443 ANG MO KIO AVE 10',
 '230 ANG MO KIO AVE 3',
 '473 ANG MO KIO AVE 10',
 '433 ANG MO KIO AVE 10',
 '643 ANG MO KIO AVE 5',
 '457 ANG MO KIO AVE 10',
 '201 ANG MO KIO AVE 3',
 '112 ANG MO KIO AVE 4',
 '503 ANG MO KIO AVE 5',
 '321 ANG MO KIO AVE 1',
 '302 ANG MO KIO AVE 3',
 '535 ANG MO KIO AVE 5',
 '586 ANG MO KIO AVE 3',
 '419 ANG MO KIO AVE 10',
 '301 ANG MO KIO AVE 3',
 '512 ANG MO KIO AVE 8',
 '329 ANG MO KIO AVE 3',
 '346 ANG MO KIO AVE 3',
 '209 ANG MO KIO AVE 3',
 '235 ANG MO KIO AVE 3',
 '134 ANG MO KIO AVE 3',
 '634 ANG MO KIO AVE 6',
 '175 ANG MO KIO AVE 4',
 '571 ANG MO KIO AVE 3',
 '354 ANG MO KIO ST 32',
 '507 ANG MO KIO AVE 8',
 '649 ANG MO KIO AVE 5',
 '429 ANG MO KIO AVE 3',
 '619 ANG MO KIO AVE 4',
 '609 ANG MO KIO AVE 4',
 '552 ANG MO KIO AVE 10',
 '317 ANG MO KIO ST 31',
 '545 ANG MO KIO AVE 10',
 '700A ANG MO KIO AVE 6',
 '7 TELOK BLANGAH CRES',
 '37 JLN RUMAH TINGGI',
 '141 JLN BT MERAH',
 '33 TELOK BLANGAH WAY',
 '18 TELOK BLANGAH CRES',
 '1 TELOK BLANGAH CRES',
 '15 TELOK BLANGAH CRES',
 '1 JLN BT MERAH',
 '22 TIONG BAHRU RD',
 '40 TELOK BLANGAH RISE',
 '106 HENDERSON CRES',
 '50 TELOK BLANGAH DR',
 '128 KIM TIAN RD',
 '134 JLN BT MERAH',
 '113 BT PURMEI RD',
 '16 CANTONMENT CL',
 '118D JLN MEMBINA',
 '9 CANTONMENT CL',
 '26B JLN MEMBINA',
 '76A REDHILL RD',
 '110 SPOTTISWOODE PK RD',
 '25 TELOK BLANGAH CRES',
 '119C KIM TIAN RD',
 '111B DEPOT RD',
 '131B KIM TIAN RD',
 '73A REDHILL RD',
 '6 TOH YI DR',
 '3 TOH YI DR',
 '706 CLEMENTI WEST ST 2',
 '713 CLEMENTI WEST ST 2',
 '362 CLEMENTI AVE 2',
 '612 CLEMENTI WEST ST 1',
 '309 CLEMENTI AVE 4',
 '428 CLEMENTI AVE 3',
 '303 CLEMENTI AVE 4',
 '509 WEST COAST DR',
 '330 CLEMENTI AVE 2',
 '310 CLEMENTI AVE 4',
 '320 CLEMENTI AVE 4',
 '319 CLEMENTI AVE 4',
 '432 CLEMENTI AVE 3',
 '715 CLEMENTI WEST ST 2',
 '205 CLEMENTI AVE 6',
 '358 CLEMENTI AVE 2',
 '364 CLEMENTI AVE 2',
 '349 CLEMENTI AVE 2',
 '373 CLEMENTI AVE 4',
 '306 CLEMENTI AVE 4',
 '117 CLEMENTI ST 13',
 '340 CLEMENTI AVE 5',
 '203 CLEMENTI AVE 6',
 '357 CLEMENTI AVE 2',
 '204 CLEMENTI AVE 6',
 '96 ALJUNIED CRES',
 '91 PAYA LEBAR WAY',
 '41 SIMS DR',
 '121 PAYA LEBAR WAY',
 '18 EUNOS CRES',
 '1 HAIG RD',
 '53 SIMS PL',
 '52 SIMS PL',
 '106 ALJUNIED CRES',
 '31 EUNOS CRES',
 '346 UBI AVE 1',
 '319 UBI AVE 1',
 '351 UBI AVE 1',
 '412 EUNOS RD 5',
 '844 SIMS AVE',
 '411 EUNOS RD 5',
 '36 EUNOS CRES',
 '39 JLN TIGA',
 '336 UBI AVE 1',
 '126 ALJUNIED RD',
 '33 BALAM RD',
 '7 MARINE TER',
 '67 MARINE DR',
 '46 MARINE CRES',
 '33 MARINE CRES',
 '31 MARINE CRES',
 '13 MARINE TER',
 '73 MARINE DR',
 "85 C'WEALTH CL",
 '5 GHIM MOH RD',
 '165 STIRLING RD',
 "101 C'WEALTH CRES",
 "90 C'WEALTH DR",
 '168 STIRLING RD',
 '32 HOLLAND CL',
 '5 DOVER CRES',
 '3 DOVER RD',
 '169 STIRLING RD',
 '47 HOLLAND DR',
 "23A QUEEN'S CL",
 '160 MEI LING ST',
 "23B QUEEN'S CL",
 '83 STRATHMORE AVE',
 "7 C'WEALTH AVE",
 '89 TANGLIN HALT RD',
 '90 TANGLIN HALT RD',
 '52 STRATHMORE AVE',
 '130 CLARENCE LANE',
 '8 GHIM MOH RD',
 '13 DOVER CL EAST',
 '58 STRATHMORE AVE',
 '62A STRATHMORE AVE',
 '160 LOR 1 TOA PAYOH',
 '161 LOR 1 TOA PAYOH',
 '174 LOR 1 TOA PAYOH',
 '53 LOR 5 TOA PAYOH',
 '4 LOR 7 TOA PAYOH',
 '34 LOR 5 TOA PAYOH',
 '26 TOA PAYOH EAST',
 '117 POTONG PASIR AVE 1',
 '125 LOR 1 TOA PAYOH',
 '100 LOR 1 TOA PAYOH',
 '141 LOR 2 TOA PAYOH',
 '79A TOA PAYOH CTRL',
 '82A LOR 4 TOA PAYOH',
 '145 LOR 2 TOA PAYOH',
 '246 KIM KEAT LINK',
 '238 LOR 1 TOA PAYOH',
 '35 LOR 5 TOA PAYOH',
 '172 LOR 1 TOA PAYOH',
 '120 ANG MO KIO AVE 3',
 '220 ANG MO KIO AVE 1',
 '576 ANG MO KIO AVE 10',
 '550 ANG MO KIO AVE 10',
 '182 ANG MO KIO AVE 5',
 '448 ANG MO KIO AVE 10',
 '570 ANG MO KIO AVE 3',
 '610 ANG MO KIO AVE 4',
 '103 ANG MO KIO AVE 3',
 '624 ANG MO KIO AVE 4',
 '233 ANG MO KIO AVE 3',
 '632 ANG MO KIO AVE 4',
 '607 ANG MO KIO AVE 4',
 '435 ANG MO KIO AVE 10',
 '444 ANG MO KIO AVE 10',
 '119 ANG MO KIO AVE 3',
 '585 ANG MO KIO AVE 3',
 '513 ANG MO KIO AVE 8',
 '504 ANG MO KIO AVE 8',
 '474 ANG MO KIO AVE 10',
 '577 ANG MO KIO AVE 10',
 '118 ANG MO KIO AVE 4',
 '124 ANG MO KIO AVE 6',
 '210 ANG MO KIO AVE 3',
 '565 ANG MO KIO AVE 3',
 '438 ANG MO KIO AVE 10',
 '426 ANG MO KIO AVE 3',
 '335 ANG MO KIO AVE 1',
 '543 ANG MO KIO AVE 10',
 '315A ANG MO KIO ST 31',
 '316A ANG MO KIO ST 31',
 '627 ANG MO KIO AVE 9',
 '129 ANG MO KIO AVE 3',
 '259 ANG MO KIO AVE 2',
 '76 TELOK BLANGAH DR',
 '28 JLN BT MERAH',
 '138 JLN BT MERAH',
 '43 TELOK BLANGAH RISE',
 '2 JLN BT MERAH',
 '44 TELOK BLANGAH DR',
 '22 TELOK BLANGAH CRES',
 '28 HOY FATT RD',
 '64 TELOK BLANGAH DR',
 '113 JLN BT MERAH',
 '61 TELOK BLANGAH HTS',
 '86 REDHILL CL',
 '22 HAVELOCK RD',
 '75 TELOK BLANGAH DR',
 '50 MOH GUAN TER',
 '146 JLN BT MERAH',
 '69 TELOK BLANGAH HTS',
 '111A DEPOT RD',
 '62 TELOK BLANGAH HTS',
 '39 JLN RUMAH TINGGI',
 '118A JLN MEMBINA',
 '6A BOON TIONG RD',
 '75B REDHILL RD',
 '25B JLN MEMBINA',
 '109A DEPOT RD',
 '116 BT MERAH CTRL',
 '87 TELOK BLANGAH HTS',
 '114 BT PURMEI RD',
 '115 BT PURMEI RD',
 '21 TELOK BLANGAH CRES',
 "4 QUEEN'S RD",
 '8 EMPRESS RD',
 '7 TOH YI DR',
 '506 WEST COAST DR',
 '507 WEST COAST DR',
 '728 CLEMENTI WEST ST 2',
 '508 WEST COAST DR',
 '730 CLEMENTI WEST ST 2',
 '334 CLEMENTI AVE 2',
 '518 WEST COAST RD',
 '329 CLEMENTI AVE 2',
 '379 CLEMENTI AVE 5',
 '105 CLEMENTI ST 12',
 '716 CLEMENTI WEST ST 2',
 "410 C'WEALTH AVE WEST",
 '380 CLEMENTI AVE 5',
 '460 CLEMENTI AVE 3',
 '118 CLEMENTI ST 13',
 '70 CIRCUIT RD',
 '34 CIRCUIT RD',
 '49 CIRCUIT RD',
 '37 CIRCUIT RD',
 '19 BALAM RD',
 '47 CIRCUIT RD',
 '57 CIRCUIT RD',
 '40 CIRCUIT RD',
 '59 CIRCUIT RD',
 '20 EUNOS CRES',
 '97 ALJUNIED CRES',
 '112 ALJUNIED CRES',
 '95 ALJUNIED CRES',
 '343 UBI AVE 1',
 '301 UBI AVE 1',
 '122 GEYLANG EAST CTRL',
 '127 GEYLANG EAST AVE 1',
 '10 EUNOS CRES',
 '11 PINE CL',
 '2A GEYLANG SERAI',
 '32 EUNOS CRES',
 '35 EUNOS CRES',
 '33 EUNOS CRES',
 '27 BALAM RD',
 '105 ALJUNIED CRES',
 '124 GEYLANG EAST AVE 1',
 '53 PIPIT RD',
 '64 MARINE DR',
 '57 MARINE TER',
 '47 MARINE CRES',
 '17 MARINE TER',
 '1 MARINE TER',
 '78 MARINE DR',
 "110 C'WEALTH CRES",
 "100 C'WEALTH CRES",
 "88 C'WEALTH CL",
 "84 C'WEALTH CL",
 '1 DOVER RD',
 '171 STIRLING RD',
 '4 HOLLAND CL',
 '162 MEI LING ST',
 '31 HOLLAND CL',
 '28C DOVER CRES',
 '23 DOVER CRES',
 '13 HOLLAND DR',
 '184 STIRLING RD',
 '182 STIRLING RD',
 '17 DOVER CRES',
 '82 STRATHMORE AVE',
 '8 LOR 7 TOA PAYOH',
 '114 POTONG PASIR AVE 1',
 '118 POTONG PASIR AVE 1',
 '148 POTONG PASIR AVE 1',
 '85B LOR 4 TOA PAYOH',
 '124 LOR 1 TOA PAYOH',
 '107 POTONG PASIR AVE 1',
 '220 LOR 8 TOA PAYOH',
 '226 LOR 8 TOA PAYOH',
 '200 TOA PAYOH NTH',
 '18 JOO SENG RD',
 '120 POTONG PASIR AVE 1',
 '242 KIM KEAT LINK',
 '10B LOR 7 TOA PAYOH',
 '191 LOR 4 TOA PAYOH',
 '154 LOR 2 TOA PAYOH',
 '79B TOA PAYOH CTRL',
 '79C TOA PAYOH CTRL',
 '14 JOO SENG RD',
 '259 KIM KEAT AVE',
 '250 KIM KEAT LINK',
 '241 KIM KEAT LINK',
 '144 LOR 2 TOA PAYOH',
 '14 LOR 7 TOA PAYOH',
 '6 LOR 7 TOA PAYOH',
 '84 LOR 2 TOA PAYOH',
 '99B LOR 2 TOA PAYOH',
 '116 ANG MO KIO AVE 4',
 '510 ANG MO KIO AVE 8',
 '323 ANG MO KIO AVE 3',
 '314 ANG MO KIO AVE 3',
 '225 ANG MO KIO AVE 1',
 '211 ANG MO KIO AVE 3',
 '219 ANG MO KIO AVE 1',
 '180 ANG MO KIO AVE 5',
 '403 ANG MO KIO AVE 10',
 '213 ANG MO KIO AVE 3',
 '604 ANG MO KIO AVE 5',
 '345 ANG MO KIO AVE 3',
 '441 ANG MO KIO AVE 10',
 '330 ANG MO KIO AVE 1',
 '456 ANG MO KIO AVE 10',
 '587 ANG MO KIO AVE 3',
 '509 ANG MO KIO AVE 8',
 '319 ANG MO KIO AVE 1',
 '348 ANG MO KIO AVE 3',
 '179 ANG MO KIO AVE 5',
 '202 ANG MO KIO AVE 3',
 '231 ANG MO KIO AVE 3',
 '472 ANG MO KIO AVE 10',
 '502 ANG MO KIO AVE 5',
 '546 ANG MO KIO AVE 10',
 '522 ANG MO KIO AVE 5',
 '635 ANG MO KIO AVE 6',
 '596D ANG MO KIO ST 52',
 '111 ANG MO KIO AVE 4',
 '101 ANG MO KIO AVE 3',
 '401 ANG MO KIO AVE 10',
 '714 ANG MO KIO AVE 6',
 '596C ANG MO KIO ST 52',
 '45 TELOK BLANGAH DR',
 '40 BEO CRES',
 '136 JLN BT MERAH',
 '65 TELOK BLANGAH DR',
 '46 JLN BT HO SWEE',
 '36 BEO CRES',
 '28 TELOK BLANGAH RISE',
 '16 TELOK BLANGAH CRES',
 '31 TELOK BLANGAH RISE',
 '107 BT PURMEI RD',
 '13 CANTONMENT CL',
 '63 TELOK BLANGAH HTS',
 '26A JLN MEMBINA',
 '36 MOH GUAN TER',
 '43 MOH GUAN TER',
 '34 TELOK BLANGAH WAY',
 '102 HENDERSON CRES',
 '48 LENGKOK BAHRU',
 '51 TELOK BLANGAH DR',
 '17A TELOK BLANGAH CRES',
 '88 TELOK BLANGAH HTS',
 '86 TELOK BLANGAH HTS',
 '17 TELOK BLANGAH CRES',
 '63A LENGKOK BAHRU',
 '131C KIM TIAN RD',
 '18 CANTONMENT CL',
 '75A REDHILL RD',
 '83 REDHILL LANE',
 '117 BT MERAH CTRL',
 '36 JLN RUMAH TINGGI',
 '1 DELTA AVE',
 '53 HAVELOCK RD',
 '17 TOH YI DR',
 '510 WEST COAST DR',
 '710 CLEMENTI WEST ST 2',
 '520 WEST COAST RD',
 '714 CLEMENTI WEST ST 2',
 '610 CLEMENTI WEST ST 1',
 '305 CLEMENTI AVE 4',
 '608 CLEMENTI WEST ST 1',
 '326 CLEMENTI AVE 5',
 '512 WEST COAST DR',
 '708 CLEMENTI WEST ST 2',
 '701 WEST COAST RD',
 '707 CLEMENTI WEST ST 2',
 '350 CLEMENTI AVE 2',
 '609 CLEMENTI WEST ST 1',
 '371 CLEMENTI AVE 4',
 '347 CLEMENTI AVE 5',
 '332 CLEMENTI AVE 2',
 '461 CLEMENTI AVE 3',
 "412 C'WEALTH AVE WEST",
 '381 CLEMENTI AVE 5',
 '333 CLEMENTI AVE 2',
 '454 CLEMENTI AVE 3',
 '457 CLEMENTI AVE 3',
 '462 CLEMENTI AVE 3',
 '723 CLEMENTI WEST ST 2',
 '372 CLEMENTI AVE 4',
 "413 C'WEALTH AVE WEST",
 "415 C'WEALTH AVE WEST",
 "414 C'WEALTH AVE WEST",
 '356 CLEMENTI AVE 2',
 '44 CIRCUIT RD',
 '63 CIRCUIT RD',
 '46 CIRCUIT RD',
 '21 BALAM RD',
 '45 CIRCUIT RD',
 '50 CIRCUIT RD',
 '22 BALAM RD',
 '24 BALAM RD',
 '32 BALAM RD',
 '304 UBI AVE 1',
 '342 UBI AVE 1',
 '24 EUNOS CRES',
 '17 EUNOS CRES',
 '3 HAIG RD',
 '36 CIRCUIT RD',
 '349 UBI AVE 1',
 '347 UBI AVE 1',
 '323 UBI AVE 1',
 '327 UBI AVE 1',
 '338 UBI AVE 1',
 '314 UBI AVE 1',
 '42 CIRCUIT RD',
 '43 SIMS DR',
 '60 DAKOTA CRES',
 '2C GEYLANG SERAI',
 '311 UBI AVE 1',
 '124 PAYA LEBAR WAY',
 '110 ALJUNIED CRES',
 '413 EUNOS RD 5',
 '417 EUNOS RD 5',
 '23 HAIG RD',
 '326 UBI AVE 1',
 '6 MARINE TER',
 '66 MARINE DR',
 '34 MARINE CRES',
 '18 MARINE TER',
 '63 MARINE DR',
 '43 MARINE CRES',
 '44 MARINE CRES',
 "81 C'WEALTH CL",
 "87 C'WEALTH CL",
 '154 MEI LING ST',
 '157 MEI LING ST',
 '1 GHIM MOH RD',
 '19 GHIM MOH RD',
 '153 MEI LING ST',
 '12 HOLLAND AVE',
 '18 DOVER CRES',
 '51 STRATHMORE AVE',
 '18B HOLLAND DR',
 '50 STRATHMORE AVE',
 '26 DOVER CRES',
 '7 GHIM MOH RD',
 '21 HOLLAND DR',
 '20 HOLLAND DR',
 '95 LOR 4 TOA PAYOH',
 '9 LOR 7 TOA PAYOH',
 '5 UPP ALJUNIED LANE',
 '206 TOA PAYOH NTH',
 '12 LOR 7 TOA PAYOH',
 '203 TOA PAYOH NTH',
 '2 LOR 7 TOA PAYOH',
 '25 TOA PAYOH EAST',
 '173 LOR 1 TOA PAYOH',
 '73 LOR 4 TOA PAYOH',
 '232 LOR 8 TOA PAYOH',
 '158 LOR 1 TOA PAYOH',
 '126 LOR 1 TOA PAYOH',
 '69 LOR 4 TOA PAYOH',
 '112 LOR 1 TOA PAYOH',
 '205 TOA PAYOH NTH',
 '186 TOA PAYOH CTRL',
 '222 LOR 8 TOA PAYOH',
 '221 LOR 8 TOA PAYOH',
 '17 JOO SENG RD',
 '247 KIM KEAT LINK',
 '153A LOR 1 TOA PAYOH',
 '251 KIM KEAT LINK',
 '223 LOR 8 TOA PAYOH',
 '215 LOR 8 TOA PAYOH',
 '97 LOR 3 TOA PAYOH',
 '122 LOR 2 TOA PAYOH',
 '147 LOR 2 TOA PAYOH',
 '101A LOR 2 TOA PAYOH',
 '181 ANG MO KIO AVE 5',
 '639 ANG MO KIO AVE 6',
 '465 ANG MO KIO AVE 10',
 '524 ANG MO KIO AVE 5',
 '542 ANG MO KIO AVE 10',
 '405 ANG MO KIO AVE 10',
 '523 ANG MO KIO AVE 5',
 '575 ANG MO KIO AVE 10',
 '108 ANG MO KIO AVE 4',
 '208 ANG MO KIO AVE 1',
 '106 ANG MO KIO AVE 4',
 '476 ANG MO KIO AVE 10',
 '606 ANG MO KIO AVE 5',
 '540 ANG MO KIO AVE 10',
 '204 ANG MO KIO AVE 3',
 '700B ANG MO KIO AVE 6',
 '596A ANG MO KIO ST 52',
 '642 ANG MO KIO AVE 5',
 '521 ANG MO KIO AVE 5',
 '102 ANG MO KIO AVE 3',
 '132 ANG MO KIO AVE 3',
 '614 ANG MO KIO AVE 4',
 '616 ANG MO KIO AVE 4',
 '32 JLN BT HO SWEE',
 '133 JLN BT MERAH',
 '20 TELOK BLANGAH CRES',
 '13 TELOK BLANGAH CRES',
 '14 TAMAN HO SWEE',
 '105 BT PURMEI RD',
 '109 BT PURMEI RD',
 '119 BT MERAH VIEW',
 '4 EVERTON PK',
 '6 EVERTON PK',
 '1 EVERTON PK',
 '2 EVERTON PK',
 '58 HAVELOCK RD',
 '48 MOH GUAN TER',
 '112 BT PURMEI RD',
 '5 DELTA AVE',
 '119D KIM TIAN RD',
 '8B BOON TIONG RD',
 '25A JLN MEMBINA',
 '19 JLN MEMBINA',
 '77A REDHILL RD',
 '109 SPOTTISWOODE PK RD',
 '18 TOH YI DR',
 '12 TOH YI DR',
 '13 TOH YI DR',
 "1 QUEEN'S RD",
 '704 WEST COAST RD',
 '702 WEST COAST RD',
 '341 CLEMENTI AVE 5',
 '367 CLEMENTI AVE 2',
 '426 CLEMENTI AVE 3',
 '339 CLEMENTI AVE 5',
 '450 CLEMENTI AVE 3',
 '327 CLEMENTI AVE 5',
 '435 CLEMENTI AVE 3',
 '301 CLEMENTI AVE 4',
 '316 CLEMENTI AVE 4',
 '604 CLEMENTI WEST ST 1',
 '724 CLEMENTI WEST ST 2',
 '114 CLEMENTI ST 13',
 '110 CLEMENTI ST 13',
 '102 CLEMENTI ST 14',
 '66 CIRCUIT RD',
 '54 CASSIA CRES',
 '329 UBI AVE 1',
 '22 EUNOS CRES',
 '9 EUNOS CRES',
 '58 DAKOTA CRES',
 '49 JLN TIGA',
 '43 JLN TIGA',
 '130 GEYLANG EAST AVE 1',
 '846 SIMS AVE',
 '61 MARINE DR',
 '76 MARINE DR',
 '62 MARINE DR',
 "96 C'WEALTH CRES",
 "86 C'WEALTH CL",
 '41 HOLLAND DR',
 '6 HOLLAND CL',
 '21 GHIM MOH RD',
 '56 STRATHMORE AVE',
 '55 STRATHMORE AVE',
 '3A HOLLAND CL',
 '129 CLARENCE LANE',
 '13 GHIM MOH RD',
 '132 CLARENCE LANE',
 '94 LOR 4 TOA PAYOH',
 '72 LOR 5 TOA PAYOH',
 '1 LOR 7 TOA PAYOH',
 '119 POTONG PASIR AVE 1',
 '17 LOR 7 TOA PAYOH',
 '159 LOR 1 TOA PAYOH',
 '219 LOR 8 TOA PAYOH',
 '15 JOO SENG RD',
 '252 KIM KEAT LINK',
 '244 KIM KEAT LINK',
 '204 TOA PAYOH NTH',
 '253 KIM KEAT AVE',
 '102 POTONG PASIR AVE 1',
 '135 POTONG PASIR AVE 3',
 '10 LOR 7 TOA PAYOH',
 '79D TOA PAYOH CTRL',
 '217 LOR 8 TOA PAYOH',
 '224 LOR 8 TOA PAYOH',
 '50 LOR 5 TOA PAYOH',
 '49 LOR 5 TOA PAYOH',
 '48 LOR 5 TOA PAYOH',
 '136 POTONG PASIR AVE 3',
 '81 LOR 4 TOA PAYOH',
 '237 LOR 1 TOA PAYOH',
 '406 ANG MO KIO AVE 10',
 '534 ANG MO KIO AVE 10',
 '178 ANG MO KIO AVE 4',
 '611 ANG MO KIO AVE 5',
 '621 ANG MO KIO AVE 9',
 '453 ANG MO KIO AVE 10',
 '258 ANG MO KIO AVE 4',
 '728 ANG MO KIO AVE 6',
 '601 ANG MO KIO AVE 5',
 '114 ANG MO KIO AVE 4',
 '549 ANG MO KIO AVE 10',
 '425 ANG MO KIO AVE 3',
 '308A ANG MO KIO AVE 1',
 '154 ANG MO KIO AVE 5',
 '547 ANG MO KIO AVE 10',
 '427 ANG MO KIO AVE 3',
 '105 ANG MO KIO AVE 4',
 '537 ANG MO KIO AVE 5',
 '325 ANG MO KIO AVE 3',
 '328 ANG MO KIO AVE 3',
 '344 ANG MO KIO AVE 3',
 '310A ANG MO KIO AVE 1',
 '310B ANG MO KIO AVE 1',
 '620 ANG MO KIO AVE 9',
 '459 ANG MO KIO AVE 10',
 '539 ANG MO KIO AVE 10',
 '351 ANG MO KIO ST 32',
 '460 ANG MO KIO AVE 10',
 '501 ANG MO KIO AVE 5',
 '312 ANG MO KIO AVE 3',
 '10 JLN BT HO SWEE',
 '42 TELOK BLANGAH RISE',
 '132 JLN BT MERAH',
 '6 TELOK BLANGAH CRES',
 '78 INDUS RD',
 '108 JLN BT MERAH',
 '105 HENDERSON CRES',
 '110 BT PURMEI RD',
 '8 CANTONMENT CL',
 '7 EVERTON PK',
 '23 TELOK BLANGAH CRES',
 '27 TELOK BLANGAH WAY',
 '56 TELOK BLANGAH HTS',
 '102 BT PURMEI RD',
 '12 CANTONMENT CL',
 '17 CANTONMENT CL',
 '22 JLN MEMBINA',
 '54 HAVELOCK RD',
 '52 LENGKOK BAHRU',
 '113 DEPOT RD',
 '8 JLN RUMAH TINGGI',
 '118B JLN MEMBINA',
 '87 REDHILL CL',
 '14 TOH YI DR',
 '519 WEST COAST RD',
 '345 CLEMENTI AVE 5',
 '328 CLEMENTI AVE 2',
 '427 CLEMENTI AVE 3',
 '375 CLEMENTI AVE 4',
 '709 CLEMENTI WEST ST 2',

In [13]:
# Script obtained from https://gist.github.com/yuan-yexi/97a199feaaea61ba3eb5c2bd10279a03#file-hdb_resale_api_to_dataframe-py
latitude = []
longitude = []
blk_no = []
road_name = []
postal_code = []
address = []
count = 0
for row in range(len(address_list)):
    #formulate query string  
    query_address = address_list[row]
    query_string='https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)
#Convert JSON into Python Object 
    data_geo_location=json.loads(resp.content)
    if data_geo_location['found'] != 0:
        latitude.append(data_geo_location['results'][0]['LATITUDE'])
        longitude.append(data_geo_location['results'][0]['LONGITUDE'])
        blk_no.append(data_geo_location['results'][0]['BLK_NO'])
        road_name.append(data_geo_location['results'][0]['ROAD_NAME'])
        postal_code.append(data_geo_location['results'][0]['POSTAL'])
        address.append(query_address)
        print (str(query_address) + " ,Lat: " + data_geo_location['results'][0]['LATITUDE'] + " Long: " + data_geo_location['results'][0]['LONGITUDE'])
    else:
        print ("No Results")

174 ANG MO KIO AVE 4 ,Lat: 1.375097469 Long: 103.83761899999999
541 ANG MO KIO AVE 10 ,Lat: 1.3739223919999999 Long: 103.8556214
163 ANG MO KIO AVE 4 ,Lat: 1.373548539 Long: 103.8381765
446 ANG MO KIO AVE 10 ,Lat: 1.367760951 Long: 103.8553571
557 ANG MO KIO AVE 10 ,Lat: 1.3716257019999998 Long: 103.8577361
603 ANG MO KIO AVE 5 ,Lat: 1.38020079 Long: 103.8357557
709 ANG MO KIO AVE 8 ,Lat: 1.3711372080000002 Long: 103.8476623
333 ANG MO KIO AVE 1 ,Lat: 1.3613425559999999 Long: 103.85169859999999
109 ANG MO KIO AVE 4 ,Lat: 1.370096538 Long: 103.8376878
564 ANG MO KIO AVE 3 ,Lat: 1.369848376 Long: 103.85940409999999
218 ANG MO KIO AVE 1 ,Lat: 1.365119086 Long: 103.84174250000001
556 ANG MO KIO AVE 10 ,Lat: 1.3720323630000002 Long: 103.8576254
156 ANG MO KIO AVE 4 ,Lat: 1.375495196 Long: 103.8399475
471 ANG MO KIO AVE 10 ,Lat: 1.363466006 Long: 103.85670290000002
434 ANG MO KIO AVE 10 ,Lat: 1.367891507 Long: 103.85345500000001
560 ANG MO KIO AVE 10 ,Lat: 1.3708162680000002 Long: 103.85919229999999
332 ANG MO KIO AVE 1 ,Lat: 1.361670308 Long: 103.8519555
421 ANG MO KIO AVE 10 ,Lat: 1.365384226 Long: 103.852967
506 ANG MO KIO AVE 8 ,Lat: 1.374400419 Long: 103.84893620000001
631 ANG MO KIO AVE 4 ,Lat: 1.379557282 Long: 103.84073570000001
153 ANG MO KIO AVE 5 ,Lat: 1.376357457 Long: 103.8420565
442 ANG MO KIO AVE 10 ,Lat: 1.365653269 Long: 103.8552322
558 ANG MO KIO AVE 10 ,Lat: 1.371236133 Long: 103.85919200000001
212 ANG MO KIO AVE 3 ,Lat: 1.368803594 Long: 103.8416181
152 ANG MO KIO AVE 5 ,Lat: 1.3766876259999998 Long: 103.8401595
331 ANG MO KIO AVE 1 ,Lat: 1.3621114069999998 Long: 103.8507665
121 ANG MO KIO AVE 3 ,Lat: 1.369705635 Long: 103.84351600000001
130 ANG MO KIO AVE 3 ,Lat: 1.3703979169999998 Long: 103.84187879999999
646 ANG MO KIO AVE 6 ,Lat: 1.379395177 Long: 103.84376359999999
424 ANG MO KIO AVE 3 ,Lat: 1.3686066030000001 Long: 103.8508088
584 ANG MO KIO AVE 3 ,Lat: 1.37071308 Long: 103.8534978
412 ANG MO KIO AVE 10 ,Lat: 1.363855122 Long: 103.855288
612 ANG MO KIO AVE 4 ,Lat: 1.378907914 Long: 103.8386027
562 ANG MO KIO AVE 3 ,Lat: 1.3701814419999998 Long: 103.8590188
223 ANG MO KIO AVE 1 ,Lat: 1.366048084 Long: 103.83812270000001
150 ANG MO KIO AVE 5 ,Lat: 1.376806785 Long: 103.84201800000001
468 ANG MO KIO AVE 10 ,Lat: 1.364876746 Long: 103.8562873
177 ANG MO KIO AVE 4 ,Lat: 1.375838271 Long: 103.83812309999999
415 ANG MO KIO AVE 10 ,Lat: 1.364453366 Long: 103.8536552
254 ANG MO KIO AVE 4 ,Lat: 1.37020344 Long: 103.8346877
207 ANG MO KIO AVE 1 ,Lat: 1.365820895 Long: 103.8428478
432 ANG MO KIO AVE 10 ,Lat: 1.36830997 Long: 103.8536003
117 ANG MO KIO AVE 4 ,Lat: 1.373717083 Long: 103.8356105
428 ANG MO KIO AVE 3 ,Lat: 1.368939065 Long: 103.8544123
573 ANG MO KIO AVE 3 ,Lat: 1.37056144 Long: 103.85482309999999
418 ANG MO KIO AVE 10 ,Lat: 1.364946014 Long: 103.8540434
324 ANG MO KIO AVE 3 ,Lat: 1.368333922 Long: 103.8468792
596B ANG MO KIO ST 52 ,Lat: 1.372051233 Long: 103.85054579999999
234 ANG MO KIO AVE 3 ,Lat: 1.3671828769999999 Long: 103.83664
648 ANG MO KIO AVE 5 ,Lat: 1.3782385940000002 Long: 103.84371970000001
253A ANG MO KIO ST 21 ,Lat: 1.369946401 Long: 103.8342845
439 ANG MO KIO AVE 10 ,Lat: 1.366291979 Long: 103.8534963
306 ANG MO KIO AVE 1 ,Lat: 1.365725522 Long: 103.84575059999999
729 ANG MO KIO AVE 6 ,Lat: 1.37386614 Long: 103.8459358
315B ANG MO KIO ST 31 ,Lat: 1.3640275730000002 Long: 103.8474787
700C ANG MO KIO AVE 6 ,Lat: 1.369441594 Long: 103.8464882
28 JLN KLINIK ,Lat: 1.28789877 Long: 103.8282036
48 LOWER DELTA RD ,Lat: 1.289442681 Long: 103.8262014
116 BT MERAH VIEW ,Lat: 1.285134271 Long: 103.82153220000001
8 JLN BT HO SWEE ,Lat: 1.287526863 Long: 103.8320205
107 JLN BT MERAH ,Lat: 1.279836902 Long: 103.8247578
5 TELOK BLANGAH CRES ,Lat: 1.2787240290000002 Long: 103.8192204
26 JLN KLINIK ,Lat: 1.288171345 Long: 103.82845400000001
129 BT MERAH VIEW ,Lat: 1.283503071 Long: 103.8233537
130 BT MERAH VIEW ,Lat: 1.284587128 Long: 103.8243603
60 TELOK BLANGAH HTS ,Lat: 1.276078958 Long: 103.8121572
130 KIM TIAN RD ,Lat: 1.280401574 Long: 103.8292786
128 BT MERAH VIEW ,Lat: 1.282646752 Long: 103.8233271
38 BEO CRES ,Lat: 1.2885539320000001 Long: 103.82729
11 CANTONMENT CL ,Lat: 1.274426047 Long: 103.8396715
77 TELOK BLANGAH DR ,Lat: 1.273941532 Long: 103.80881740000001
55 TELOK BLANGAH DR ,Lat: 1.27396036 Long: 103.8121495
26D JLN MEMBINA ,Lat: 1.28209884 Long: 103.8252028
26C JLN MEMBINA ,Lat: 1.2827579740000001 Long: 103.8252056
27 LIM LIAK ST ,Lat: 1.285437042 Long: 103.8308393
29 LIM LIAK ST ,Lat: 1.285381443 Long: 103.8304007
46 SENG POH RD ,Lat: 1.284003917 Long: 103.8315298
59 TELOK BLANGAH HTS ,Lat: 1.275353433 Long: 103.81358829999999
54 LENGKOK BAHRU ,Lat: 1.289135952 Long: 103.8136775
106A DEPOT RD ,Lat: 1.28061365 Long: 103.8109679
53 LENGKOK BAHRU ,Lat: 1.288847235 Long: 103.8134506
14 TELOK BLANGAH CRES ,Lat: 1.277395442 Long: 103.8204697
54 TELOK BLANGAH DR ,Lat: 1.273597187 Long: 103.8119421
112B DEPOT RD ,Lat: 1.2815687390000001 Long: 103.8077317
20 JLN MEMBINA ,Lat: 1.285624598 Long: 103.8259233
120 KIM TIAN PL ,Lat: 1.28295504 Long: 103.8279833
70 REDHILL CL ,Lat: 1.286726327 Long: 103.8167005
68 REDHILL CL ,Lat: 1.28687207 Long: 103.81602609999999
69 REDHILL CL ,Lat: 1.287016529 Long: 103.8163748
21 JLN MEMBINA ,Lat: 1.285086563 Long: 103.8257828
8A BOON TIONG RD ,Lat: 1.28652537 Long: 103.83012480000001
27A JLN MEMBINA ,Lat: 1.282218691 Long: 103.8245363
2A BOON TIONG RD ,Lat: 1.286529621 Long: 103.8331631
50 HOY FATT RD ,Lat: 1.287877158 Long: 103.81144090000001
106B DEPOT RD ,Lat: 1.280649504 Long: 103.8107509
95 HAVELOCK RD ,Lat: 1.288475431 Long: 103.8328482
82 REDHILL LANE ,Lat: 1.287415991 Long: 103.81947480000001
119B KIM TIAN RD ,Lat: 1.281155585 Long: 103.8272666
75C REDHILL RD ,Lat: 1.2890231429999999 Long: 103.816276
121 KIM TIAN PL ,Lat: 1.2827027020000001 Long: 103.8284912
2C BOON TIONG RD ,Lat: 1.2868576790000001 Long: 103.83284590000001
1 TOH YI DR ,Lat: 1.339571753 Long: 103.7746782
5 FARRER RD ,Lat: 1.31655991 Long: 103.8072881
513 WEST COAST RD ,Lat: 1.308666022 Long: 103.76025820000001
346 CLEMENTI AVE 5 ,Lat: 1.317016551 Long: 103.7700552
354 CLEMENTI AVE 2 ,Lat: 1.313530403 Long: 103.7708598
515 WEST COAST RD ,Lat: 1.308382745 Long: 103.75978409999999
703 WEST COAST RD ,Lat: 1.3067489620000001 Long: 103.76063359999999
602 CLEMENTI WEST ST 1 ,Lat: 1.305124151 Long: 103.766301
351 CLEMENTI AVE 2 ,Lat: 1.31535007 Long: 103.7708614
429 CLEMENTI AVE 3 ,Lat: 1.312912189 Long: 103.762861
304 CLEMENTI AVE 4 ,Lat: 1.320920573 Long: 103.7648592
307 CLEMENTI AVE 4 ,Lat: 1.321415897 Long: 103.7671055
308 CLEMENTI AVE 4 ,Lat: 1.32105185 Long: 103.7669104
374 CLEMENTI AVE 4 ,Lat: 1.3191261859999999 Long: 103.76698370000001
434 CLEMENTI AVE 3 ,Lat: 1.314568897 Long: 103.76161259999999
729 CLEMENTI WEST ST 2 ,Lat: 1.304927243 Long: 103.7635194
331 CLEMENTI AVE 2 ,Lat: 1.3141378540000002 Long: 103.76794220000001
511 WEST COAST DR ,Lat: 1.310320167 Long: 103.7604116
318 CLEMENTI AVE 4 ,Lat: 1.31803746 Long: 103.76541340000001
605 CLEMENTI WEST ST 1 ,Lat: 1.305384901 Long: 103.7680203
342 CLEMENTI AVE 5 ,Lat: 1.3183632140000001 Long: 103.7698465
43 CIRCUIT RD ,Lat: 1.326482283 Long: 103.8855449
109 ALJUNIED CRES ,Lat: 1.319392918 Long: 103.8844399
82 MACPHERSON LANE ,Lat: 1.332283325 Long: 103.88562009999998
58 CIRCUIT RD ,Lat: 1.325014662 Long: 103.88645600000001
61 CIRCUIT RD ,Lat: 1.325737428 Long: 103.88705429999999
20 BALAM RD ,Lat: 1.3308309520000001 Long: 103.8875078
93 PAYA LEBAR WAY ,Lat: 1.322734769 Long: 103.8881032
25 EUNOS CRES ,Lat: 1.3234033159999998 Long: 103.9023757
23 BALAM RD ,Lat: 1.330970967 Long: 103.88654040000002
21 EUNOS CRES ,Lat: 1.325031355 Long: 103.90328240000001
9 HAIG RD ,Lat: 1.314433815 Long: 103.8960611
16 EUNOS CRES ,Lat: 1.322994312 Long: 103.90444980000001
102 ALJUNIED CRES ,Lat: 1.32043903 Long: 103.8824204
31 BALAM RD ,Lat: 1.3296823229999999 Long: 103.885408
126 GEYLANG EAST AVE 1 ,Lat: 1.317556995 Long: 103.8871303
45 SIMS DR ,Lat: 1.317337215 Long: 103.87844270000001
10 HAIG RD ,Lat: 1.310496472 Long: 103.89750140000001
22 HAIG RD ,Lat: 1.313791315 Long: 103.8952287
34 CASSIA CRES ,Lat: 1.3096407840000002 Long: 103.8844718
34 EUNOS CRES ,Lat: 1.321013483 Long: 103.9009728

44 SIMS DR ,Lat: 1.316235211 Long: 103.8768812
352 UBI AVE 1 ,Lat: 1.3252270179999999 Long: 103.8994002
11 EUNOS CRES ,Lat: 1.321734557 Long: 103.90379420000001
11 HAIG RD ,Lat: 1.31483627 Long: 103.89663730000001
67 CIRCUIT RD ,Lat: 1.3258485759999998 Long: 103.8879265
28 CASSIA CRES ,Lat: 1.30894453 Long: 103.8835301
125 ALJUNIED RD ,Lat: 1.323270062 Long: 103.8817522
123 PAYA LEBAR WAY ,Lat: 1.322756054 Long: 103.8832352
6 HAIG RD ,Lat: 1.313176188 Long: 103.89721490000001
5 PINE CL ,Lat: 1.307043059 Long: 103.8826884
45 JLN TIGA ,Lat: 1.308637777 Long: 103.8846448
8 MARINE TER ,Lat: 1.304364656 Long: 103.91610859999999
79 MARINE DR ,Lat: 1.301533134 Long: 103.90781199999999
29 MARINE CRES ,Lat: 1.302849836 Long: 103.91319720000001
166 STIRLING RD ,Lat: 1.29069966 Long: 103.8023629
83 C'WEALTH CL ,Lat: 1.3046786609999999 Long: 103.80042359999999
97 C'WEALTH CRES ,Lat: 1.306160472 Long: 103.8014957
95 C'WEALTH DR ,Lat: 1.305387463 Long: 103.8010632
98 C'WEALTH CRES ,Lat: 1.306822191 Long: 103.80144709999999
93 C'WEALTH DR ,Lat: 1.305296495 Long: 103.800547
21 DOVER CRES ,Lat: 1.307036026 Long: 103.7846333
6 GHIM MOH RD ,Lat: 1.31228409 Long: 103.7884039
163 STIRLING RD ,Lat: 1.291876436 Long: 103.8026323
3 GHIM MOH RD ,Lat: 1.311998913 Long: 103.7871897
2 GHIM MOH RD ,Lat: 1.31237873 Long: 103.78697149999999
8 HOLLAND AVE ,Lat: 1.3065140640000001 Long: 103.794223
11 HOLLAND DR ,Lat: 1.309053945 Long: 103.79406309999999
2 DOVER RD ,Lat: 1.303103439 Long: 103.782905
161 MEI LING ST ,Lat: 1.291543916 Long: 103.803508
61B STRATHMORE AVE ,Lat: 1.29375108 Long: 103.81195670000001
168A QUEENSWAY ,Lat: 1.289285559 Long: 103.8034015
9 HOLLAND AVE ,Lat: 1.307555926 Long: 103.7944436
59 STRATHMORE AVE ,Lat: 1.2931896440000001 Long: 103.81125259999999
28B DOVER CRES ,Lat: 1.305443973 Long: 103.781869
181 STIRLING RD ,Lat: 1.294382132 Long: 103.8055602
30A HOLLAND CL ,Lat: 1.307469053 Long: 103.79718670000001
18C HOLLAND DR ,Lat: 1.310316292 Long: 103.79173890000001
48 STRATHMORE AVE ,Lat: 1.293802603 Long: 103.8077892
91 TANGLIN HALT RD ,Lat: 1.300727923 Long: 103.7994173
183 STIRLING RD ,Lat: 1.2956874059999999 Long: 103.8048623
19 DOVER CRES ,Lat: 1.307835871 Long: 103.78363590000001
49 STRATHMORE AVE ,Lat: 1.294021643 Long: 103.8082128
28A DOVER CRES ,Lat: 1.304915957 Long: 103.7821881
18D HOLLAND DR ,Lat: 1.309983984 Long: 103.79260140000001
120 LOR 2 TOA PAYOH ,Lat: 1.33913569 Long: 103.8455629
194 KIM KEAT AVE ,Lat: 1.330939337 Long: 103.8581819
195 KIM KEAT AVE ,Lat: 1.330293034 Long: 103.8591658
4 UPP ALJUNIED LANE ,Lat: 1.333547432 Long: 103.87906579999999
113 LOR 1 TOA PAYOH ,Lat: 1.34128334 Long: 103.8446055
51 LOR 6 TOA PAYOH ,Lat: 1.337783376 Long: 103.8525075
110 LOR 1 TOA PAYOH ,Lat: 1.341552751 Long: 103.8463859
38 LOR 5 TOA PAYOH ,Lat: 1.335341002 Long: 103.85485940000001
3 LOR 7 TOA PAYOH ,Lat: 1.339195454 Long: 103.8544509
108 LOR 1 TOA PAYOH ,Lat: 1.341552529 Long: 103.84729509999998
27 TOA PAYOH EAST ,Lat: 1.332270007 Long: 103.8563604
114 LOR 1 TOA PAYOH ,Lat: 1.340940348 Long: 103.8443059
168 LOR 1 TOA PAYOH ,Lat: 1.331766431 Long: 103.8434232
96 LOR 3 TOA PAYOH ,Lat: 1.338624065 Long: 103.84837979999999
23 TOA PAYOH EAST ,Lat: 1.334555701 Long: 103.8571912
118 LOR 1 TOA PAYOH ,Lat: 1.3395630170000001 Long: 103.84489359999999
123 LOR 1 TOA PAYOH ,Lat: 1.338649018 Long: 103.8457038
98 LOR 1 TOA PAYOH ,Lat: 1.33917578 Long: 103.8483801
128 LOR 1 TOA PAYOH ,Lat: 1.338216538 Long: 103.8440641
85A LOR 4 TOA PAYOH ,Lat: 1.336284836 Long: 103.8494058
177 TOA PAYOH CTRL ,Lat: 1.3339003409999999 Long: 103.8488548
143 POTONG PASIR AVE 2 ,Lat: 1.332907621 Long: 103.8661688
228 LOR 8 TOA PAYOH ,Lat: 1.3391488 Long: 103.8587797
214 LOR 8 TOA PAYOH ,Lat: 1.341833707 Long: 103.8543707
113 POTONG PASIR AVE 1 ,Lat: 1.336055939 Long: 103.8635995
79E TOA PAYOH CTRL ,Lat: 1.334727136 Long: 103.849823
145 POTONG PASIR AVE 2 ,Lat: 1.3323731779999999 Long: 103.8661652
152 LOR 2 TOA PAYOH ,Lat: 1.334167085 Long: 103.8458911
11 JOO SENG RD ,Lat: 1.33500895 Long: 103.8807063
255 KIM KEAT AVE ,Lat: 1.331659373 Long: 103.8577615
248 KIM KEAT LINK ,Lat: 1.331367167 Long: 103.8558794
508 ANG MO KIO AVE 8 ,Lat: 1.373790082 Long: 103.849029
172 ANG MO KIO AVE 4 ,Lat: 1.374776843 Long: 103.83670790000001
170 ANG MO KIO AVE 4 ,Lat: 1.374000718 Long: 103.83643149999999
633 ANG MO KIO AVE 6 ,Lat: 1.381206088 Long: 103.84225119999999
151 ANG MO KIO AVE 5 ,Lat: 1.3767110530000002 Long: 103.8411682
475 ANG MO KIO AVE 10 ,Lat: 1.3626629780000001 Long: 103.8565159
559 ANG MO KIO AVE 10 ,Lat: 1.370998107 Long: 103.8578564
127 ANG MO KIO AVE 3 ,Lat: 1.371223221 Long: 103.8435933
605 ANG MO KIO AVE 5 ,Lat: 1.3796715769999999 Long: 103.83648740000001
462 ANG MO KIO AVE 10 ,Lat: 1.366955586 Long: 103.8580313
561 ANG MO KIO AVE 10 ,Lat: 1.3705776580000002 Long: 103.8578546
256 ANG MO KIO AVE 4 ,Lat: 1.370615176 Long: 103.8359677
538 ANG MO KIO AVE 5 ,Lat: 1.3755933669999998 Long: 103.8533478
214 ANG MO KIO AVE 3 ,Lat: 1.36739222 Long: 103.8411279
445 ANG MO KIO AVE 10 ,Lat: 1.366980045 Long: 103.8557181
536 ANG MO KIO AVE 10 ,Lat: 1.374473785 Long: 103.8541005
443 ANG MO KIO AVE 10 ,Lat: 1.366043889 Long: 103.855369
230 ANG MO KIO AVE 3 ,Lat: 1.3688544519999999 Long: 103.8378964
473 ANG MO KIO AVE 10 ,Lat: 1.363053809 Long: 103.85684599999999
433 ANG MO KIO AVE 10 ,Lat: 1.368076523 Long: 103.854353
643 ANG MO KIO AVE 5 ,Lat: 1.377506269 Long: 103.8405572
457 ANG MO KIO AVE 10 ,Lat: 1.365697619 Long: 103.858942
201 ANG MO KIO AVE 3 ,Lat: 1.368849627 Long: 103.84456479999999
112 ANG MO KIO AVE 4 ,Lat: 1.371278651 Long: 103.8357666
503 ANG MO KIO AVE 5 ,Lat: 1.3754616309999999 Long: 103.84894200000001
321 ANG MO KIO AVE 1 ,Lat: 1.365117671 Long: 103.8483963
302 ANG MO KIO AVE 3 ,Lat: 1.3670898319999998 Long: 103.84566020000001
535 ANG MO KIO AVE 5 ,Lat: 1.3745825530000002 Long: 103.85304909999999
586 ANG MO KIO AVE 3 ,Lat: 1.37030353 Long: 103.8534559
419 ANG MO KIO AVE 10 ,Lat: 1.3653466969999999 Long: 103.8541518
301 ANG MO KIO AVE 3 ,Lat: 1.367421125 Long: 103.8459036
512 ANG MO KIO AVE 8 ,Lat: 1.372614741 Long: 103.8491557
329 ANG MO KIO AVE 3 ,Lat: 1.366599086 Long: 103.8468744
346 ANG MO KIO AVE 3 ,Lat: 1.3670958690000001 Long: 103.8496623
209 ANG MO KIO AVE 3 ,Lat: 1.368970796 Long: 103.8432845
235 ANG MO KIO AVE 3 ,Lat: 1.366823609 Long: 103.8364912
134 ANG MO KIO AVE 3 ,Lat: 1.372053182 Long: 103.8422497
634 ANG MO KIO AVE 6 ,Lat: 1.381582081 Long: 103.8432735
175 ANG MO KIO AVE 4 ,Lat: 1.375722647 Long: 103.8371233
571 ANG MO KIO AVE 3 ,Lat: 1.3700550130000002 Long: 103.8548806
354 ANG MO KIO ST 32 ,Lat: 1.363877525 Long: 103.8520286
507 ANG MO KIO AVE 8 ,Lat: 1.374431399 Long: 103.8501575
649 ANG MO KIO AVE 5 ,Lat: 1.377762638 Long: 103.8437822
429 ANG MO KIO AVE 3 ,Lat: 1.3690894580000001 Long: 103.8534215
619 ANG MO KIO AVE 4 ,Lat: 1.3785880769999999 Long: 103.8386397
609 ANG MO KIO AVE 4 ,Lat: 1.3792603330000002 Long: 103.8380303
552 ANG MO KIO AVE 10 ,Lat: 1.37226364 Long: 103.8568287
317 ANG MO KIO ST 31 ,Lat: 1.3656247830000001 Long: 103.8470115
545 ANG MO KIO AVE 10 ,Lat: 1.373179219 Long: 103.85629449999999
700A ANG MO KIO AVE 6 ,Lat: 1.369971289 Long: 103.8460765
7 TELOK BLANGAH CRES ,Lat: 1.278361373 Long: 103.819384
37 JLN RUMAH TINGGI ,Lat: 1.2892292890000001 Long: 103.8091934
141 JLN BT MERAH ,Lat: 1.277145597 Long: 103.8287389
33 TELOK BLANGAH WAY ,Lat: 1.2743619640000001 Long: 103.822184
18 TELOK BLANGAH CRES ,Lat: 1.277909847 Long: 103.8225358
1 TELOK BLANGAH CRES ,Lat: 1.279456601 Long: 103.8178976
15 TELOK BLANGAH CRES ,Lat: 1.277060448 Long: 103.8207621
1 JLN BT MERAH ,Lat: 1.28645354 Long: 103.80824240000001
22 TIONG BAHRU RD ,Lat: 1.285699484 Long: 103.83171180000001
40 TELOK BLANGAH RISE ,Lat: 1.272099266 Long: 103.8232451
106 HENDERSON CRES ,Lat: 1.289426079 Long: 103.8222768
50 TELOK BLANGAH DR ,Lat: 1.27309041 Long: 103.8101436
128 KIM TIAN RD ,Lat: 1.281524648 Long: 103.82905459999999
134 JLN BT MERAH ,Lat: 1.279256199 Long: 103.82720929999999
113 BT PURMEI RD ,Lat: 1.274770125 Long: 103.8269323
16 CANTONMENT CL ,Lat: 1.273919926 Long: 103.8402609
118D JLN MEMBINA ,Lat: 1.282681051 Long: 103.8265834
9 CANTONMENT CL ,Lat: 1.275301801 Long: 103.8392073

26B JLN MEMBINA ,Lat: 1.283092071 Long: 103.8255924
76A REDHILL RD ,Lat: 1.28871632 Long: 103.8168546
110 SPOTTISWOODE PK RD ,Lat: 1.273638234 Long: 103.8364203
25 TELOK BLANGAH CRES ,Lat: 1.276336898 Long: 103.8191944
119C KIM TIAN RD ,Lat: 1.281489151 Long: 103.82767199999999
111B DEPOT RD ,Lat: 1.281165101 Long: 103.80847179999999
131B KIM TIAN RD ,Lat: 1.280917569 Long: 103.8283703
73A REDHILL RD ,Lat: 1.28793757 Long: 103.81679090000002
6 TOH YI DR ,Lat: 1.337773028 Long: 103.7751307
3 TOH YI DR ,Lat: 1.338774304 Long: 103.7752542
706 CLEMENTI WEST ST 2 ,Lat: 1.30676076 Long: 103.76236309999999
713 CLEMENTI WEST ST 2 ,Lat: 1.304127842 Long: 103.7622063
362 CLEMENTI AVE 2 ,Lat: 1.312716928 Long: 103.7699026
612 CLEMENTI WEST ST 1 ,Lat: 1.303442199 Long: 103.7686334
309 CLEMENTI AVE 4 ,Lat: 1.320919814 Long: 103.7663776
428 CLEMENTI AVE 3 ,Lat: 1.312511991 Long: 103.76326879999999
303 CLEMENTI AVE 4 ,Lat: 1.321329477 Long: 103.76481590000002
509 WEST COAST DR ,Lat: 1.311157758 Long: 103.76101750000001
330 CLEMENTI AVE 2 ,Lat: 1.313744705 Long: 103.7677818
310 CLEMENTI AVE 4 ,Lat: 1.32027016 Long: 103.76594490000001
320 CLEMENTI AVE 4 ,Lat: 1.3169013440000001 Long: 103.7653107
319 CLEMENTI AVE 4 ,Lat: 1.317380237 Long: 103.764787
432 CLEMENTI AVE 3 ,Lat: 1.3140205759999999 Long: 103.7627406
715 CLEMENTI WEST ST 2 ,Lat: 1.303153603 Long: 103.7619437
205 CLEMENTI AVE 6 ,Lat: 1.321059963 Long: 103.7624347
358 CLEMENTI AVE 2 ,Lat: 1.313585749 Long: 103.7690843
364 CLEMENTI AVE 2 ,Lat: 1.312406419 Long: 103.76875229999999
349 CLEMENTI AVE 2 ,Lat: 1.315958638 Long: 103.77105440000001
373 CLEMENTI AVE 4 ,Lat: 1.319490182 Long: 103.7673379
306 CLEMENTI AVE 4 ,Lat: 1.321438261 Long: 103.7659013
117 CLEMENTI ST 13 ,Lat: 1.324460582 Long: 103.77118459999998
340 CLEMENTI AVE 5 ,Lat: 1.3187287540000001 Long: 103.7700713
203 CLEMENTI AVE 6 ,Lat: 1.320771283 Long: 103.76231690000002
357 CLEMENTI AVE 2 ,Lat: 1.3140827959999999 Long: 103.7692027
204 CLEMENTI AVE 6 ,Lat: 1.320985887 Long: 103.7632317
96 ALJUNIED CRES ,Lat: 1.321656498 Long: 103.88542340000001
91 PAYA LEBAR WAY ,Lat: 1.322681161 Long: 103.88673790000001
41 SIMS DR ,Lat: 1.316855329 Long: 103.8755513
121 PAYA LEBAR WAY ,Lat: 1.321925016 Long: 103.8828604
18 EUNOS CRES ,Lat: 1.323741518 Long: 103.9043603
1 HAIG RD ,Lat: 1.311290912 Long: 103.89770340000001
53 SIMS PL ,Lat: 1.317823747 Long: 103.88007759999999
52 SIMS PL ,Lat: 1.316665447 Long: 103.8803905
106 ALJUNIED CRES ,Lat: 1.31905495 Long: 103.88290090000001
31 EUNOS CRES ,Lat: 1.3203893629999999 Long: 103.901842
346 UBI AVE 1 ,Lat: 1.325981655 Long: 103.89967340000001
319 UBI AVE 1 ,Lat: 1.328273258 Long: 103.9035943
351 UBI AVE 1 ,Lat: 1.325486285 Long: 103.9007277
412 EUNOS RD 5 ,Lat: 1.318315638 Long: 103.8990247
844 SIMS AVE ,Lat: 1.318183439 Long: 103.90131120000001
411 EUNOS RD 5 ,Lat: 1.3185941959999998 Long: 103.8996802
36 EUNOS CRES ,Lat: 1.321171644 Long: 103.9017728
39 JLN TIGA ,Lat: 1.307820603 Long: 103.8850923
336 UBI AVE 1 ,Lat: 1.325720203 Long: 103.9018224
126 ALJUNIED RD ,Lat: 1.323626344 Long: 103.8821205
33 BALAM RD ,Lat: 1.3297666540000002 Long: 103.8862292
7 MARINE TER ,Lat: 1.304097943 Long: 103.91727540000001
67 MARINE DR ,Lat: 1.304457437 Long: 103.90960290000001
46 MARINE CRES ,Lat: 1.3051024009999999 Long: 103.91266479999999
33 MARINE CRES ,Lat: 1.302648966 Long: 103.9121848
31 MARINE CRES ,Lat: 1.3037055659999999 Long: 103.9114448
13 MARINE TER ,Lat: 1.304041685 Long: 103.9155755
73 MARINE DR ,Lat: 1.3038054159999999 Long: 103.9083624
85 C'WEALTH CL ,Lat: 1.304074953 Long: 103.79933170000001
5 GHIM MOH RD ,Lat: 1.312693106 Long: 103.7883088
165 STIRLING RD ,Lat: 1.290764057 Long: 103.80191640000001
101 C'WEALTH CRES ,Lat: 1.308051592 Long: 103.8008428
90 C'WEALTH DR ,Lat: 1.30542326 Long: 103.79967459999999
168 STIRLING RD ,Lat: 1.290020507 Long: 103.803188
32 HOLLAND CL ,Lat: 1.306184893 Long: 103.7968812
5 DOVER CRES ,Lat: 1.304060128 Long: 103.7826372
3 DOVER RD ,Lat: 1.303735921 Long: 103.7824438
169 STIRLING RD ,Lat: 1.290434865 Long: 103.8031059
47 HOLLAND DR ,Lat: 1.308532495 Long: 103.79238509999999
23A QUEEN'S CL ,Lat: 1.29429994 Long: 103.79972590000001
160 MEI LING ST ,Lat: 1.2920969070000001 Long: 103.8042298
23B QUEEN'S CL ,Lat: 1.294073335 Long: 103.8000265
83 STRATHMORE AVE ,Lat: 1.294642864 Long: 103.80826400000001
7 C'WEALTH AVE ,Lat: 1.306456477 Long: 103.79476559999999
89 TANGLIN HALT RD ,Lat: 1.3012003540000001 Long: 103.79892190000001
90 TANGLIN HALT RD ,Lat: 1.300517009 Long: 103.79897629999999
52 STRATHMORE AVE ,Lat: 1.293313145 Long: 103.80825340000001
130 CLARENCE LANE ,Lat: 1.2927212670000001 Long: 103.8148357
8 GHIM MOH RD ,Lat: 1.310572276 Long: 103.7876431
13 DOVER CL EAST ,Lat: 1.305370112 Long: 103.7860795
58 STRATHMORE AVE ,Lat: 1.29308496 Long: 103.8107889
62A STRATHMORE AVE ,Lat: 1.294386975 Long: 103.8114265
160 LOR 1 TOA PAYOH ,Lat: 1.330944255 Long: 103.8450204
161 LOR 1 TOA PAYOH ,Lat: 1.330509323 Long: 103.8450036
174 LOR 1 TOA PAYOH ,Lat: 1.330672097 Long: 103.8419179
53 LOR 5 TOA PAYOH ,Lat: 1.337804522 Long: 103.85079329999999
4 LOR 7 TOA PAYOH ,Lat: 1.339044798 Long: 103.8555411
34 LOR 5 TOA PAYOH ,Lat: 1.3347997329999999 Long: 103.8541555
26 TOA PAYOH EAST ,Lat: 1.33291837 Long: 103.8567631
117 POTONG PASIR AVE 1 ,Lat: 1.336008253 Long: 103.8630208
125 LOR 1 TOA PAYOH ,Lat: 1.338331334 Long: 103.8457371
100 LOR 1 TOA PAYOH ,Lat: 1.339564005 Long: 103.8485857
141 LOR 2 TOA PAYOH ,Lat: 1.33583762 Long: 103.8457312
79A TOA PAYOH CTRL ,Lat: 1.334531295 Long: 103.8475657
82A LOR 4 TOA PAYOH ,Lat: 1.3359795270000001 Long: 103.84895390000001
145 LOR 2 TOA PAYOH ,Lat: 1.335210354 Long: 103.84616290000001
246 KIM KEAT LINK ,Lat: 1.330780827 Long: 103.8558443
238 LOR 1 TOA PAYOH ,Lat: 1.340210062 Long: 103.85157459999999
35 LOR 5 TOA PAYOH ,Lat: 1.334327797 Long: 103.8544908
172 LOR 1 TOA PAYOH ,Lat: 1.330354894 Long: 103.84305340000002
120 ANG MO KIO AVE 3 ,Lat: 1.3700473969999998 Long: 103.8445948
220 ANG MO KIO AVE 1 ,Lat: 1.3655883359999998 Long: 103.8405189
576 ANG MO KIO AVE 10 ,Lat: 1.371402396 Long: 103.85484579999999
550 ANG MO KIO AVE 10 ,Lat: 1.373607695 Long: 103.85820490000002
182 ANG MO KIO AVE 5 ,Lat: 1.377339085 Long: 103.8364724
448 ANG MO KIO AVE 10 ,Lat: 1.3674419009999998 Long: 103.8563966
570 ANG MO KIO AVE 3 ,Lat: 1.369743586 Long: 103.85602309999999
610 ANG MO KIO AVE 4 ,Lat: 1.37939471 Long: 103.8391572
103 ANG MO KIO AVE 3 ,Lat: 1.371016578 Long: 103.8393048
624 ANG MO KIO AVE 4 ,Lat: 1.3815617119999999 Long: 103.8400023
233 ANG MO KIO AVE 3 ,Lat: 1.36754925 Long: 103.8367406
632 ANG MO KIO AVE 4 ,Lat: 1.3794906480000002 Long: 103.84148259999999
607 ANG MO KIO AVE 4 ,Lat: 1.3804675869999998 Long: 103.8388167
435 ANG MO KIO AVE 10 ,Lat: 1.367703678 Long: 103.8542143
444 ANG MO KIO AVE 10 ,Lat: 1.3666004530000002 Long: 103.85557879999999
119 ANG MO KIO AVE 3 ,Lat: 1.369563443 Long: 103.84469890000001
585 ANG MO KIO AVE 3 ,Lat: 1.3705975609999999 Long: 103.852367
513 ANG MO KIO AVE 8 ,Lat: 1.372736969 Long: 103.8501949
504 ANG MO KIO AVE 8 ,Lat: 1.374825895 Long: 103.8489561
474 ANG MO KIO AVE 10 ,Lat: 1.362757847 Long: 103.85801529999999
577 ANG MO KIO AVE 10 ,Lat: 1.3717873280000001 Long: 103.85585440000001
118 ANG MO KIO AVE 4 ,Lat: 1.3732959359999999 Long: 103.8354757
124 ANG MO KIO AVE 6 ,Lat: 1.3708917930000002 Long: 103.8447683
210 ANG MO KIO AVE 3 ,Lat: 1.368560059 Long: 103.84323509999999
565 ANG MO KIO AVE 3 ,Lat: 1.369539344 Long: 103.85838559999999
438 ANG MO KIO AVE 10 ,Lat: 1.366970817 Long: 103.8539066
426 ANG MO KIO AVE 3 ,Lat: 1.3694804680000001 Long: 103.8533098
335 ANG MO KIO AVE 1 ,Lat: 1.363209968 Long: 103.8506906
543 ANG MO KIO AVE 10 ,Lat: 1.3743011440000001 Long: 103.85623559999999
315A ANG MO KIO ST 31 ,Lat: 1.364218315 Long: 103.8468615
316A ANG MO KIO ST 31 ,Lat: 1.3647659859999999 Long: 103.8469079
627 ANG MO KIO AVE 9 ,Lat: 1.3818354780000002 Long: 103.8413691
129 ANG MO KIO AVE 3 ,Lat: 1.369894989 Long: 103.84205899999999
259 ANG MO KIO AVE 2 ,Lat: 1.368581482 Long: 103.8315578
76 TELOK BLANGAH DR ,Lat: 1.274383638 Long: 103.80874179999999
28 JLN BT MERAH ,Lat: 1.286403502 Long: 103.809742
138 JLN BT MERAH ,Lat: 1.27842357 Long: 103.8262376

43 TELOK BLANGAH RISE ,Lat: 1.270379512 Long: 103.823236
2 JLN BT MERAH ,Lat: 1.2866292129999999 Long: 103.8068619
44 TELOK BLANGAH DR ,Lat: 1.271408833 Long: 103.8108875
22 TELOK BLANGAH CRES ,Lat: 1.2765592159999999 Long: 103.81982190000001
28 HOY FATT RD ,Lat: 1.2867565440000002 Long: 103.81012170000001
64 TELOK BLANGAH DR ,Lat: 1.274506393 Long: 103.8105355
113 JLN BT MERAH ,Lat: 1.280277649 Long: 103.82572359999999
61 TELOK BLANGAH HTS ,Lat: 1.2757050079999999 Long: 103.8120071
86 REDHILL CL ,Lat: 1.286920062 Long: 103.8186736
22 HAVELOCK RD ,Lat: 1.2887848240000002 Long: 103.82826850000001
75 TELOK BLANGAH DR ,Lat: 1.274896709 Long: 103.8086953
50 MOH GUAN TER ,Lat: 1.28407985 Long: 103.83052550000001
146 JLN BT MERAH ,Lat: 1.277848766 Long: 103.8308115
69 TELOK BLANGAH HTS ,Lat: 1.275583428 Long: 103.810314
111A DEPOT RD ,Lat: 1.281122693 Long: 103.80868790000001
62 TELOK BLANGAH HTS ,Lat: 1.2752454309999999 Long: 103.81110670000001
39 JLN RUMAH TINGGI ,Lat: 1.2886333429999999 Long: 103.81001590000001
118A JLN MEMBINA ,Lat: 1.281420282 Long: 103.82564520000001
6A BOON TIONG RD ,Lat: 1.286835248 Long: 103.83134759999999
75B REDHILL RD ,Lat: 1.288480938 Long: 103.8158788
25B JLN MEMBINA ,Lat: 1.28362147 Long: 103.825391
109A DEPOT RD ,Lat: 1.280957713 Long: 103.8094402
116 BT MERAH CTRL ,Lat: 1.283910308 Long: 103.8149833
87 TELOK BLANGAH HTS ,Lat: 1.276867842 Long: 103.8081486
114 BT PURMEI RD ,Lat: 1.275071819 Long: 103.8258872
115 BT PURMEI RD ,Lat: 1.275352014 Long: 103.8269502
21 TELOK BLANGAH CRES ,Lat: 1.276607945 Long: 103.8208981
4 QUEEN'S RD ,Lat: 1.318832253 Long: 103.80806199999999
8 EMPRESS RD ,Lat: 1.316411901 Long: 103.8053738
7 TOH YI DR ,Lat: 1.337373144 Long: 103.7750432
506 WEST COAST DR ,Lat: 1.312516969 Long: 103.76086740000001
507 WEST COAST DR ,Lat: 1.3120796890000002 Long: 103.76080209999999
728 CLEMENTI WEST ST 2 ,Lat: 1.305202068 Long: 103.76383340000001
508 WEST COAST DR ,Lat: 1.311659735 Long: 103.7617615
730 CLEMENTI WEST ST 2 ,Lat: 1.304777153 Long: 103.763122
334 CLEMENTI AVE 2 ,Lat: 1.315185027 Long: 103.7684327
518 WEST COAST RD ,Lat: 1.308217599 Long: 103.7589432
329 CLEMENTI AVE 2 ,Lat: 1.3130671809999999 Long: 103.76733929999999
379 CLEMENTI AVE 5 ,Lat: 1.317978017 Long: 103.7678315
105 CLEMENTI ST 12 ,Lat: 1.32271179 Long: 103.76988809999999
716 CLEMENTI WEST ST 2 ,Lat: 1.301917877 Long: 103.76307340000001
410 C'WEALTH AVE WEST ,Lat: 1.311441232 Long: 103.769692
380 CLEMENTI AVE 5 ,Lat: 1.3183442909999998 Long: 103.767572
460 CLEMENTI AVE 3 ,Lat: 1.311151417 Long: 103.7669352
118 CLEMENTI ST 13 ,Lat: 1.324917987 Long: 103.77189109999999
70 CIRCUIT RD ,Lat: 1.325195913 Long: 103.88804
34 CIRCUIT RD ,Lat: 1.329043618 Long: 103.8874381
49 CIRCUIT RD ,Lat: 1.325132403 Long: 103.8856108
37 CIRCUIT RD ,Lat: 1.328174693 Long: 103.88648420000001
19 BALAM RD ,Lat: 1.3314236259999999 Long: 103.8874103
47 CIRCUIT RD ,Lat: 1.325775271 Long: 103.8857036
57 CIRCUIT RD ,Lat: 1.324723117 Long: 103.8866857
40 CIRCUIT RD ,Lat: 1.3276769590000002 Long: 103.8862647
59 CIRCUIT RD ,Lat: 1.325248773 Long: 103.88675759999998
20 EUNOS CRES ,Lat: 1.3246564840000001 Long: 103.9032431
97 ALJUNIED CRES ,Lat: 1.321114034 Long: 103.88610859999999
112 ALJUNIED CRES ,Lat: 1.320418047 Long: 103.88509870000001
95 ALJUNIED CRES ,Lat: 1.32170329 Long: 103.8861957
343 UBI AVE 1 ,Lat: 1.3265066559999998 Long: 103.9004921
301 UBI AVE 1 ,Lat: 1.330688025 Long: 103.901953
122 GEYLANG EAST CTRL ,Lat: 1.317679503 Long: 103.88497149999999
127 GEYLANG EAST AVE 1 ,Lat: 1.31772915 Long: 103.8877599
10 EUNOS CRES ,Lat: 1.3222865590000001 Long: 103.9027205
11 PINE CL ,Lat: 1.308112642 Long: 103.8826938
2A GEYLANG SERAI ,Lat: 1.3169964859999999 Long: 103.89774890000001
32 EUNOS CRES ,Lat: 1.320292535 Long: 103.901356
35 EUNOS CRES ,Lat: 1.321107539 Long: 103.90137259999999
33 EUNOS CRES ,Lat: 1.320183255 Long: 103.90080490000001
27 BALAM RD ,Lat: 1.3303081159999999 Long: 103.8863082
105 ALJUNIED CRES ,Lat: 1.319468621 Long: 103.8827515
124 GEYLANG EAST AVE 1 ,Lat: 1.318388638 Long: 103.8866757
53 PIPIT RD ,Lat: 1.323993056 Long: 103.8866927
64 MARINE DR ,Lat: 1.3021128020000001 Long: 103.9094814
57 MARINE TER ,Lat: 1.306512573 Long: 103.9154848
47 MARINE CRES ,Lat: 1.305723545 Long: 103.9125305
17 MARINE TER ,Lat: 1.303767822 Long: 103.914176
1 MARINE TER ,Lat: 1.304829022 Long: 103.918615
78 MARINE DR ,Lat: 1.301552313 Long: 103.90840809999999
110 C'WEALTH CRES ,Lat: 1.306798924 Long: 103.79865720000001
100 C'WEALTH CRES ,Lat: 1.3077052759999999 Long: 103.8012725
88 C'WEALTH CL ,Lat: 1.304886344 Long: 103.7991816
84 C'WEALTH CL ,Lat: 1.3036189409999999 Long: 103.7997755
1 DOVER RD ,Lat: 1.302525747 Long: 103.78327320000001
171 STIRLING RD ,Lat: 1.290732462 Long: 103.80384690000001
4 HOLLAND CL ,Lat: 1.307968264 Long: 103.7956465
162 MEI LING ST ,Lat: 1.292254671 Long: 103.80285699999999
31 HOLLAND CL ,Lat: 1.306975268 Long: 103.79708029999999
28C DOVER CRES ,Lat: 1.305689258 Long: 103.78234599999999
23 DOVER CRES ,Lat: 1.307436465 Long: 103.7836295
13 HOLLAND DR ,Lat: 1.309360395 Long: 103.7932051
184 STIRLING RD ,Lat: 1.295609547 Long: 103.80447290000001
182 STIRLING RD ,Lat: 1.295382633 Long: 103.80496240000001
17 DOVER CRES ,Lat: 1.307654538 Long: 103.7828912
82 STRATHMORE AVE ,Lat: 1.2945452590000002 Long: 103.8087511
8 LOR 7 TOA PAYOH ,Lat: 1.3378805009999999 Long: 103.85661280000001
114 POTONG PASIR AVE 1 ,Lat: 1.3367749290000002 Long: 103.8633064
118 POTONG PASIR AVE 1 ,Lat: 1.335481474 Long: 103.86265379999999
148 POTONG PASIR AVE 1 ,Lat: 1.33235436 Long: 103.86777430000001
85B LOR 4 TOA PAYOH ,Lat: 1.336285352 Long: 103.848443
124 LOR 1 TOA PAYOH ,Lat: 1.338648767 Long: 103.8446273
107 POTONG PASIR AVE 1 ,Lat: 1.334709369 Long: 103.86841319999999
220 LOR 8 TOA PAYOH ,Lat: 1.3426167340000001 Long: 103.85645490000002
226 LOR 8 TOA PAYOH ,Lat: 1.339515666 Long: 103.857051
200 TOA PAYOH NTH ,Lat: 1.341672927 Long: 103.8510078
18 JOO SENG RD ,Lat: 1.3368492220000001 Long: 103.8811415
120 POTONG PASIR AVE 1 ,Lat: 1.335453532 Long: 103.863388
242 KIM KEAT LINK ,Lat: 1.32985846 Long: 103.85582140000001
10B LOR 7 TOA PAYOH ,Lat: 1.337161364 Long: 103.8583536
191 LOR 4 TOA PAYOH ,Lat: 1.331893276 Long: 103.85102540000001
154 LOR 2 TOA PAYOH ,Lat: 1.33328783 Long: 103.84616559999999
79B TOA PAYOH CTRL ,Lat: 1.334640783 Long: 103.84799029999999
79C TOA PAYOH CTRL ,Lat: 1.3346605790000001 Long: 103.84857779999999
14 JOO SENG RD ,Lat: 1.336073653 Long: 103.87985379999999
259 KIM KEAT AVE ,Lat: 1.333895887 Long: 103.85755879999999
250 KIM KEAT LINK ,Lat: 1.331994266 Long: 103.8566507
241 KIM KEAT LINK ,Lat: 1.3305053629999999 Long: 103.85577640000001
144 LOR 2 TOA PAYOH ,Lat: 1.335350733 Long: 103.84402709999999
14 LOR 7 TOA PAYOH ,Lat: 1.336668967 Long: 103.8583536
6 LOR 7 TOA PAYOH ,Lat: 1.338582807 Long: 103.85719240000002
84 LOR 2 TOA PAYOH ,Lat: 1.335221458 Long: 103.8476536
99B LOR 2 TOA PAYOH ,Lat: 1.338744965 Long: 103.84725279999999
116 ANG MO KIO AVE 4 ,Lat: 1.37334635 Long: 103.8364593
510 ANG MO KIO AVE 8 ,Lat: 1.373400926 Long: 103.8490732
323 ANG MO KIO AVE 3 ,Lat: 1.367541521 Long: 103.8478092
314 ANG MO KIO AVE 3 ,Lat: 1.366227071 Long: 103.85008590000001
225 ANG MO KIO AVE 1 ,Lat: 1.3673961280000002 Long: 103.83815
211 ANG MO KIO AVE 3 ,Lat: 1.3691969659999998 Long: 103.8416666
219 ANG MO KIO AVE 1 ,Lat: 1.36598198 Long: 103.840654
180 ANG MO KIO AVE 5 ,Lat: 1.376677065 Long: 103.83836099999999
403 ANG MO KIO AVE 10 ,Lat: 1.361269015 Long: 103.85464240000002
213 ANG MO KIO AVE 3 ,Lat: 1.367769472 Long: 103.8412554
604 ANG MO KIO AVE 5 ,Lat: 1.379866581 Long: 103.8359767
345 ANG MO KIO AVE 3 ,Lat: 1.367487025 Long: 103.8496517
441 ANG MO KIO AVE 10 ,Lat: 1.3660502780000001 Long: 103.8541683
330 ANG MO KIO AVE 1 ,Lat: 1.3624318640000002 Long: 103.85103070000001
456 ANG MO KIO AVE 10 ,Lat: 1.36716072 Long: 103.85865849999999
587 ANG MO KIO AVE 3 ,Lat: 1.370188804 Long: 103.8524295
509 ANG MO KIO AVE 8 ,Lat: 1.374000865 Long: 103.8501398
319 ANG MO KIO AVE 1 ,Lat: 1.3650978530000002 Long: 103.8473807
348 ANG MO KIO AVE 3 ,Lat: 1.36619757 Long: 103.8478999
179 ANG MO KIO AVE 5 ,Lat: 1.376904181 Long: 103.8362181
202 ANG MO KIO AVE 3 ,Lat: 1.36844644 Long: 103.8445163

231 ANG MO KIO AVE 3 ,Lat: 1.368561036 Long: 103.8375252
472 ANG MO KIO AVE 10 ,Lat: 1.3631439269999999 Long: 103.8581186
502 ANG MO KIO AVE 5 ,Lat: 1.375724748 Long: 103.8499343
546 ANG MO KIO AVE 10 ,Lat: 1.373651239 Long: 103.8570222
522 ANG MO KIO AVE 5 ,Lat: 1.373115919 Long: 103.85194940000001
635 ANG MO KIO AVE 6 ,Lat: 1.380768961 Long: 103.84237840000002
596D ANG MO KIO ST 52 ,Lat: 1.3718713530000002 Long: 103.8510304
111 ANG MO KIO AVE 4 ,Lat: 1.37085149 Long: 103.8372982
101 ANG MO KIO AVE 3 ,Lat: 1.370261584 Long: 103.8394679
401 ANG MO KIO AVE 10 ,Lat: 1.361017656 Long: 103.85538759999999
714 ANG MO KIO AVE 6 ,Lat: 1.3710964980000002 Long: 103.84623149999999
596C ANG MO KIO ST 52 ,Lat: 1.371935719 Long: 103.8501433
45 TELOK BLANGAH DR ,Lat: 1.271757071 Long: 103.80956040000001
40 BEO CRES ,Lat: 1.289057892 Long: 103.827513
136 JLN BT MERAH ,Lat: 1.278287639 Long: 103.8275372
65 TELOK BLANGAH DR ,Lat: 1.274062304 Long: 103.81042409999999
46 JLN BT HO SWEE ,Lat: 1.288295797 Long: 103.8261447
36 BEO CRES ,Lat: 1.288300791 Long: 103.8271804
28 TELOK BLANGAH RISE ,Lat: 1.273947618 Long: 103.82086690000001
16 TELOK BLANGAH CRES ,Lat: 1.278053652 Long: 103.8215046
31 TELOK BLANGAH RISE ,Lat: 1.272397327 Long: 103.82083270000001
107 BT PURMEI RD ,Lat: 1.273101655 Long: 103.82450859999999
13 CANTONMENT CL ,Lat: 1.27469944 Long: 103.8404854
63 TELOK BLANGAH HTS ,Lat: 1.274831282 Long: 103.8109414
26A JLN MEMBINA ,Lat: 1.283062285 Long: 103.8260599
36 MOH GUAN TER ,Lat: 1.284881937 Long: 103.83104240000002
43 MOH GUAN TER ,Lat: 1.284670567 Long: 103.8310493
34 TELOK BLANGAH WAY ,Lat: 1.273517801 Long: 103.82248100000001
102 HENDERSON CRES ,Lat: 1.290366187 Long: 103.8215771
48 LENGKOK BAHRU ,Lat: 1.287277396 Long: 103.8109636
51 TELOK BLANGAH DR ,Lat: 1.2735133790000002 Long: 103.8101453
17A TELOK BLANGAH CRES ,Lat: 1.277382607 Long: 103.82160400000001
88 TELOK BLANGAH HTS ,Lat: 1.27736919 Long: 103.80825490000001
86 TELOK BLANGAH HTS ,Lat: 1.276756464 Long: 103.80852519999999
17 TELOK BLANGAH CRES ,Lat: 1.277767863 Long: 103.8217024
63A LENGKOK BAHRU ,Lat: 1.289651 Long: 103.8153995
131C KIM TIAN RD ,Lat: 1.280312427 Long: 103.8288223
18 CANTONMENT CL ,Lat: 1.273901446 Long: 103.8394173
75A REDHILL RD ,Lat: 1.288053157 Long: 103.81527709999999
83 REDHILL LANE ,Lat: 1.286868975 Long: 103.8194359
117 BT MERAH CTRL ,Lat: 1.28365235 Long: 103.81541109999999
36 JLN RUMAH TINGGI ,Lat: 1.288501554 Long: 103.80877679999999
1 DELTA AVE ,Lat: 1.292075251 Long: 103.82858409999999
53 HAVELOCK RD ,Lat: 1.289336654 Long: 103.8289203
17 TOH YI DR ,Lat: 1.33976904 Long: 103.7725561
510 WEST COAST DR ,Lat: 1.310822503 Long: 103.760806
710 CLEMENTI WEST ST 2 ,Lat: 1.306289119 Long: 103.7615181
520 WEST COAST RD ,Lat: 1.3071477440000001 Long: 103.75962840000001
714 CLEMENTI WEST ST 2 ,Lat: 1.304303413 Long: 103.7616821
610 CLEMENTI WEST ST 1 ,Lat: 1.304547045 Long: 103.76877359999999
305 CLEMENTI AVE 4 ,Lat: 1.322061089 Long: 103.766014
608 CLEMENTI WEST ST 1 ,Lat: 1.304341103 Long: 103.7665298
326 CLEMENTI AVE 5 ,Lat: 1.314430816 Long: 103.7663583
512 WEST COAST DR ,Lat: 1.309959001 Long: 103.7602103
708 CLEMENTI WEST ST 2 ,Lat: 1.305718723 Long: 103.7621678
701 WEST COAST RD ,Lat: 1.307611942 Long: 103.7613764
707 CLEMENTI WEST ST 2 ,Lat: 1.306287483 Long: 103.762395
350 CLEMENTI AVE 2 ,Lat: 1.315620153 Long: 103.7701917
609 CLEMENTI WEST ST 1 ,Lat: 1.304092426 Long: 103.76552209999998
371 CLEMENTI AVE 4 ,Lat: 1.320574657 Long: 103.76821190000001
347 CLEMENTI AVE 5 ,Lat: 1.317179474 Long: 103.77078879999999
332 CLEMENTI AVE 2 ,Lat: 1.314740295 Long: 103.7674876
461 CLEMENTI AVE 3 ,Lat: 1.311099155 Long: 103.7663995
412 C'WEALTH AVE WEST ,Lat: 1.310908639 Long: 103.77066429999999
381 CLEMENTI AVE 5 ,Lat: 1.318555348 Long: 103.7680283
333 CLEMENTI AVE 2 ,Lat: 1.315184195 Long: 103.7674987
454 CLEMENTI AVE 3 ,Lat: 1.312269291 Long: 103.7664304
457 CLEMENTI AVE 3 ,Lat: 1.311799557 Long: 103.76725019999999
462 CLEMENTI AVE 3 ,Lat: 1.3115006390000001 Long: 103.7656375
723 CLEMENTI WEST ST 2 ,Lat: 1.30310124 Long: 103.7634131
372 CLEMENTI AVE 4 ,Lat: 1.319788851 Long: 103.7677875
413 C'WEALTH AVE WEST ,Lat: 1.311527153 Long: 103.7705036
415 C'WEALTH AVE WEST ,Lat: 1.310988047 Long: 103.7715851
414 C'WEALTH AVE WEST ,Lat: 1.311581073 Long: 103.771625
356 CLEMENTI AVE 2 ,Lat: 1.3139596709999999 Long: 103.7698314
44 CIRCUIT RD ,Lat: 1.32665458 Long: 103.886119
63 CIRCUIT RD ,Lat: 1.326532648 Long: 103.8866336
46 CIRCUIT RD ,Lat: 1.326154695 Long: 103.88604699999999
21 BALAM RD ,Lat: 1.3311972140000001 Long: 103.8869767
45 CIRCUIT RD ,Lat: 1.326387894 Long: 103.8860773
50 CIRCUIT RD ,Lat: 1.324884483 Long: 103.8855714
22 BALAM RD ,Lat: 1.330166195 Long: 103.8877853
24 BALAM RD ,Lat: 1.33018852 Long: 103.88750870000001
32 BALAM RD ,Lat: 1.329393305 Long: 103.8869775
304 UBI AVE 1 ,Lat: 1.329552569 Long: 103.9012286
342 UBI AVE 1 ,Lat: 1.326433385 Long: 103.90117
24 EUNOS CRES ,Lat: 1.323779951 Long: 103.9023304
17 EUNOS CRES ,Lat: 1.323370149 Long: 103.9044037
3 HAIG RD ,Lat: 1.31170259 Long: 103.8973795
36 CIRCUIT RD ,Lat: 1.3290260790000001 Long: 103.8869308
349 UBI AVE 1 ,Lat: 1.325828343 Long: 103.9005811
347 UBI AVE 1 ,Lat: 1.32566117 Long: 103.8997332
323 UBI AVE 1 ,Lat: 1.328033656 Long: 103.9043983
327 UBI AVE 1 ,Lat: 1.32690473 Long: 103.9039977
338 UBI AVE 1 ,Lat: 1.326139736 Long: 103.9020736
314 UBI AVE 1 ,Lat: 1.329294526 Long: 103.9036348
42 CIRCUIT RD ,Lat: 1.327467457 Long: 103.8862151
43 SIMS DR ,Lat: 1.317160584 Long: 103.8765829
60 DAKOTA CRES ,Lat: 1.307285341 Long: 103.8885056
2C GEYLANG SERAI ,Lat: 1.317501461 Long: 103.8982065
311 UBI AVE 1 ,Lat: 1.329941101 Long: 103.9033014
124 PAYA LEBAR WAY ,Lat: 1.323088767 Long: 103.8837391
110 ALJUNIED CRES ,Lat: 1.3199767470000001 Long: 103.8844393
413 EUNOS RD 5 ,Lat: 1.3188584509999999 Long: 103.89867
417 EUNOS RD 5 ,Lat: 1.318072851 Long: 103.8970875
23 HAIG RD ,Lat: 1.313541965 Long: 103.8954818
326 UBI AVE 1 ,Lat: 1.327594213 Long: 103.90431770000001
6 MARINE TER ,Lat: 1.3037854420000001 Long: 103.9164953
66 MARINE DR ,Lat: 1.30391193 Long: 103.9097405
34 MARINE CRES ,Lat: 1.30414964 Long: 103.912124
18 MARINE TER ,Lat: 1.303208583 Long: 103.91430079999999
63 MARINE DR ,Lat: 1.302380702 Long: 103.9092389
43 MARINE CRES ,Lat: 1.305518881 Long: 103.913022
44 MARINE CRES ,Lat: 1.304733486 Long: 103.913088
81 C'WEALTH CL ,Lat: 1.3037874440000001 Long: 103.8003853
87 C'WEALTH CL ,Lat: 1.3046569890000002 Long: 103.79930959999999
154 MEI LING ST ,Lat: 1.29361494 Long: 103.8037425
157 MEI LING ST ,Lat: 1.293111932 Long: 103.8037302
1 GHIM MOH RD ,Lat: 1.312879757 Long: 103.786855
19 GHIM MOH RD ,Lat: 1.311438523 Long: 103.7882989
153 MEI LING ST ,Lat: 1.293814453 Long: 103.80313790000001
12 HOLLAND AVE ,Lat: 1.309352847 Long: 103.7948733
18 DOVER CRES ,Lat: 1.308083436 Long: 103.7830572
51 STRATHMORE AVE ,Lat: 1.293358565 Long: 103.8087998
18B HOLLAND DR ,Lat: 1.31101769 Long: 103.79145190000001
50 STRATHMORE AVE ,Lat: 1.293845338 Long: 103.80872790000001
26 DOVER CRES ,Lat: 1.305913876 Long: 103.7815667
7 GHIM MOH RD ,Lat: 1.311288236 Long: 103.7872306
21 HOLLAND DR ,Lat: 1.310976125 Long: 103.79237990000001
20 HOLLAND DR ,Lat: 1.310491604 Long: 103.79225699999999
95 LOR 4 TOA PAYOH ,Lat: 1.338890722 Long: 103.84899329999999
9 LOR 7 TOA PAYOH ,Lat: 1.33750482 Long: 103.8578395
5 UPP ALJUNIED LANE ,Lat: 1.33372866 Long: 103.8798985
206 TOA PAYOH NTH ,Lat: 1.342314815 Long: 103.8465089
12 LOR 7 TOA PAYOH ,Lat: 1.336746107 Long: 103.85761590000001
203 TOA PAYOH NTH ,Lat: 1.3420652020000001 Long: 103.8491654
2 LOR 7 TOA PAYOH ,Lat: 1.3386075259999999 Long: 103.8535156
25 TOA PAYOH EAST ,Lat: 1.333566067 Long: 103.8569818
173 LOR 1 TOA PAYOH ,Lat: 1.3300081990000001 Long: 103.84253290000001
73 LOR 4 TOA PAYOH ,Lat: 1.333789077 Long: 103.8517453
232 LOR 8 TOA PAYOH ,Lat: 1.337571873 Long: 103.8588439
158 LOR 1 TOA PAYOH ,Lat: 1.33146601 Long: 103.8450546
126 LOR 1 TOA PAYOH ,Lat: 1.337814657 Long: 103.8451309
69 LOR 4 TOA PAYOH ,Lat: 1.334180885 Long: 103.8527069
112 LOR 1 TOA PAYOH ,Lat: 1.3415533990000001 Long: 103.8454896
205 TOA PAYOH NTH ,Lat: 1.34227486 Long: 103.8480503
186 TOA PAYOH CTRL ,Lat: 1.332653953 Long: 103.8502116

222 LOR 8 TOA PAYOH ,Lat: 1.341773107 Long: 103.85603979999999
221 LOR 8 TOA PAYOH ,Lat: 1.342621808 Long: 103.8569718
17 JOO SENG RD ,Lat: 1.33616231 Long: 103.881376
247 KIM KEAT LINK ,Lat: 1.3310627590000002 Long: 103.855267
153A LOR 1 TOA PAYOH ,Lat: 1.333713828 Long: 103.84523309999999
251 KIM KEAT LINK ,Lat: 1.331546892 Long: 103.85701740000002
223 LOR 8 TOA PAYOH ,Lat: 1.341264797 Long: 103.8555528
215 LOR 8 TOA PAYOH ,Lat: 1.341828137 Long: 103.85510790000001
97 LOR 3 TOA PAYOH ,Lat: 1.33862554 Long: 103.8477693
122 LOR 2 TOA PAYOH ,Lat: 1.33980524 Long: 103.8462812
147 LOR 2 TOA PAYOH ,Lat: 1.334546832 Long: 103.8450777
101A LOR 2 TOA PAYOH ,Lat: 1.339741267 Long: 103.8472642
181 ANG MO KIO AVE 5 ,Lat: 1.3767930990000001 Long: 103.8371422
639 ANG MO KIO AVE 6 ,Lat: 1.379917052 Long: 103.8424584
465 ANG MO KIO AVE 10 ,Lat: 1.3662010409999998 Long: 103.857201
524 ANG MO KIO AVE 5 ,Lat: 1.373378294 Long: 103.8530425
542 ANG MO KIO AVE 10 ,Lat: 1.3747384130000002 Long: 103.85587679999999
405 ANG MO KIO AVE 10 ,Lat: 1.361579127 Long: 103.8538054
523 ANG MO KIO AVE 5 ,Lat: 1.372941936 Long: 103.85286640000001
575 ANG MO KIO AVE 10 ,Lat: 1.371388551 Long: 103.8559533
108 ANG MO KIO AVE 4 ,Lat: 1.370966352 Long: 103.83820190000002
208 ANG MO KIO AVE 1 ,Lat: 1.3654449519999998 Long: 103.842715
106 ANG MO KIO AVE 4 ,Lat: 1.371933703 Long: 103.83748609999999
476 ANG MO KIO AVE 10 ,Lat: 1.362388292 Long: 103.8578806
606 ANG MO KIO AVE 5 ,Lat: 1.379327772 Long: 103.836736
540 ANG MO KIO AVE 10 ,Lat: 1.3752937680000001 Long: 103.8554524
204 ANG MO KIO AVE 3 ,Lat: 1.367367559 Long: 103.8439209
700B ANG MO KIO AVE 6 ,Lat: 1.3694104980000001 Long: 103.8460598
596A ANG MO KIO ST 52 ,Lat: 1.37243024 Long: 103.8509492
642 ANG MO KIO AVE 5 ,Lat: 1.377943524 Long: 103.8404792
521 ANG MO KIO AVE 5 ,Lat: 1.37357054 Long: 103.8515513
102 ANG MO KIO AVE 3 ,Lat: 1.370650098 Long: 103.8394103
132 ANG MO KIO AVE 3 ,Lat: 1.371447436 Long: 103.84178359999999
614 ANG MO KIO AVE 4 ,Lat: 1.377969305 Long: 103.8392171
616 ANG MO KIO AVE 4 ,Lat: 1.37746747 Long: 103.8387767
32 JLN BT HO SWEE ,Lat: 1.287421225 Long: 103.8284155
133 JLN BT MERAH ,Lat: 1.279550933 Long: 103.82740090000001
20 TELOK BLANGAH CRES ,Lat: 1.276915948 Long: 103.82181870000001
13 TELOK BLANGAH CRES ,Lat: 1.278159465 Long: 103.8204753
14 TAMAN HO SWEE ,Lat: 1.287904618 Long: 103.83219770000001
105 BT PURMEI RD ,Lat: 1.272483013 Long: 103.824703
109 BT PURMEI RD ,Lat: 1.273929399 Long: 103.8253108
119 BT MERAH VIEW ,Lat: 1.283527552 Long: 103.82083
4 EVERTON PK ,Lat: 1.2768830740000001 Long: 103.8400856
6 EVERTON PK ,Lat: 1.276673811 Long: 103.8387891
1 EVERTON PK ,Lat: 1.277426543 Long: 103.8400012
2 EVERTON PK ,Lat: 1.2774163029999999 Long: 103.8393308
58 HAVELOCK RD ,Lat: 1.290087191 Long: 103.82799999999999
48 MOH GUAN TER ,Lat: 1.283991598 Long: 103.83107079999999
112 BT PURMEI RD ,Lat: 1.2745285259999999 Long: 103.8259329
5 DELTA AVE ,Lat: 1.292231451 Long: 103.8276007
119D KIM TIAN RD ,Lat: 1.281945984 Long: 103.8279111
8B BOON TIONG RD ,Lat: 1.287016949 Long: 103.8303033
25A JLN MEMBINA ,Lat: 1.283466373 Long: 103.8261834
19 JLN MEMBINA ,Lat: 1.2855704159999999 Long: 103.8262762
77A REDHILL RD ,Lat: 1.288381067 Long: 103.8173911
109 SPOTTISWOODE PK RD ,Lat: 1.274031873 Long: 103.8366527
18 TOH YI DR ,Lat: 1.339979136 Long: 103.7731322
12 TOH YI DR ,Lat: 1.33840275 Long: 103.7726858
13 TOH YI DR ,Lat: 1.33874588 Long: 103.7724386
1 QUEEN'S RD ,Lat: 1.317266295 Long: 103.8067829
704 WEST COAST RD ,Lat: 1.306347506 Long: 103.760538
702 WEST COAST RD ,Lat: 1.307266926 Long: 103.76110770000001
341 CLEMENTI AVE 5 ,Lat: 1.319120531 Long: 103.7690577
367 CLEMENTI AVE 2 ,Lat: 1.312940672 Long: 103.77164870000001
426 CLEMENTI AVE 3 ,Lat: 1.311580406 Long: 103.7642113
339 CLEMENTI AVE 5 ,Lat: 1.319663167 Long: 103.76913979999999
450 CLEMENTI AVE 3 ,Lat: 1.3135388609999998 Long: 103.76547629999999
327 CLEMENTI AVE 5 ,Lat: 1.313983252 Long: 103.76653309999999
435 CLEMENTI AVE 3 ,Lat: 1.314562106 Long: 103.7625302
301 CLEMENTI AVE 4 ,Lat: 1.322176495 Long: 103.76491209999999
316 CLEMENTI AVE 4 ,Lat: 1.318470095 Long: 103.7645261
604 CLEMENTI WEST ST 1 ,Lat: 1.305427774 Long: 103.7674933
724 CLEMENTI WEST ST 2 ,Lat: 1.30360871 Long: 103.76335909999999
114 CLEMENTI ST 13 ,Lat: 1.3239154770000001 Long: 103.7706295
110 CLEMENTI ST 13 ,Lat: 1.322845078 Long: 103.7708988
102 CLEMENTI ST 14 ,Lat: 1.322285572 Long: 103.76920190000001
66 CIRCUIT RD ,Lat: 1.326535882 Long: 103.8876728
54 CASSIA CRES ,Lat: 1.310048006 Long: 103.8846782
329 UBI AVE 1 ,Lat: 1.3270269890000002 Long: 103.90481640000002
22 EUNOS CRES ,Lat: 1.324759105 Long: 103.9021074
9 EUNOS CRES ,Lat: 1.3217986990000001 Long: 103.9027747
58 DAKOTA CRES ,Lat: 1.307307299 Long: 103.8893901
49 JLN TIGA ,Lat: 1.308509326 Long: 103.8853462
43 JLN TIGA ,Lat: 1.308133686 Long: 103.8847295
130 GEYLANG EAST AVE 1 ,Lat: 1.316858776 Long: 103.88776120000001
846 SIMS AVE ,Lat: 1.317602618 Long: 103.9017072
61 MARINE DR ,Lat: 1.303087565 Long: 103.908752
76 MARINE DR ,Lat: 1.302936441 Long: 103.90773670000002
62 MARINE DR ,Lat: 1.302670233 Long: 103.90904040000001
96 C'WEALTH CRES ,Lat: 1.3061918259999998 Long: 103.8011938
86 C'WEALTH CL ,Lat: 1.304384257 Long: 103.7993498
41 HOLLAND DR ,Lat: 1.307620049 Long: 103.7934635
6 HOLLAND CL ,Lat: 1.307115686 Long: 103.7952646
21 GHIM MOH RD ,Lat: 1.310103026 Long: 103.788546
56 STRATHMORE AVE ,Lat: 1.293360743 Long: 103.809857
55 STRATHMORE AVE ,Lat: 1.2933829490000002 Long: 103.8093307
3A HOLLAND CL ,Lat: 1.308722236 Long: 103.7967508
129 CLARENCE LANE ,Lat: 1.293055547 Long: 103.81442440000001
13 GHIM MOH RD ,Lat: 1.309707378 Long: 103.78909990000001
132 CLARENCE LANE ,Lat: 1.292255234 Long: 103.8148798
94 LOR 4 TOA PAYOH ,Lat: 1.338894428 Long: 103.84953829999999
72 LOR 5 TOA PAYOH ,Lat: 1.3338768109999999 Long: 103.85207259999999
1 LOR 7 TOA PAYOH ,Lat: 1.339430335 Long: 103.8534428
119 POTONG PASIR AVE 1 ,Lat: 1.334561497 Long: 103.862943
17 LOR 7 TOA PAYOH ,Lat: 1.3364266040000001 Long: 103.85660809999999
159 LOR 1 TOA PAYOH ,Lat: 1.330745426 Long: 103.8456012
219 LOR 8 TOA PAYOH ,Lat: 1.3427643319999998 Long: 103.8558726
15 JOO SENG RD ,Lat: 1.335501322 Long: 103.8802315
252 KIM KEAT LINK ,Lat: 1.33121483 Long: 103.8572418
244 KIM KEAT LINK ,Lat: 1.33069368 Long: 103.856359
204 TOA PAYOH NTH ,Lat: 1.34148414 Long: 103.8490677
253 KIM KEAT AVE ,Lat: 1.3311219490000001 Long: 103.85777979999999
102 POTONG PASIR AVE 1 ,Lat: 1.3336901270000001 Long: 103.86881059999999
135 POTONG PASIR AVE 3 ,Lat: 1.334690587 Long: 103.8668243
10 LOR 7 TOA PAYOH ,Lat: 1.337165276 Long: 103.85722879999999
79D TOA PAYOH CTRL ,Lat: 1.3346408440000002 Long: 103.8491655
217 LOR 8 TOA PAYOH ,Lat: 1.342658708 Long: 103.85466559999999
224 LOR 8 TOA PAYOH ,Lat: 1.341176079 Long: 103.8560662
50 LOR 5 TOA PAYOH ,Lat: 1.336989889 Long: 103.8526929
49 LOR 5 TOA PAYOH ,Lat: 1.33737121 Long: 103.85311340000001
48 LOR 5 TOA PAYOH ,Lat: 1.337083957 Long: 103.853541
136 POTONG PASIR AVE 3 ,Lat: 1.333982548 Long: 103.86652009999999
81 LOR 4 TOA PAYOH ,Lat: 1.335410349 Long: 103.8504235
237 LOR 1 TOA PAYOH ,Lat: 1.339773151 Long: 103.8522423
406 ANG MO KIO AVE 10 ,Lat: 1.362004539 Long: 103.85387990000001
534 ANG MO KIO AVE 10 ,Lat: 1.3740584630000001 Long: 103.8541682
178 ANG MO KIO AVE 4 ,Lat: 1.376193199 Long: 103.8370382
611 ANG MO KIO AVE 5 ,Lat: 1.378292053 Long: 103.83725190000001
621 ANG MO KIO AVE 9 ,Lat: 1.383028759 Long: 103.8406691
453 ANG MO KIO AVE 10 ,Lat: 1.36858206 Long: 103.85598309999999
258 ANG MO KIO AVE 4 ,Lat: 1.3699134990000001 Long: 103.8365253
728 ANG MO KIO AVE 6 ,Lat: 1.372628416 Long: 103.8456829
601 ANG MO KIO AVE 5 ,Lat: 1.381041355 Long: 103.8351317
114 ANG MO KIO AVE 4 ,Lat: 1.372579625 Long: 103.83622079999999
549 ANG MO KIO AVE 10 ,Lat: 1.373164786 Long: 103.85741180000001
425 ANG MO KIO AVE 3 ,Lat: 1.3691224169999998 Long: 103.8516161
308A ANG MO KIO AVE 1 ,Lat: 1.365483428 Long: 103.84408470000001
154 ANG MO KIO AVE 5 ,Lat: 1.376260674 Long: 103.84123100000001
547 ANG MO KIO AVE 10 ,Lat: 1.374209517 Long: 103.8582097
427 ANG MO KIO AVE 3 ,Lat: 1.369311859 Long: 103.8545506
105 ANG MO KIO AVE 4 ,Lat: 1.3723132830000002 Long: 103.8376011

537 ANG MO KIO AVE 5 ,Lat: 1.375200096 Long: 103.8530598
325 ANG MO KIO AVE 3 ,Lat: 1.36789987 Long: 103.8468874
328 ANG MO KIO AVE 3 ,Lat: 1.3666179369999998 Long: 103.84786690000001
344 ANG MO KIO AVE 3 ,Lat: 1.367977051 Long: 103.84926479999999
310A ANG MO KIO AVE 1 ,Lat: 1.364827262 Long: 103.8438393
310B ANG MO KIO AVE 1 ,Lat: 1.36464707 Long: 103.84425
620 ANG MO KIO AVE 9 ,Lat: 1.382440829 Long: 103.8395464
459 ANG MO KIO AVE 10 ,Lat: 1.367019645 Long: 103.8593772
539 ANG MO KIO AVE 10 ,Lat: 1.375374291 Long: 103.8542588
351 ANG MO KIO ST 32 ,Lat: 1.3643236669999999 Long: 103.8503076
460 ANG MO KIO AVE 10 ,Lat: 1.366339477 Long: 103.8591223
501 ANG MO KIO AVE 5 ,Lat: 1.3759848609999998 Long: 103.8488605
312 ANG MO KIO AVE 3 ,Lat: 1.366200368 Long: 103.84877840000001
10 JLN BT HO SWEE ,Lat: 1.28745837 Long: 103.83267579999999
42 TELOK BLANGAH RISE ,Lat: 1.270918709 Long: 103.82268540000001
132 JLN BT MERAH ,Lat: 1.278738081 Long: 103.8283043
6 TELOK BLANGAH CRES ,Lat: 1.278140813 Long: 103.818484
78 INDUS RD ,Lat: 1.291297828 Long: 103.8281531
108 JLN BT MERAH ,Lat: 1.279220088 Long: 103.82544140000002
105 HENDERSON CRES ,Lat: 1.290214202 Long: 103.8223568
110 BT PURMEI RD ,Lat: 1.273804157 Long: 103.82705770000001
8 CANTONMENT CL ,Lat: 1.275801013 Long: 103.83903259999998
7 EVERTON PK ,Lat: 1.276924352 Long: 103.8386795
23 TELOK BLANGAH CRES ,Lat: 1.276080724 Long: 103.8208395
27 TELOK BLANGAH WAY ,Lat: 1.274468661 Long: 103.82147409999999
56 TELOK BLANGAH HTS ,Lat: 1.27425274 Long: 103.8124291
102 BT PURMEI RD ,Lat: 1.271908423 Long: 103.8266717
12 CANTONMENT CL ,Lat: 1.27447616 Long: 103.8400703
17 CANTONMENT CL ,Lat: 1.273835569 Long: 103.8398443
22 JLN MEMBINA ,Lat: 1.284887947 Long: 103.8264446
54 HAVELOCK RD ,Lat: 1.289308932 Long: 103.8292333
52 LENGKOK BAHRU ,Lat: 1.2884871340000001 Long: 103.8133515
113 DEPOT RD ,Lat: 1.2814198620000001 Long: 103.80728690000001
8 JLN RUMAH TINGGI ,Lat: 1.288575947 Long: 103.8078682
118B JLN MEMBINA ,Lat: 1.28178928 Long: 103.8259896
87 REDHILL CL ,Lat: 1.28603089 Long: 103.8190237
14 TOH YI DR ,Lat: 1.3390870259999998 Long: 103.7725693
519 WEST COAST RD ,Lat: 1.3076640959999999 Long: 103.75936490000001
345 CLEMENTI AVE 5 ,Lat: 1.317702812 Long: 103.7690767
328 CLEMENTI AVE 2 ,Lat: 1.313991615 Long: 103.767089
427 CLEMENTI AVE 3 ,Lat: 1.312123221 Long: 103.76389209999999
375 CLEMENTI AVE 4 ,Lat: 1.318492987 Long: 103.76670159999999
709 CLEMENTI WEST ST 2 ,Lat: 1.3053304620000001 Long: 103.7620036
712 CLEMENTI WEST ST 2 ,Lat: 1.304974887 Long: 103.761862
611 CLEMENTI WEST ST 1 ,Lat: 1.303697399 Long: 103.76947690000002
202 CLEMENTI AVE 6 ,Lat: 1.3206923640000001 Long: 103.7627147
430 CLEMENTI AVE 3 ,Lat: 1.313292771 Long: 103.762553
377 CLEMENTI AVE 5 ,Lat: 1.31756399 Long: 103.7679752
355 CLEMENTI AVE 2 ,Lat: 1.3144512990000001 Long: 103.7695645
81 MACPHERSON LANE ,Lat: 1.332169382 Long: 103.8862967
65 CIRCUIT RD ,Lat: 1.32740031 Long: 103.88720359999999
72 CIRCUIT RD ,Lat: 1.3245476109999998 Long: 103.8879439
316 UBI AVE 1 ,Lat: 1.329429595 Long: 103.9027868
99 OLD AIRPORT RD ,Lat: 1.3085895379999999 Long: 103.8882449
416 EUNOS RD 5 ,Lat: 1.317962273 Long: 103.8974527
125 GEYLANG EAST AVE 1 ,Lat: 1.317443878 Long: 103.88637370000001
21 HAIG RD ,Lat: 1.313159457 Long: 103.89521620000001
128 GEYLANG EAST AVE 1 ,Lat: 1.318309195 Long: 103.887754
348 UBI AVE 1 ,Lat: 1.32615026 Long: 103.9005275
344 UBI AVE 1 ,Lat: 1.326359384 Long: 103.8997531
341 UBI AVE 1 ,Lat: 1.3267126059999998 Long: 103.9015607
111 ALJUNIED CRES ,Lat: 1.320397276 Long: 103.8842468
8 HAIG RD ,Lat: 1.313669795 Long: 103.8960696
1 PINE CL ,Lat: 1.307870562 Long: 103.8831922
842 SIMS AVE ,Lat: 1.317952721 Long: 103.90160999999999
32 MARINE CRES ,Lat: 1.303178277 Long: 103.9118066
59 MARINE TER ,Lat: 1.305859665 Long: 103.9147218
30 MARINE CRES ,Lat: 1.304222795 Long: 103.911164
55 MARINE TER ,Lat: 1.305423685 Long: 103.9140048
45 MARINE CRES ,Lat: 1.3045502359999999 Long: 103.91245550000001
113 C'WEALTH CRES ,Lat: 1.306746481 Long: 103.7979557
18 GHIM MOH RD ,Lat: 1.310150547 Long: 103.7870824
164 STIRLING RD ,Lat: 1.291518248 Long: 103.8025131
82 C'WEALTH CL ,Lat: 1.304221751 Long: 103.8003999
61C STRATHMORE AVE ,Lat: 1.2942364259999999 Long: 103.81203520000001
50 STIRLING RD ,Lat: 1.2971409059999999 Long: 103.8037912
30 HOLLAND CL ,Lat: 1.307747891 Long: 103.7966272
45 HOLLAND DR ,Lat: 1.308617903 Long: 103.7929359
146 MEI LING ST ,Lat: 1.2939147770000001 Long: 103.80445429999999
55 LOR 5 TOA PAYOH ,Lat: 1.337359774 Long: 103.8511978
234 LOR 8 TOA PAYOH ,Lat: 1.338601486 Long: 103.85791409999999
163 LOR 1 TOA PAYOH ,Lat: 1.332060607 Long: 103.844105
199 TOA PAYOH NTH ,Lat: 1.342033518 Long: 103.85064890000001
20 LOR 7 TOA PAYOH ,Lat: 1.334967209 Long: 103.8572059
61 LOR 5 TOA PAYOH ,Lat: 1.336456834 Long: 103.852111
18 LOR 7 TOA PAYOH ,Lat: 1.335757237 Long: 103.8567896
157 LOR 1 TOA PAYOH ,Lat: 1.332206263 Long: 103.84545290000001
66 LOR 4 TOA PAYOH ,Lat: 1.335013326 Long: 103.85177840000001
108 POTONG PASIR AVE 1 ,Lat: 1.334720043 Long: 103.86792840000001
105 POTONG PASIR AVE 1 ,Lat: 1.334423732 Long: 103.8686968
143 LOR 2 TOA PAYOH ,Lat: 1.335884354 Long: 103.8439913
12 JOO SENG RD ,Lat: 1.335853855 Long: 103.87893270000001
62 LOR 4 TOA PAYOH ,Lat: 1.3363014009999998 Long: 103.85148840000001
452 ANG MO KIO AVE 10 ,Lat: 1.368897511 Long: 103.8562008
466 ANG MO KIO AVE 10 ,Lat: 1.3658196059999999 Long: 103.8570616
625 ANG MO KIO AVE 9 ,Lat: 1.382200246 Long: 103.8412103
461 ANG MO KIO AVE 10 ,Lat: 1.3675277630000002 Long: 103.8574096
463 ANG MO KIO AVE 10 ,Lat: 1.366947935 Long: 103.8574876
107 ANG MO KIO AVE 4 ,Lat: 1.371384001 Long: 103.8373814
215 ANG MO KIO AVE 1 ,Lat: 1.3665583019999998 Long: 103.84162409999999
310C ANG MO KIO AVE 1 ,Lat: 1.364611946 Long: 103.84485129999999
308B ANG MO KIO AVE 1 ,Lat: 1.3652661419999998 Long: 103.8445381
414 ANG MO KIO AVE 10 ,Lat: 1.363904664 Long: 103.85391379999999
350 ANG MO KIO ST 32 ,Lat: 1.3637131180000002 Long: 103.8500442
305 ANG MO KIO AVE 1 ,Lat: 1.366084591 Long: 103.8460139
309A ANG MO KIO ST 31 ,Lat: 1.365029333 Long: 103.84530059999999
307A ANG MO KIO AVE 1 ,Lat: 1.365982051 Long: 103.844445
431 ANG MO KIO AVE 10 ,Lat: 1.36822021 Long: 103.85297890000001
430 ANG MO KIO AVE 3 ,Lat: 1.368992878 Long: 103.8527613
553 ANG MO KIO AVE 10 ,Lat: 1.3726015790000001 Long: 103.85723409999999
437 ANG MO KIO AVE 10 ,Lat: 1.367200276 Long: 103.8532474
520 ANG MO KIO AVE 5 ,Lat: 1.373405406 Long: 103.8511342
16 TAMAN HO SWEE ,Lat: 1.288001696 Long: 103.8316146
38 KIM PONG RD ,Lat: 1.284864669 Long: 103.8305005
23 LIM LIAK ST ,Lat: 1.285465349 Long: 103.8317194
24 TELOK BLANGAH CRES ,Lat: 1.275409491 Long: 103.8206605
3 DELTA AVE ,Lat: 1.291698335 Long: 103.82733449999999
101 BT PURMEI RD ,Lat: 1.2714625659999998 Long: 103.8256835
9 JLN RUMAH TINGGI ,Lat: 1.288816153 Long: 103.8082053
112A DEPOT RD ,Lat: 1.281476362 Long: 103.8081481
56 HAVELOCK RD ,Lat: 1.290129527 Long: 103.8289143
66 TELOK BLANGAH DR ,Lat: 1.274132973 Long: 103.80963259999999
72 TELOK BLANGAH HTS ,Lat: 1.276117977 Long: 103.80959
84 TELOK BLANGAH HTS ,Lat: 1.276853136 Long: 103.8099486
126 BT MERAH VIEW ,Lat: 1.284425405 Long: 103.8239092
4B BOON TIONG RD ,Lat: 1.286588783 Long: 103.8319503
74A REDHILL RD ,Lat: 1.2879638070000001 Long: 103.8162431
122 KIM TIAN RD ,Lat: 1.283391874 Long: 103.82889399999999
6 FARRER RD ,Lat: 1.317319712 Long: 103.80805720000001
363 CLEMENTI AVE 2 ,Lat: 1.312820683 Long: 103.768917
449 CLEMENTI AVE 3 ,Lat: 1.313615679 Long: 103.76481
348 CLEMENTI AVE 5 ,Lat: 1.316777163 Long: 103.77089709999998
315 CLEMENTI AVE 4 ,Lat: 1.318470366 Long: 103.7654195
458 CLEMENTI AVE 3 ,Lat: 1.311569936 Long: 103.7668671
338 CLEMENTI AVE 2 ,Lat: 1.316290398 Long: 103.7695321
64 CIRCUIT RD ,Lat: 1.326984045 Long: 103.8871484
48 CIRCUIT RD ,Lat: 1.325410325 Long: 103.885651
87 CIRCUIT RD ,Lat: 1.323233105 Long: 103.8856046
99 ALJUNIED CRES ,Lat: 1.321381183 Long: 103.88430629999999
36 CASSIA CRES ,Lat: 1.3098205090000001 Long: 103.88507220000001
339 UBI AVE 1 ,Lat: 1.326460633 Long: 103.902007
345 UBI AVE 1 ,Lat: 1.3259174390000001 Long: 103.8990637
40 SIMS DR ,Lat: 1.31747603 Long: 103.8763541
848 SIMS AVE ,Lat: 1.31720886 Long: 103.9014318

29 BALAM RD ,Lat: 1.32999792 Long: 103.887048
9 PINE CL ,Lat: 1.309469497 Long: 103.8824375
2B GEYLANG SERAI ,Lat: 1.317405112 Long: 103.89777459999999
2D GEYLANG SERAI ,Lat: 1.317571243 Long: 103.89864770000001
120 PAYA LEBAR WAY ,Lat: 1.322594152 Long: 103.88429609999999
15 EUNOS CRES ,Lat: 1.32385971 Long: 103.90336359999999
65 MARINE DR ,Lat: 1.303405476 Long: 103.9097344
4 GHIM MOH RD ,Lat: 1.313193696 Long: 103.7881922
20 DOVER CRES ,Lat: 1.3067225740000001 Long: 103.7835241
62B STRATHMORE AVE ,Lat: 1.2944605759999999 Long: 103.810979
15 GHIM MOH RD ,Lat: 1.309143843 Long: 103.78841990000001
2 HOLLAND AVE ,Lat: 1.309344983 Long: 103.7955594
3 HOLLAND CL ,Lat: 1.308208713 Long: 103.7966389
12 DOVER CL EAST ,Lat: 1.304992003 Long: 103.78580749999999
28D DOVER CRES ,Lat: 1.306083152 Long: 103.7824724
92 LOR 4 TOA PAYOH ,Lat: 1.3380708159999999 Long: 103.8494572
235 LOR 8 TOA PAYOH ,Lat: 1.3389496920000001 Long: 103.85713890000001
83 LOR 2 TOA PAYOH ,Lat: 1.335787912 Long: 103.847992
207 TOA PAYOH NTH ,Lat: 1.34240197 Long: 103.8452265
169 LOR 1 TOA PAYOH ,Lat: 1.331729639 Long: 103.84268229999999
85C LOR 4 TOA PAYOH ,Lat: 1.336285709 Long: 103.84747940000001
104 POTONG PASIR AVE 1 ,Lat: 1.3343391690000002 Long: 103.8691589
139 POTONG PASIR AVE 3 ,Lat: 1.333276489 Long: 103.86611020000001
16 JOO SENG RD ,Lat: 1.336477172 Long: 103.88034590000001
115 POTONG PASIR AVE 1 ,Lat: 1.337269998 Long: 103.8628066
146 POTONG PASIR AVE 1 ,Lat: 1.331800783 Long: 103.8672428
256 KIM KEAT AVE ,Lat: 1.332192067 Long: 103.85849870000001
121 POTONG PASIR AVE 1 ,Lat: 1.335760292 Long: 103.865597
11 LOR 8 TOA PAYOH ,Lat: 1.337233443 Long: 103.85884109999999
37 LOR 5 TOA PAYOH ,Lat: 1.334526113 Long: 103.85591540000001
82B LOR 4 TOA PAYOH ,Lat: 1.335622393 Long: 103.8488515
404 ANG MO KIO AVE 10 ,Lat: 1.361677671 Long: 103.8547265
343 ANG MO KIO AVE 3 ,Lat: 1.368374751 Long: 103.8491511
544 ANG MO KIO AVE 10 ,Lat: 1.373959619 Long: 103.8564714
572 ANG MO KIO AVE 3 ,Lat: 1.3702583609999999 Long: 103.85596899999999
303 ANG MO KIO AVE 1 ,Lat: 1.366649205 Long: 103.8452546
253 ANG MO KIO ST 21 ,Lat: 1.369460545 Long: 103.834659
353 ANG MO KIO ST 32 ,Lat: 1.3640680790000002 Long: 103.8516123
108 BT PURMEI RD ,Lat: 1.273357314 Long: 103.8253458
49 KIM PONG RD ,Lat: 1.284299357 Long: 103.83051800000001
145 JLN BT MERAH ,Lat: 1.277293529 Long: 103.8305157
104 BT PURMEI RD ,Lat: 1.2723985359999999 Long: 103.8256255
124A BT MERAH VIEW ,Lat: 1.284887046 Long: 103.8227818
23 JLN MEMBINA ,Lat: 1.284748327 Long: 103.8268757
120A KIM TIAN PL ,Lat: 1.283246503 Long: 103.8278547
67 TELOK BLANGAH DR ,Lat: 1.274636589 Long: 103.8096328
115 BT MERAH CTRL ,Lat: 1.2841280959999999 Long: 103.8145438
15 TOH YI DR ,Lat: 1.339310858 Long: 103.7720515
344 CLEMENTI AVE 5 ,Lat: 1.31812074 Long: 103.7690884
365 CLEMENTI AVE 2 ,Lat: 1.312299789 Long: 103.7699438
433 CLEMENTI AVE 3 ,Lat: 1.3140162229999999 Long: 103.76182740000002
359 CLEMENTI AVE 2 ,Lat: 1.313492924 Long: 103.76985479999999
336 CLEMENTI AVE 2 ,Lat: 1.316679432 Long: 103.76923120000001
111 CLEMENTI ST 13 ,Lat: 1.323216054 Long: 103.77112609999999
71 CIRCUIT RD ,Lat: 1.3249150440000002 Long: 103.8879968
60 CIRCUIT RD ,Lat: 1.325552536 Long: 103.8865328
35 CIRCUIT RD ,Lat: 1.329158997 Long: 103.8860103
101 ALJUNIED CRES ,Lat: 1.320922753 Long: 103.883352
97 JLN DUA ,Lat: 1.3089462490000001 Long: 103.88838890000001
108 ALJUNIED CRES ,Lat: 1.3191751520000001 Long: 103.88532159999998
93 JLN DUA ,Lat: 1.308681908 Long: 103.8871237
10 PINE CL ,Lat: 1.309152394 Long: 103.8822425
322 UBI AVE 1 ,Lat: 1.327912888 Long: 103.9048338
13 EUNOS CRES ,Lat: 1.322686619 Long: 103.90350090000001
54 PIPIT RD ,Lat: 1.32385645 Long: 103.8875854
42 SIMS DR ,Lat: 1.317000196 Long: 103.8759946
14 EUNOS CRES ,Lat: 1.323143131 Long: 103.90344909999999
23 EUNOS CRES ,Lat: 1.324306375 Long: 103.90216059999999
27 MARINE CRES ,Lat: 1.304025089 Long: 103.9135015
71 MARINE DR ,Lat: 1.304527645 Long: 103.90894399999999
102 C'WEALTH CRES ,Lat: 1.307824649 Long: 103.8006298
111 C'WEALTH CRES ,Lat: 1.306352033 Long: 103.79846620000001
89 C'WEALTH DR ,Lat: 1.305377974 Long: 103.7993239
108 C'WEALTH CRES ,Lat: 1.30754732 Long: 103.79908859999999
56 STIRLING RD ,Lat: 1.296696151 Long: 103.80426949999999
22 DOVER CRES ,Lat: 1.307069743 Long: 103.78358440000001
59 LOR 5 TOA PAYOH ,Lat: 1.3367503570000001 Long: 103.8517944
13 LOR 7 TOA PAYOH ,Lat: 1.336283329 Long: 103.859027
134 POTONG PASIR AVE 3 ,Lat: 1.334474892 Long: 103.8662865
101 POTONG PASIR AVE 1 ,Lat: 1.3331571009999998 Long: 103.8683804
202 TOA PAYOH NTH ,Lat: 1.341529116 Long: 103.84958909999999
36 LOR 5 TOA PAYOH ,Lat: 1.334821399 Long: 103.8552729
175 LOR 2 TOA PAYOH ,Lat: 1.333396388 Long: 103.8470538
243 KIM KEAT LINK ,Lat: 1.330240586 Long: 103.8565332
229 LOR 8 TOA PAYOH ,Lat: 1.3387183120000001 Long: 103.8591946
10 JOO SENG RD ,Lat: 1.334618334 Long: 103.880165
14A LOR 7 TOA PAYOH ,Lat: 1.336268211 Long: 103.8583152
20 JOO SENG RD ,Lat: 1.334057601 Long: 103.8813662
240 LOR 1 TOA PAYOH ,Lat: 1.340876446 Long: 103.85083
159 ANG MO KIO AVE 4 ,Lat: 1.3747989319999998 Long: 103.83985809999999
450 ANG MO KIO AVE 10 ,Lat: 1.3684840619999998 Long: 103.8554681
216 ANG MO KIO AVE 1 ,Lat: 1.366196788 Long: 103.841505
608 ANG MO KIO AVE 5 ,Lat: 1.3785821000000003 Long: 103.8367603
417 ANG MO KIO AVE 10 ,Lat: 1.3649595330000002 Long: 103.85519709999998
313 ANG MO KIO AVE 3 ,Lat: 1.366649726 Long: 103.8501337
226 ANG MO KIO AVE 1 ,Lat: 1.3677280319999998 Long: 103.83840500000001
511 ANG MO KIO AVE 8 ,Lat: 1.37356775 Long: 103.8501541
222 ANG MO KIO AVE 1 ,Lat: 1.366018175 Long: 103.8393614
12 TELOK BLANGAH CRES ,Lat: 1.27718546 Long: 103.8195162
47 TELOK BLANGAH DR ,Lat: 1.272044271 Long: 103.810097
17 TIONG BAHRU RD ,Lat: 1.285615264 Long: 103.8331163
88 REDHILL CL ,Lat: 1.285840812 Long: 103.8185963
38 JLN RUMAH TINGGI ,Lat: 1.288633659 Long: 103.8096439
125 BT MERAH VIEW ,Lat: 1.284802501 Long: 103.8235267
48 TELOK BLANGAH DR ,Lat: 1.272346698 Long: 103.81055450000001
114 DEPOT RD ,Lat: 1.2817592709999999 Long: 103.8068622
106 SPOTTISWOODE PK RD ,Lat: 1.273566738 Long: 103.8340582
49 TELOK BLANGAH DR ,Lat: 1.272201815 Long: 103.8110608
7 KIM TIAN PL ,Lat: 1.283485112 Long: 103.8270438
8 TOH YI DR ,Lat: 1.3379649120000001 Long: 103.7740157
2 TOH YI DR ,Lat: 1.339174804 Long: 103.77534140000002
731 CLEMENTI WEST ST 2 ,Lat: 1.304400465 Long: 103.76274620000001
378 CLEMENTI AVE 5 ,Lat: 1.317412042 Long: 103.76741700000001
325 CLEMENTI AVE 5 ,Lat: 1.315096685 Long: 103.76681740000001
343 CLEMENTI AVE 5 ,Lat: 1.3179085259999999 Long: 103.7709344
302 CLEMENTI AVE 4 ,Lat: 1.321738637 Long: 103.7649102
613 CLEMENTI WEST ST 1 ,Lat: 1.303737481 Long: 103.7678382
201 CLEMENTI AVE 6 ,Lat: 1.32014419 Long: 103.7632535
104 CLEMENTI ST 14 ,Lat: 1.322949685 Long: 103.7691892
69 CIRCUIT RD ,Lat: 1.3250232929999999 Long: 103.8874615
38 CIRCUIT RD ,Lat: 1.327957357 Long: 103.8860804
95 OLD AIRPORT RD ,Lat: 1.3084047779999999 Long: 103.8873475
305 UBI AVE 1 ,Lat: 1.3294211120000001 Long: 103.90231750000001
4 HAIG RD ,Lat: 1.3121012440000002 Long: 103.8971871
325 UBI AVE 1 ,Lat: 1.327704717 Long: 103.90382609999999
313 UBI AVE 1 ,Lat: 1.329060222 Long: 103.9038994
122 PAYA LEBAR WAY ,Lat: 1.322600375 Long: 103.8824632
55 PIPIT RD ,Lat: 1.323738756 Long: 103.88837840000001
3A GEYLANG SERAI ,Lat: 1.317501308 Long: 103.8989115
51 SIMS DR ,Lat: 1.316292321 Long: 103.878899
50 SIMS DR ,Lat: 1.3164994909999999 Long: 103.8783838
56 CASSIA CRES ,Lat: 1.310220635 Long: 103.8832354
131 GEYLANG EAST AVE 1 ,Lat: 1.316758614 Long: 103.88681120000001
20 MARINE TER ,Lat: 1.303715887 Long: 103.91506700000001
60 MARINE DR ,Lat: 1.303395658 Long: 103.9085405
77 MARINE DR ,Lat: 1.302015808 Long: 103.9085862
109 C'WEALTH CRES ,Lat: 1.307249431 Long: 103.79893829999999
43 HOLLAND DR ,Lat: 1.3074341109999998 Long: 103.79289759999999
170 STIRLING RD ,Lat: 1.290909181 Long: 103.80310759999999
152 MEI LING ST ,Lat: 1.2938315759999999 Long: 103.8026251
60 STRATHMORE AVE ,Lat: 1.293085872 Long: 103.81188490000001
20 QUEEN'S CL ,Lat: 1.292750071 Long: 103.79993590000001
143 MEI LING ST ,Lat: 1.293482013 Long: 103.8049167
22 GHIM MOH LINK ,Lat: 1.309356763 Long: 103.7854897

27 DOVER CRES ,Lat: 1.305422783 Long: 103.7813204
28 GHIM MOH LINK ,Lat: 1.30887985 Long: 103.78480290000002
3 UPP ALJUNIED LANE ,Lat: 1.333992975 Long: 103.8798927
107 LOR 1 TOA PAYOH ,Lat: 1.341233588 Long: 103.84729399999999
58 LOR 4 TOA PAYOH ,Lat: 1.336746255 Long: 103.85052459999999
142 POTONG PASIR AVE 3 ,Lat: 1.333204067 Long: 103.8669926
227 LOR 8 TOA PAYOH ,Lat: 1.3395151440000002 Long: 103.8579708
14B LOR 7 TOA PAYOH ,Lat: 1.335738874 Long: 103.8584084
138 POTONG PASIR AVE 3 ,Lat: 1.33356221 Long: 103.86545859999998
86 LOR 2 TOA PAYOH ,Lat: 1.335762248 Long: 103.8476311
193 LOR 4 TOA PAYOH ,Lat: 1.331590056 Long: 103.85129509999999
155 LOR 1 TOA PAYOH ,Lat: 1.3327963109999998 Long: 103.8455886
218 LOR 8 TOA PAYOH ,Lat: 1.342725835 Long: 103.8551516
19 JOO SENG RD ,Lat: 1.334646362 Long: 103.8809946
44 LOR 5 TOA PAYOH ,Lat: 1.336231496 Long: 103.8540431
533 ANG MO KIO AVE 5 ,Lat: 1.3741692369999998 Long: 103.85300190000001
629 ANG MO KIO AVE 4 ,Lat: 1.38010475 Long: 103.84040870000001
548 ANG MO KIO AVE 10 ,Lat: 1.3729137630000001 Long: 103.85704609999999
704 ANG MO KIO AVE 8 ,Lat: 1.370407121 Long: 103.8472307
232 ANG MO KIO AVE 3 ,Lat: 1.3683460680000001 Long: 103.83719599999999
440 ANG MO KIO AVE 10 ,Lat: 1.3664278980000002 Long: 103.8543115
122 ANG MO KIO AVE 3 ,Lat: 1.3701886069999998 Long: 103.8434132
505 ANG MO KIO AVE 8 ,Lat: 1.37485973 Long: 103.8502249
416 ANG MO KIO AVE 10 ,Lat: 1.364541709 Long: 103.8551037
229 ANG MO KIO AVE 3 ,Lat: 1.369076459 Long: 103.8382287
334 ANG MO KIO AVE 1 ,Lat: 1.363718279 Long: 103.85098029999999
110 ANG MO KIO AVE 4 ,Lat: 1.37045937 Long: 103.8374193
336 ANG MO KIO AVE 1 ,Lat: 1.3631153630000001 Long: 103.85221700000001
352 ANG MO KIO ST 32 ,Lat: 1.3644247440000001 Long: 103.850864
458 ANG MO KIO AVE 10 ,Lat: 1.366568152 Long: 103.85962679999999
104B ANG MO KIO ST 11 ,Lat: 1.371511514 Long: 103.8384588
613 ANG MO KIO AVE 4 ,Lat: 1.378456616 Long: 103.8392927
32 TELOK BLANGAH RISE ,Lat: 1.273131053 Long: 103.8216629
77 INDUS RD ,Lat: 1.291134836 Long: 103.8267645
148 SILAT AVE ,Lat: 1.276883151 Long: 103.8308839
41 KIM CHENG ST ,Lat: 1.284690696 Long: 103.83159090000001
85 TELOK BLANGAH HTS ,Lat: 1.277222539 Long: 103.8087204
139 JLN BT MERAH ,Lat: 1.2790785340000002 Long: 103.8267853
6B BOON TIONG RD ,Lat: 1.2865459959999999 Long: 103.8308245
126A KIM TIAN RD ,Lat: 1.282856548 Long: 103.82949640000001
17 SENG POH RD ,Lat: 1.285296918 Long: 103.8332353
51 LENGKOK BAHRU ,Lat: 1.2876134259999998 Long: 103.81227209999999
37 TELOK BLANGAH RISE ,Lat: 1.272672565 Long: 103.8228757
127D KIM TIAN RD ,Lat: 1.281119806 Long: 103.8299432
2 QUEEN'S RD ,Lat: 1.3228008629999999 Long: 103.8110235
705 CLEMENTI WEST ST 2 ,Lat: 1.305664208 Long: 103.7606507
711 CLEMENTI WEST ST 2 ,Lat: 1.304844235 Long: 103.7611071
607 CLEMENTI WEST ST 1 ,Lat: 1.304235925 Long: 103.7678534
411 C'WEALTH AVE WEST ,Lat: 1.310879202 Long: 103.76957259999999
103 CLEMENTI ST 14 ,Lat: 1.322588548 Long: 103.7691762
113 CLEMENTI ST 13 ,Lat: 1.3236840109999999 Long: 103.7701323
116 CLEMENTI ST 13 ,Lat: 1.3241125390000001 Long: 103.771925
68 CIRCUIT RD ,Lat: 1.325468011 Long: 103.88807740000001
62 CIRCUIT RD ,Lat: 1.32622226 Long: 103.887117
83 MACPHERSON LANE ,Lat: 1.331549855 Long: 103.8855179
42 CASSIA CRES ,Lat: 1.310411405 Long: 103.886398
332 UBI AVE 1 ,Lat: 1.3269136670000001 Long: 103.90262309999999
5 MARINE TER ,Lat: 1.304563413 Long: 103.917229
74 MARINE DR ,Lat: 1.303705188 Long: 103.90721359999999
14 MARINE TER ,Lat: 1.303476179 Long: 103.9154117
40 HOLLAND DR ,Lat: 1.307175908 Long: 103.7935003
18A HOLLAND DR ,Lat: 1.311058611 Long: 103.7918866
23 GHIM MOH LINK ,Lat: 1.308635628 Long: 103.786332
81 STRATHMORE AVE ,Lat: 1.294620407 Long: 103.80927729999999
56 LOR 4 TOA PAYOH ,Lat: 1.3370292959999999 Long: 103.85038279999999
2 UPP ALJUNIED LANE ,Lat: 1.333989533 Long: 103.8789635
231 LOR 8 TOA PAYOH ,Lat: 1.337360069 Long: 103.85949240000001
57 LOR 5 TOA PAYOH ,Lat: 1.3370539209999999 Long: 103.85149559999999
109 LOR 1 TOA PAYOH ,Lat: 1.341237271 Long: 103.8462025
103 POTONG PASIR AVE 1 ,Lat: 1.334113387 Long: 103.8695237
171 LOR 1 TOA PAYOH ,Lat: 1.3306853490000001 Long: 103.842659
60 LOR 4 TOA PAYOH ,Lat: 1.3363281390000001 Long: 103.8507564
236 LOR 1 TOA PAYOH ,Lat: 1.3402735159999999 Long: 103.852085
128 POTONG PASIR AVE 1 ,Lat: 1.334803977 Long: 103.8657878
128 ANG MO KIO AVE 3 ,Lat: 1.3708320280000001 Long: 103.843547
322 ANG MO KIO AVE 3 ,Lat: 1.3683585880000002 Long: 103.8477458
413 ANG MO KIO AVE 10 ,Lat: 1.3635258119999998 Long: 103.8536753
470 ANG MO KIO AVE 10 ,Lat: 1.3640980790000001 Long: 103.8566942
563 ANG MO KIO AVE 3 ,Lat: 1.3698721409999999 Long: 103.85800350000001
638 ANG MO KIO AVE 6 ,Lat: 1.380457054 Long: 103.84357059999999
18 TAMAN HO SWEE ,Lat: 1.288098683 Long: 103.831032
30 JLN KLINIK ,Lat: 1.287669769 Long: 103.82820290000001
104 HENDERSON CRES ,Lat: 1.289369275 Long: 103.8215381
103A DEPOT RD ,Lat: 1.280701976 Long: 103.81335340000001
120 BT MERAH VIEW ,Lat: 1.282774432 Long: 103.8226125
103B DEPOT RD ,Lat: 1.2807369240000002 Long: 103.8131357
14 JLN BT MERAH ,Lat: 1.287861305 Long: 103.8076482
55 HAVELOCK RD ,Lat: 1.290066863 Long: 103.8292459
74 TELOK BLANGAH HTS ,Lat: 1.275363231 Long: 103.80878440000001
27B JLN MEMBINA ,Lat: 1.282908655 Long: 103.82486800000001
4 TOH YI DR ,Lat: 1.3385120670000001 Long: 103.7745698
442 CLEMENTI AVE 3 ,Lat: 1.314122542 Long: 103.7645186
456 CLEMENTI AVE 3 ,Lat: 1.311928068 Long: 103.7669853
441B CLEMENTI AVE 3 ,Lat: 1.314576215 Long: 103.7641589
92A PIPIT RD ,Lat: 1.323004798 Long: 103.8876357
120 GEYLANG EAST CTRL ,Lat: 1.318211531 Long: 103.88475229999999
30 CASSIA CRES ,Lat: 1.309443155 Long: 103.8833363
132 GEYLANG EAST AVE 1 ,Lat: 1.3163505229999999 Long: 103.88593879999999
28 MARINE CRES ,Lat: 1.303437455 Long: 103.9133488
91 C'WEALTH DR ,Lat: 1.3058703459999998 Long: 103.79976359999999
167 STIRLING RD ,Lat: 1.29003093 Long: 103.8026043
44 STIRLING RD ,Lat: 1.297791663 Long: 103.8026579
22 QUEEN'S CL ,Lat: 1.293566229 Long: 103.79962259999999
14 DOVER CL EAST ,Lat: 1.305563812 Long: 103.7855952
116 LOR 2 TOA PAYOH ,Lat: 1.340472872 Long: 103.8461425
213 LOR 8 TOA PAYOH ,Lat: 1.341004936 Long: 103.8544125
13 JOO SENG RD ,Lat: 1.338459063 Long: 103.88407240000001
208 TOA PAYOH NTH ,Lat: 1.341893618 Long: 103.8452078
82 LOR 4 TOA PAYOH ,Lat: 1.336020169 Long: 103.84851379999999
153 LOR 2 TOA PAYOH ,Lat: 1.333570575 Long: 103.8457238
146 LOR 2 TOA PAYOH ,Lat: 1.334664095 Long: 103.8464514
121 LOR 2 TOA PAYOH ,Lat: 1.339162623 Long: 103.8462435
142 LOR 2 TOA PAYOH ,Lat: 1.33583775 Long: 103.845163
422 ANG MO KIO AVE 3 ,Lat: 1.3679998880000002 Long: 103.8518739
637 ANG MO KIO AVE 6 ,Lat: 1.380361872 Long: 103.84233459999999
304 ANG MO KIO AVE 1 ,Lat: 1.3662864280000002 Long: 103.8449948
436 ANG MO KIO AVE 10 ,Lat: 1.367341586 Long: 103.8540411
173 ANG MO KIO AVE 4 ,Lat: 1.3753135369999998 Long: 103.8362457
402 ANG MO KIO AVE 10 ,Lat: 1.361477078 Long: 103.8553004
551 ANG MO KIO AVE 10 ,Lat: 1.37392862 Long: 103.8586657
311 ANG MO KIO AVE 3 ,Lat: 1.366639736 Long: 103.8487697
2 JLN BT HO SWEE ,Lat: 1.28728822 Long: 103.831873
137 JLN BT MERAH ,Lat: 1.27814726 Long: 103.826959
38 TELOK BLANGAH RISE ,Lat: 1.272332606 Long: 103.8222103
26 TIONG BAHRU RD ,Lat: 1.285670557 Long: 103.8308321
20 TIONG BAHRU RD ,Lat: 1.285754796 Long: 103.8321508
127A KIM TIAN RD ,Lat: 1.281962435 Long: 103.82955909999998
68 TELOK BLANGAH HTS ,Lat: 1.275159158 Long: 103.81013850000001
49 HOY FATT RD ,Lat: 1.28748905 Long: 103.81171409999999
73 TELOK BLANGAH HTS ,Lat: 1.27573844 Long: 103.80918940000001
376 CLEMENTI AVE 4 ,Lat: 1.318100065 Long: 103.7666926
514 WEST COAST RD ,Lat: 1.308972504 Long: 103.7592329
441A CLEMENTI AVE 3 ,Lat: 1.3146391309999998 Long: 103.7647977
324 CLEMENTI AVE 5 ,Lat: 1.315135091 Long: 103.76605450000001
337 CLEMENTI AVE 2 ,Lat: 1.316055677 Long: 103.7691127
606 CLEMENTI WEST ST 1 ,Lat: 1.304853536 Long: 103.7679903
19 EUNOS CRES ,Lat: 1.32427584 Long: 103.9032055
32 CASSIA CRES ,Lat: 1.309416071 Long: 103.88390009999999
415 EUNOS RD 5 ,Lat: 1.318226619 Long: 103.89785490000001
12 PINE CL ,Lat: 1.308478545 Long: 103.8822878
315 UBI AVE 1 ,Lat: 1.329540236 Long: 103.90340390000001

123 GEYLANG EAST CTRL ,Lat: 1.3181773509999999 Long: 103.8854258
3 MARINE TER ,Lat: 1.304106067 Long: 103.9177334
94 C'WEALTH DR ,Lat: 1.305586163 Long: 103.8007436
5 HOLLAND CL ,Lat: 1.307674422 Long: 103.79627159999998
150 MEI LING ST ,Lat: 1.294903079 Long: 103.8036993
52 LOR 6 TOA PAYOH ,Lat: 1.3382491429999999 Long: 103.852482
183 TOA PAYOH CTRL ,Lat: 1.333355962 Long: 103.8488657
8 JOO SENG RD ,Lat: 1.335201434 Long: 103.878703
7 LOR 7 TOA PAYOH ,Lat: 1.338053697 Long: 103.8572869
727 ANG MO KIO AVE 6 ,Lat: 1.3726551630000001 Long: 103.8460633
126 ANG MO KIO AVE 3 ,Lat: 1.3716499 Long: 103.8436442
8 TELOK BLANGAH CRES ,Lat: 1.277795391 Long: 103.81934129999999
30 TELOK BLANGAH RISE ,Lat: 1.272985283 Long: 103.820252
101 HENDERSON CRES ,Lat: 1.2907179979999999 Long: 103.8216252
121A KIM TIAN PL ,Lat: 1.282650681 Long: 103.8281785
58 TELOK BLANGAH HTS ,Lat: 1.274922927 Long: 103.81340809999999
109 CLEMENTI ST 11 ,Lat: 1.321980677 Long: 103.77077609999999
335 CLEMENTI AVE 2 ,Lat: 1.316994112 Long: 103.7685066
459 CLEMENTI AVE 3 ,Lat: 1.311389416 Long: 103.7670932
85 CIRCUIT RD ,Lat: 1.322652411 Long: 103.8857553
318 UBI AVE 1 ,Lat: 1.32845731 Long: 103.90327459999999
42A SIMS DR ,Lat: 1.316668875 Long: 103.8760975
58 MARINE TER ,Lat: 1.306117813 Long: 103.914026
4 MARINE TER ,Lat: 1.305098955 Long: 103.9177353
72 MARINE DR ,Lat: 1.30428357 Long: 103.90836490000001
61A STRATHMORE AVE ,Lat: 1.2938609890000001 Long: 103.8115839
122 POTONG PASIR AVE 1 ,Lat: 1.33493172 Long: 103.866125
255 ANG MO KIO AVE 4 ,Lat: 1.370654871 Long: 103.8346302
602 ANG MO KIO AVE 5 ,Lat: 1.38070883 Long: 103.8353682
640 ANG MO KIO AVE 6 ,Lat: 1.38003436 Long: 103.84360670000001
327 ANG MO KIO AVE 3 ,Lat: 1.367052844 Long: 103.8469874
320 ANG MO KIO AVE 1 ,Lat: 1.365592456 Long: 103.8483867
725 ANG MO KIO AVE 6 ,Lat: 1.3727908169999998 Long: 103.84691120000001
104A ANG MO KIO ST 11 ,Lat: 1.371827009 Long: 103.8388037
578 ANG MO KIO AVE 10 ,Lat: 1.371790676 Long: 103.8549612
103 HENDERSON CRES ,Lat: 1.289742097 Long: 103.8213757
118C JLN MEMBINA ,Lat: 1.282169371 Long: 103.8263337
126C KIM TIAN RD ,Lat: 1.2823136999999998 Long: 103.8293115
26 TELOK BLANGAH CRES ,Lat: 1.276693247 Long: 103.81886659999999
3 QUEEN'S RD ,Lat: 1.322877615 Long: 103.81164770000001
455 CLEMENTI AVE 3 ,Lat: 1.312119204 Long: 103.7666735
35 MARINE CRES ,Lat: 1.303780548 Long: 103.9129035
21 QUEEN'S CL ,Lat: 1.29327775 Long: 103.799918
115 LOR 1 TOA PAYOH ,Lat: 1.340631407 Long: 103.84430520000001
201 TOA PAYOH NTH ,Lat: 1.341138036 Long: 103.8501266
258 KIM KEAT AVE ,Lat: 1.3328452 Long: 103.8578288
144 POTONG PASIR AVE 2 ,Lat: 1.332620199 Long: 103.8655135
156 LOR 1 TOA PAYOH ,Lat: 1.332564732 Long: 103.84520690000001
137 POTONG PASIR AVE 3 ,Lat: 1.3338575940000001 Long: 103.8658454
155 ANG MO KIO AVE 4 ,Lat: 1.3758772380000002 Long: 103.8400675
644 ANG MO KIO AVE 4 ,Lat: 1.3791498619999998 Long: 103.8409382
113 ANG MO KIO AVE 4 ,Lat: 1.371785176 Long: 103.8359657
326 ANG MO KIO AVE 3 ,Lat: 1.367069338 Long: 103.8479025
423 ANG MO KIO AVE 3 ,Lat: 1.368732328 Long: 103.8516193
307B ANG MO KIO AVE 1 ,Lat: 1.36583937 Long: 103.84463079999999
710 ANG MO KIO AVE 8 ,Lat: 1.371045831 Long: 103.84818680000001
12 TAMAN HO SWEE ,Lat: 1.287807531 Long: 103.83278059999999
44 MOH GUAN TER ,Lat: 1.284420207 Long: 103.83105690000001
142 JLN BT MERAH ,Lat: 1.277008235 Long: 103.8280562
109 JLN BT MERAH ,Lat: 1.279426714 Long: 103.8260869
129 KIM TIAN RD ,Lat: 1.2811530309999999 Long: 103.8288562
47 LENGKOK BAHRU ,Lat: 1.287151475 Long: 103.81183270000001
14A TELOK BLANGAH CRES ,Lat: 1.277760301 Long: 103.82073009999999
39 TELOK BLANGAH RISE ,Lat: 1.271747245 Long: 103.8225083
2 DELTA AVE ,Lat: 1.291734122 Long: 103.82802609999999
366 CLEMENTI AVE 2 ,Lat: 1.312549536 Long: 103.7716764
101 CLEMENTI ST 14 ,Lat: 1.3220893679999999 Long: 103.76893340000001
206 CLEMENTI AVE 6 ,Lat: 1.321501158 Long: 103.7622287
324 UBI AVE 1 ,Lat: 1.328294349 Long: 103.90420440000001
62 DAKOTA CRES ,Lat: 1.307650931 Long: 103.8890694
19 MARINE TER ,Lat: 1.304522102 Long: 103.915054
12 MARINE TER ,Lat: 1.3046070859999999 Long: 103.9157399
10 HOLLAND AVE ,Lat: 1.308149971 Long: 103.7942752
27 GHIM MOH LINK ,Lat: 1.308371263 Long: 103.7851335
133 CLARENCE LANE ,Lat: 1.292316477 Long: 103.81460600000001
54 LOR 5 TOA PAYOH ,Lat: 1.337356664 Long: 103.8503907
111 LOR 1 TOA PAYOH ,Lat: 1.3412371379999999 Long: 103.8453061
80A LOR 4 TOA PAYOH ,Lat: 1.335291574 Long: 103.84924709999999
101B LOR 2 TOA PAYOH ,Lat: 1.339598845 Long: 103.8476054
630 ANG MO KIO AVE 4 ,Lat: 1.380541389 Long: 103.84106829999999
464 ANG MO KIO AVE 10 ,Lat: 1.366728758 Long: 103.8569214
337 ANG MO KIO AVE 1 ,Lat: 1.3631955569999998 Long: 103.851616
622 ANG MO KIO AVE 9 ,Lat: 1.3820643419999998 Long: 103.8397419
176 ANG MO KIO AVE 4 ,Lat: 1.375848226 Long: 103.8361572
106 BT PURMEI RD ,Lat: 1.27298937 Long: 103.8256268
131 JLN BT MERAH ,Lat: 1.280189419 Long: 103.82817840000001
122 BT MERAH LANE 1 ,Lat: 1.2864588190000001 Long: 103.8042002
127C KIM TIAN RD ,Lat: 1.281522804 Long: 103.8300358
111 BT PURMEI RD ,Lat: 1.2743971809999999 Long: 103.8272396
5 EVERTON PK ,Lat: 1.276684338 Long: 103.83945909999998
12 JLN BT MERAH ,Lat: 1.287531165 Long: 103.80702020000001
4A BOON TIONG RD ,Lat: 1.286673707 Long: 103.8324817
352 CLEMENTI AVE 2 ,Lat: 1.3142786020000001 Long: 103.77135059999999
446 CLEMENTI AVE 3 ,Lat: 1.312513057 Long: 103.7649278
431 CLEMENTI AVE 3 ,Lat: 1.31380878 Long: 103.76301720000001
601 CLEMENTI WEST ST 1 ,Lat: 1.304774613 Long: 103.7652538
107 ALJUNIED CRES ,Lat: 1.3189646529999999 Long: 103.8842872
28 BALAM RD ,Lat: 1.330480963 Long: 103.8865792
3 PINE CL ,Lat: 1.306928776 Long: 103.8831105
334 UBI AVE 1 ,Lat: 1.326394469 Long: 103.9030715
43 STIRLING RD ,Lat: 1.298096771 Long: 103.8025981
117 LOR 1 TOA PAYOH ,Lat: 1.340020636 Long: 103.84541379999999
91 LOR 3 TOA PAYOH ,Lat: 1.338226031 Long: 103.8485969
140 POTONG PASIR AVE 3 ,Lat: 1.333815515 Long: 103.86682490000001
209 TOA PAYOH NTH ,Lat: 1.341853483 Long: 103.8448147
617 ANG MO KIO AVE 4 ,Lat: 1.377517097 Long: 103.8380532
171 ANG MO KIO AVE 4 ,Lat: 1.3747329119999998 Long: 103.8356827
20 JLN KLINIK ,Lat: 1.288114518 Long: 103.82904029999999
10 JLN RUMAH TINGGI ,Lat: 1.288200189 Long: 103.8083694
33 LIM LIAK ST ,Lat: 1.285119168 Long: 103.8315772
104A DEPOT RD ,Lat: 1.280455613 Long: 103.81231770000001
52 HAVELOCK RD ,Lat: 1.28951776 Long: 103.8284671
53 TELOK BLANGAH DR ,Lat: 1.274298048 Long: 103.8114314
19 CANTONMENT CL ,Lat: 1.273883542 Long: 103.83900329999999
81 REDHILL LANE ,Lat: 1.287758183 Long: 103.8194936
11 TOH YI DR ,Lat: 1.338002612 Long: 103.7726033
115 CLEMENTI ST 13 ,Lat: 1.3235451329999999 Long: 103.77132879999999
98 ALJUNIED CRES ,Lat: 1.320865256 Long: 103.8856974
3 JOO CHIAT RD ,Lat: 1.315885232 Long: 103.8991554
4 JOO CHIAT RD ,Lat: 1.315407591 Long: 103.89894040000001
330 UBI AVE 1 ,Lat: 1.3265064359999998 Long: 103.9040496
320 UBI AVE 1 ,Lat: 1.328805271 Long: 103.9042805
54 MARINE TER ,Lat: 1.3053022909999998 Long: 103.915014
112 C'WEALTH CRES ,Lat: 1.306616608 Long: 103.7981838
119 LOR 1 TOA PAYOH ,Lat: 1.339109238 Long: 103.84468740000001
623 ANG MO KIO AVE 9 ,Lat: 1.382651847 Long: 103.84085809999999
157 ANG MO KIO AVE 4 ,Lat: 1.3753056209999999 Long: 103.83939509999999
449 ANG MO KIO AVE 10 ,Lat: 1.367858883 Long: 103.856047
131 ANG MO KIO AVE 3 ,Lat: 1.371015364 Long: 103.8418003
307C ANG MO KIO AVE 1 ,Lat: 1.3655610040000001 Long: 103.8451695
221 ANG MO KIO AVE 1 ,Lat: 1.3663793830000002 Long: 103.8394823
34 JLN BT HO SWEE ,Lat: 1.2880768759999999 Long: 103.8270813
10 TELOK BLANGAH CRES ,Lat: 1.277731532 Long: 103.8197694
57 TELOK BLANGAH HTS ,Lat: 1.274633315 Long: 103.81258659999999
109B DEPOT RD ,Lat: 1.2809993720000001 Long: 103.80922530000001
9 TOH YI DR ,Lat: 1.338304798 Long: 103.7735416
10 TOH YI DR ,Lat: 1.337539566 Long: 103.7731611
317 CLEMENTI AVE 4 ,Lat: 1.318038007 Long: 103.7645191
425 CLEMENTI AVE 1 ,Lat: 1.309626523 Long: 103.7711231
39 CIRCUIT RD ,Lat: 1.32742995 Long: 103.8856816
321 UBI AVE 1 ,Lat: 1.32851573 Long: 103.9047296
7 PINE CL ,Lat: 1.307675732 Long: 103.882412
333 UBI AVE 1 ,Lat: 1.326697048 Long: 103.9029833
133 GEYLANG EAST AVE 1 ,Lat: 1.3164399 Long: 103.8854576

233 LOR 8 TOA PAYOH ,Lat: 1.338283659 Long: 103.858468
84B LOR 2 TOA PAYOH ,Lat: 1.335765023 Long: 103.84680259999999
554 ANG MO KIO AVE 10 ,Lat: 1.3728200080000001 Long: 103.857784
636 ANG MO KIO AVE 6 ,Lat: 1.381152654 Long: 103.8433103
716 ANG MO KIO AVE 6 ,Lat: 1.371477831 Long: 103.84586879999999
47 MOH GUAN TER ,Lat: 1.2842058170000001 Long: 103.8310634
40 JLN RUMAH TINGGI ,Lat: 1.288632893 Long: 103.8105346
3 EVERTON PK ,Lat: 1.2772173009999999 Long: 103.838704
420 CLEMENTI AVE 1 ,Lat: 1.31004549 Long: 103.7691238
302 UBI AVE 1 ,Lat: 1.33002587 Long: 103.9009954
337 UBI AVE 1 ,Lat: 1.32598214 Long: 103.9015132
43A SIMS DR ,Lat: 1.3168188440000002 Long: 103.87663959999999
5 HAIG RD ,Lat: 1.312589174 Long: 103.8965912
99 C'WEALTH CRES ,Lat: 1.307434129 Long: 103.80114379999999
46 HOLLAND DR ,Lat: 1.308789494 Long: 103.79269559999999
80 STRATHMORE AVE ,Lat: 1.294561391 Long: 103.80969209999999
19 QUEEN'S CL ,Lat: 1.292382728 Long: 103.8001963
106 POTONG PASIR AVE 1 ,Lat: 1.3341003359999999 Long: 103.8681713
179 TOA PAYOH CTRL ,Lat: 1.333901 Long: 103.8500929
230 LOR 8 TOA PAYOH ,Lat: 1.338255927 Long: 103.85930309999999
21 JOO SENG RD ,Lat: 1.333960732 Long: 103.8805818
257 KIM KEAT AVE ,Lat: 1.332606885 Long: 103.8572705
124 POTONG PASIR AVE 1 ,Lat: 1.335347022 Long: 103.8654516
4 JLN BT HO SWEE ,Lat: 1.287422399 Long: 103.8312389
28 TIONG BAHRU RD ,Lat: 1.285697382 Long: 103.83039120000001
125 KIM TIAN RD ,Lat: 1.2830857359999999 Long: 103.8286582
63B LENGKOK BAHRU ,Lat: 1.289075068 Long: 103.8153184
35 JLN RUMAH TINGGI ,Lat: 1.287693947 Long: 103.8089335
52 TELOK BLANGAH DR ,Lat: 1.273849941 Long: 103.81124709999999
424 CLEMENTI AVE 1 ,Lat: 1.309540132 Long: 103.7705008
421 CLEMENTI AVE 1 ,Lat: 1.3090979870000001 Long: 103.7683559
416 CLEMENTI AVE 1 ,Lat: 1.310335922 Long: 103.7713557
47 JLN TIGA ,Lat: 1.3087608179999999 Long: 103.885032
147 MEI LING ST ,Lat: 1.2943174259999999 Long: 103.80493179999999
178 TOA PAYOH CTRL ,Lat: 1.333580258 Long: 103.8492645
172A LOR 1 TOA PAYOH ,Lat: 1.330277548 Long: 103.84244890000001
81A LOR 4 TOA PAYOH ,Lat: 1.335658357 Long: 103.85007759999999
226E ANG MO KIO AVE 1 ,Lat: 1.366487367 Long: 103.83980820000001
588B ANG MO KIO ST 52 ,Lat: 1.371975713 Long: 103.8531509
588A ANG MO KIO ST 52 ,Lat: 1.3720768890000001 Long: 103.85278609999999
588C ANG MO KIO ST 52 ,Lat: 1.37183157 Long: 103.85367099999999
615 ANG MO KIO AVE 4 ,Lat: 1.377463413 Long: 103.83913009999999
135 JLN BT MERAH ,Lat: 1.278600687 Long: 103.8270854
57 HAVELOCK RD ,Lat: 1.290138585 Long: 103.82845329999999
44 LENGKOK BAHRU ,Lat: 1.286850982 Long: 103.8117125
124B BT MERAH VIEW ,Lat: 1.285282206 Long: 103.823095
30 BALAM RD ,Lat: 1.329654615 Long: 103.88718359999999
56 PIPIT RD ,Lat: 1.324098114 Long: 103.88849920000001
92 C'WEALTH DR ,Lat: 1.3057317529999999 Long: 103.8002537
148 MEI LING ST ,Lat: 1.2943160740000001 Long: 103.80446620000001
46 LOR 5 TOA PAYOH ,Lat: 1.336466583 Long: 103.85322140000001
713 ANG MO KIO AVE 6 ,Lat: 1.3714580930000002 Long: 103.84651629999999
588D ANG MO KIO ST 52 ,Lat: 1.3717540069999998 Long: 103.85388329999999
35 TELOK BLANGAH RISE ,Lat: 1.2730220190000001 Long: 103.82212320000001
149 SILAT AVE ,Lat: 1.277360665 Long: 103.8316002
140 JLN BT MERAH ,Lat: 1.278156143 Long: 103.8295243
26 GHIM MOH LINK ,Lat: 1.30838826 Long: 103.7855513
14 GHIM MOH RD ,Lat: 1.308846755 Long: 103.7891468
99C LOR 2 TOA PAYOH ,Lat: 1.33901613 Long: 103.8474494
133 POTONG PASIR AVE 1 ,Lat: 1.33431719 Long: 103.8658795
205 ANG MO KIO AVE 1 ,Lat: 1.3669408440000002 Long: 103.8435824
103 BT PURMEI RD ,Lat: 1.272085585 Long: 103.82549559999998
34 KIM CHENG ST ,Lat: 1.284899222 Long: 103.83158420000001
94 HAVELOCK RD ,Lat: 1.288213201 Long: 103.83323349999999
418 CLEMENTI AVE 1 ,Lat: 1.310175719 Long: 103.7700032
2 HAIG RD ,Lat: 1.3122934929999999 Long: 103.8976928
158 MEI LING ST ,Lat: 1.292740384 Long: 103.8028067
239 LOR 1 TOA PAYOH ,Lat: 1.340508942 Long: 103.8510407
45 LOR 5 TOA PAYOH ,Lat: 1.335865372 Long: 103.8537511
24 BEO CRES ,Lat: 1.288525352 Long: 103.82845859999999
35 LIM LIAK ST ,Lat: 1.285101769 Long: 103.8310352
80C TELOK BLANGAH ST 31 ,Lat: 1.273494356 Long: 103.80722940000001
8 KIM TIAN PL ,Lat: 1.2830296559999999 Long: 103.82723670000001
423 CLEMENTI AVE 1 ,Lat: 1.309456122 Long: 103.7699188
722 CLEMENTI WEST ST 2 ,Lat: 1.3029795990000002 Long: 103.76371400000001
414 EUNOS RD 5 ,Lat: 1.318115593 Long: 103.89822070000001
331 UBI AVE 1 ,Lat: 1.326587606 Long: 103.9035157
47 LOR 6 TOA PAYOH ,Lat: 1.336910298 Long: 103.8540304
81B LOR 4 TOA PAYOH ,Lat: 1.3359697640000001 Long: 103.84977679999999
447 ANG MO KIO AVE 10 ,Lat: 1.3674790140000002 Long: 103.8559671
No Results
No Results
No Results
144 JLN BT MERAH ,Lat: 1.2773054320000001 Long: 103.8299556
No Results
6 JLN BT HO SWEE ,Lat: 1.2876386990000002 Long: 103.83144329999999
17 REDHILL CL ,Lat: 1.285226663 Long: 103.8176748
22 REDHILL CL ,Lat: 1.286637678 Long: 103.8179862
13 JLN BT MERAH ,Lat: 1.287718959 Long: 103.8072806
5 TOH YI DR ,Lat: 1.338192542 Long: 103.7745226
No Results
No Results
No Results
No Results
311 CLEMENTI AVE 4 ,Lat: 1.31935456 Long: 103.7651093
323 CLEMENTI AVE 5 ,Lat: 1.315829369 Long: 103.76709009999999
321 CLEMENTI AVE 5 ,Lat: 1.316550292 Long: 103.7663311
2 GEYLANG SERAI ,Lat: 1.31718044 Long: 103.89834
No Results
No Results
104 ALJUNIED CRES ,Lat: 1.320068866 Long: 103.8828181
41 CIRCUIT RD ,Lat: 1.3272056859999999 Long: 103.88626740000001
62 C'WEALTH DR ,Lat: 1.298493156 Long: 103.7970912
65 C'WEALTH DR ,Lat: 1.299594858 Long: 103.7967483
38 TANGLIN HALT RD ,Lat: 1.297508103 Long: 103.79872280000001
41 TANGLIN HALT RD ,Lat: 1.298228399 Long: 103.79858540000001
34 TANGLIN HALT RD ,Lat: 1.296808995 Long: 103.7983615
36 TANGLIN HALT RD ,Lat: 1.2972924540000002 Long: 103.7982287
35 TANGLIN HALT RD ,Lat: 1.297049718 Long: 103.7982277
11 GHIM MOH RD ,Lat: 1.309310226 Long: 103.7896861
No Results
16 HOLLAND DR ,Lat: 1.3176045570000001 Long: 103.78222099999999
17 HOLLAND DR ,Lat: 1.3135515979999999 Long: 103.7825655
No Results
38 DOVER RD ,Lat: 1.298920274 Long: 103.7821726
60 C'WEALTH DR ,Lat: 1.298252192 Long: 103.79709009999999
59 C'WEALTH DR ,Lat: 1.298011246 Long: 103.7970907
No Results
55 C'WEALTH DR ,Lat: 1.297119748 Long: 103.79737
No Results
43 TANGLIN HALT RD ,Lat: 1.298710923 Long: 103.79858
31 TANGLIN HALT RD ,Lat: 1.2993619159999998 Long: 103.7994714
131 CLARENCE LANE ,Lat: 1.292483167 Long: 103.8152362
No Results
225 LOR 8 TOA PAYOH ,Lat: 1.339507531 Long: 103.8559142
116 POTONG PASIR AVE 1 ,Lat: 1.336826001 Long: 103.86261329999999
408 ANG MO KIO AVE 10 ,Lat: 1.362090535 Long: 103.8545878
No Results
No Results
No Results
13 REDHILL CL ,Lat: 1.28542199 Long: 103.8169452
12 REDHILL CL ,Lat: 1.2860761059999999 Long: 103.81651690000001
5 REDHILL CL ,Lat: 1.284601678 Long: 103.8176168
No Results
123 KIM TIAN RD ,Lat: 1.283851579 Long: 103.8289647
87 ZION RD ,Lat: 1.2906598059999999 Long: 103.8326083
19 TOH YI DR ,Lat: 1.339962696 Long: 103.7738977
No Results
No Results
717 CLEMENTI WEST ST 2 ,Lat: 1.303234409 Long: 103.76246479999999
112 CLEMENTI ST 13 ,Lat: 1.323301238 Long: 103.7698535
No Results
335 UBI AVE 1 ,Lat: 1.326041655 Long: 103.9028293
No Results
44 TANGLIN HALT RD ,Lat: 1.29895181 Long: 103.7985417
No Results
No Results
No Results
No Results
24 TANGLIN HALT RD ,Lat: 1.297677087 Long: 103.7996368
25 TANGLIN HALT RD ,Lat: 1.2978966509999998 Long: 103.7996965
37 TANGLIN HALT RD ,Lat: 1.297772317 Long: 103.7980171
40 TANGLIN HALT RD ,Lat: 1.297986437 Long: 103.7985808
26 TANGLIN HALT RD ,Lat: 1.298106411 Long: 103.79978100000001
30 TANGLIN HALT RD ,Lat: 1.2991060970000001 Long: 103.7995619
58 STIRLING RD ,Lat: 1.296191719 Long: 103.80454190000002
33 TANGLIN HALT RD ,Lat: 1.296567445 Long: 103.79837859999999
7A C'WEALTH AVE ,Lat: 1.306791847 Long: 103.7948992
31 DOVER RD ,Lat: 1.300432779 Long: 103.7837699
184 TOA PAYOH CTRL ,Lat: 1.332590009 Long: 103.8496777
80 LOR 4 TOA PAYOH ,Lat: 1.335263461 Long: 103.8485168
530 ANG MO KIO AVE 10 ,Lat: 1.372732438 Long: 103.85527330000001
722 ANG MO KIO AVE 8 ,Lat: 1.37224394 Long: 103.84752929999999
411 ANG MO KIO AVE 10 ,Lat: 1.3633952669999998 Long: 103.855273
No Results
No Results

312 CLEMENTI AVE 4 ,Lat: 1.319064417 Long: 103.7639598
322 CLEMENTI AVE 5 ,Lat: 1.3161529859999999 Long: 103.7663283
7 HAIG RD ,Lat: 1.313806612 Long: 103.8969105
2 MARINE TER ,Lat: 1.304467615 Long: 103.91817409999999
32 TANGLIN HALT RD ,Lat: 1.299620525 Long: 103.7993864
58 C'WEALTH DR ,Lat: 1.297769693 Long: 103.79709009999999
28 TANGLIN HALT RD ,Lat: 1.298543257 Long: 103.7998979
27 TANGLIN HALT RD ,Lat: 1.298324737 Long: 103.7998392
145 MEI LING ST ,Lat: 1.293813729 Long: 103.80502790000001
36 DOVER RD ,Lat: 1.299991656 Long: 103.78274300000001
185 TOA PAYOH CTRL ,Lat: 1.332727959 Long: 103.8499942
109 POTONG PASIR AVE 1 ,Lat: 1.334863952 Long: 103.8674116
216 LOR 8 TOA PAYOH ,Lat: 1.34247206 Long: 103.8541787
132 POTONG PASIR AVE 1 ,Lat: 1.3341754829999999 Long: 103.8656107
467 ANG MO KIO AVE 10 ,Lat: 1.365391066 Long: 103.85680359999999
No Results
96 HENDERSON RD ,Lat: 1.287542915 Long: 103.8213372
No Results
4 DELTA AVE ,Lat: 1.291828624 Long: 103.8265458
103 SPOTTISWOODE PK RD ,Lat: 1.2746609690000001 Long: 103.8352798
445 CLEMENTI AVE 3 ,Lat: 1.313359326 Long: 103.7639026
No Results
No Results
134 GEYLANG EAST AVE 1 ,Lat: 1.315993889 Long: 103.886009
42 TANGLIN HALT RD ,Lat: 1.298470056 Long: 103.7985802
63 C'WEALTH DR ,Lat: 1.298820888 Long: 103.7970912
No Results
45 TANGLIN HALT RD ,Lat: 1.299194385 Long: 103.7985245
47 STIRLING RD ,Lat: 1.298202805 Long: 103.8020236
249 KIM KEAT LINK ,Lat: 1.331315733 Long: 103.856657
80B LOR 4 TOA PAYOH ,Lat: 1.335294011 Long: 103.8498882
99A LOR 2 TOA PAYOH ,Lat: 1.338785343 Long: 103.8468731
123 POTONG PASIR AVE 1 ,Lat: 1.335210638 Long: 103.8657763
No Results
No Results
20 REDHILL CL ,Lat: 1.286758455 Long: 103.8173461
16 REDHILL CL ,Lat: 1.2861295320000001 Long: 103.81716209999999
15 REDHILL CL ,Lat: 1.285884083 Long: 103.81715940000001
18 REDHILL CL ,Lat: 1.28583132 Long: 103.81783109999999
143 JLN BT MERAH ,Lat: 1.277785233 Long: 103.8300015
104 SPOTTISWOODE PK RD ,Lat: 1.274427547 Long: 103.8348788
35 DOVER RD ,Lat: 1.299123981 Long: 103.7834245
No Results
56 C'WEALTH DR ,Lat: 1.297528021 Long: 103.7970902
No Results
29 TANGLIN HALT RD ,Lat: 1.298847085 Long: 103.7996412
149 MEI LING ST ,Lat: 1.294799758 Long: 103.8046091
720 ANG MO KIO AVE 6 ,Lat: 1.371801024 Long: 103.84699029999999
705 ANG MO KIO AVE 8 ,Lat: 1.37043723 Long: 103.8475155
19 LIM LIAK ST ,Lat: 1.285493784 Long: 103.8326
25 LIM LIAK ST ,Lat: 1.28540981 Long: 103.8312809
14 REDHILL CL ,Lat: 1.285627947 Long: 103.81718190000001
10 REDHILL CL ,Lat: 1.284935477 Long: 103.8160882
3 REDHILL CL ,Lat: 1.284554804 Long: 103.8167009
16 TOH YI DR ,Lat: 1.3394086809999999 Long: 103.7726057
312 UBI AVE 1 ,Lat: 1.32967348 Long: 103.9037843
340 UBI AVE 1 ,Lat: 1.326365266 Long: 103.90142440000001
75 MARINE DR ,Lat: 1.303373345 Long: 103.9074405
No Results
No Results
68 C'WEALTH DR ,Lat: 1.298984374 Long: 103.7960772
73 C'WEALTH DR ,Lat: 1.300027148 Long: 103.7965918
129 POTONG PASIR AVE 1 ,Lat: 1.334761505 Long: 103.8655426
21 REDHILL CL ,Lat: 1.286459808 Long: 103.8176842
57 STIRLING RD ,Lat: 1.296328449 Long: 103.80444709999999
55 STIRLING RD ,Lat: 1.296589236 Long: 103.8041754
161 BT MERAH CTRL ,Lat: 1.283912294 Long: 103.8160061
8 REDHILL CL ,Lat: 1.285116227 Long: 103.81686640000001
No Results
45 LENGKOK BAHRU ,Lat: 1.286742975 Long: 103.81263129999999
71 LOR 4 TOA PAYOH ,Lat: 1.334174298 Long: 103.8522046
141 POTONG PASIR AVE 3 ,Lat: 1.334059226 Long: 103.8674551
245 KIM KEAT LINK ,Lat: 1.331077477 Long: 103.85660759999999
126 POTONG PASIR AVE 1 ,Lat: 1.334972463 Long: 103.8652343
133 ANG MO KIO AVE 3 ,Lat: 1.371139686 Long: 103.84264420000001
6 KIM TIAN RD ,Lat: 1.285144309 Long: 103.8292804
66 C'WEALTH DR ,Lat: 1.299116852 Long: 103.7965838
42 HOLLAND DR ,Lat: 1.307903833 Long: 103.79296140000001
64 C'WEALTH DR ,Lat: 1.299170027 Long: 103.7968974
No Results
84A LOR 2 TOA PAYOH ,Lat: 1.335355004 Long: 103.84702990000001
43 LOR 5 TOA PAYOH ,Lat: 1.335906923 Long: 103.8543146
46 TELOK BLANGAH DR ,Lat: 1.271690611 Long: 103.80985229999999
11 JLN BT MERAH ,Lat: 1.286621904 Long: 103.80896329999999
No Results
11 REDHILL CL ,Lat: 1.285525587 Long: 103.81625229999999
46 LENGKOK BAHRU ,Lat: 1.287077496 Long: 103.81270579999999
317 UBI AVE 1 ,Lat: 1.328577578 Long: 103.90280059999999
No Results
No Results
618 ANG MO KIO AVE 4 ,Lat: 1.37795244 Long: 103.83844690000001
6 REDHILL CL ,Lat: 1.284818245 Long: 103.81696140000001
350 UBI AVE 1 ,Lat: 1.325804085 Long: 103.90129240000002
254 KIM KEAT AVE ,Lat: 1.3317331540000001 Long: 103.8583293
328 UBI AVE 1 ,Lat: 1.32756438 Long: 103.90480500000001
85 LOR 4 TOA PAYOH ,Lat: 1.336285362 Long: 103.84842859999999
1 REDHILL CL ,Lat: 1.2842571520000001 Long: 103.8178263
19 REDHILL CL ,Lat: 1.286076265 Long: 103.81783270000001
7 REDHILL CL ,Lat: 1.284916553 Long: 103.81762540000001
2 REDHILL CL ,Lat: 1.284408461 Long: 103.81726280000001
18 TIONG BAHRU RD ,Lat: 1.2857277809999998 Long: 103.83259240000001
72 C'WEALTH DR ,Lat: 1.300023369 Long: 103.7969569
721 ANG MO KIO AVE 8 ,Lat: 1.372349848 Long: 103.8478995
147 SILAT AVE ,Lat: 1.277276965 Long: 103.8310934
43 LENGKOK BAHRU ,Lat: 1.286955402 Long: 103.81100079999999
702 ANG MO KIO AVE 8 ,Lat: 1.369767934 Long: 103.84757950000001
9 REDHILL CL ,Lat: 1.28494012 Long: 103.81641
124 BT MERAH LANE 1 ,Lat: 1.285823318 Long: 103.8035322
53 STIRLING RD ,Lat: 1.296646199 Long: 103.8036194
555 ANG MO KIO AVE 10 ,Lat: 1.371196664 Long: 103.857024
603 CLEMENTI WEST ST 1 ,Lat: 1.304788651 Long: 103.7673293
92 PIPIT RD ,Lat: 1.32319474 Long: 103.88735059999999
70 LOR 4 TOA PAYOH ,Lat: 1.334448749 Long: 103.8523333
158 ANG MO KIO AVE 4 ,Lat: 1.3747805869999998 Long: 103.83899759999998
61 C'WEALTH DR ,Lat: 1.298329201 Long: 103.79660679999999
42 STIRLING RD ,Lat: 1.2983328859999999 Long: 103.8023
131 POTONG PASIR AVE 1 ,Lat: 1.3343832709999999 Long: 103.8653121
No Results
67 C'WEALTH DR ,Lat: 1.298799808 Long: 103.7962589
57 C'WEALTH DR ,Lat: 1.2978422170000001 Long: 103.79660799999999
42 KIM CHENG ST ,Lat: 1.28443457 Long: 103.831599
No Results
15 HOLLAND DR ,Lat: 1.313903945 Long: 103.78256280000001
41 STIRLING RD ,Lat: 1.2986404809999998 Long: 103.8019397
451 ANG MO KIO AVE 10 ,Lat: 1.368793142 Long: 103.85552779999999
46 STIRLING RD ,Lat: 1.2984450220000001 Long: 103.801578
21 LIM LIAK ST ,Lat: 1.285438216 Long: 103.8321614
532 ANG MO KIO AVE 10 ,Lat: 1.373172415 Long: 103.85518370000001
164 BT MERAH CTRL ,Lat: 1.283406756 Long: 103.8167569
7 JLN BT MERAH ,Lat: 1.287300521 Long: 103.80798829999999
410 EUNOS RD 5 ,Lat: 1.318440429 Long: 103.8998522
150 SILAT AVE ,Lat: 1.2770770679999999 Long: 103.83142590000001
127 BT MERAH LANE 1 ,Lat: 1.28532859 Long: 103.8033968
51 CIRCUIT RD ,Lat: 1.324520452 Long: 103.8855146
130 POTONG PASIR AVE 1 ,Lat: 1.334449431 Long: 103.8655637
129 GEYLANG EAST AVE 2 ,Lat: 1.316904786 Long: 103.88820809999999
104B DEPOT RD ,Lat: 1.28049144 Long: 103.8121008
No Results
52 CIRCUIT RD ,Lat: 1.3242085140000002 Long: 103.88546690000001
45 KIM CHENG ST ,Lat: 1.284226486 Long: 103.83160629999999
24 TIONG BAHRU RD ,Lat: 1.285726545 Long: 103.8312705
52 STIRLING RD ,Lat: 1.296545485 Long: 103.8034986
37 LIM LIAK ST ,Lat: 1.285084465 Long: 103.8304936
127 POTONG PASIR AVE 1 ,Lat: 1.335034455 Long: 103.86550559999999
347 ANG MO KIO AVE 3 ,Lat: 1.3673385830000002 Long: 103.84857629999999
443 CLEMENTI AVE 3 ,Lat: 1.314210516 Long: 103.7640104
407 ANG MO KIO AVE 10 ,Lat: 1.361913472 Long: 103.8552477
80 MARINE PARADE CTRL ,Lat: 1.3024820259999998 Long: 103.90773879999999
15 MARINE TER ,Lat: 1.304619194 Long: 103.9140772
226B ANG MO KIO AVE 1 ,Lat: 1.367322673 Long: 103.83955290000002
340 ANG MO KIO AVE 1 ,Lat: 1.3644504990000001 Long: 103.849464
338 ANG MO KIO AVE 1 ,Lat: 1.363895702 Long: 103.848987
50 HAVELOCK RD ,Lat: 1.289778139 Long: 103.82679370000001
16 MARINE TER ,Lat: 1.30437185 Long: 103.9140417
125 POTONG PASIR AVE 1 ,Lat: 1.33541494 Long: 103.86516879999999
727 CLEMENTI WEST ST 2 ,Lat: 1.304624877 Long: 103.7638177
721 CLEMENTI WEST ST 2 ,Lat: 1.302462026 Long: 103.7645553

In [14]:
# save coordinates to dataframe 
df_coordinates = pd.DataFrame({
    'latitude': latitude,
    'longitude': longitude,
    'blk_no': blk_no,
    'road_name': road_name,
    'postal_code': postal_code,
    'address': address
})
len(df_coordinates)

1706

In [15]:
# join the two dataframes based on the address column - only interested in latitude and longitude column of df_coordinates
final_df = new_df.merge(df_coordinates[["latitude", "longitude","address"]], on="address", how="outer").drop_duplicates().dropna()
# check dataframe 
final_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375097469,103.83761899999999
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375097469,103.83761899999999
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375097469,103.83761899999999
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375097469,103.83761899999999
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375097469,103.83761899999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89317,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.30437185,103.9140417
89318,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.30437185,103.9140417
89319,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.33541494,103.86516879999999
89320,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304624877,103.7638177
89321,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462026,103.7645553

In [16]:
# convert lat long columns to floats 
final_df["latitude"] = pd.to_numeric(final_df["latitude"], downcast="float")
final_df["longitude"] = pd.to_numeric(final_df["longitude"], downcast="float")

# creating geodataframe by creating geometry column containing coordinates of flats 
gdf_resale = geopandas.GeoDataFrame(
    final_df, geometry=geopandas.points_from_xy(final_df['longitude'], final_df['latitude']))

gdf_resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude,geometry
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89317,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437)
89318,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437)
89319,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541)
89320,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462)
89321,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246)

In [17]:
# setting crs of geometry to WGS84
gdf_resale.crs = {'init' :'epsg:4326'}

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [18]:
gdf_resale['town'].value_counts()

ANG MO KIO       21153
BUKIT MERAH      14154
TOA PAYOH        12990
QUEENSTOWN       11944
GEYLANG          11445
CLEMENTI         10825
MARINE PARADE     3155
BUKIT TIMAH       1014
Name: town, dtype: int64

In [19]:
gdf_resale['flat_type'].value_counts()

3 ROOM       48693
4 ROOM       21945
5 ROOM       11406
2 ROOM        2810
EXECUTIVE     1572
1 ROOM         254
Name: flat_type, dtype: int64

In [20]:
gdf_resale['flat_model'].value_counts()

New Generation        30710
Improved              27631
Standard              13594
Model A               11142
Simplified             1332
Maisonette              954
Adjoined flat           503
Apartment               474
Model A-Maisonette      250
Terrace                  75
DBSS                     14
Premium Apartment         1
Name: flat_model, dtype: int64

# Feature Engineering - Finding Nearest Neighbours and Shortest Distances

Code modified from https://automating-gis-processes.github.io/site/notebooks/L3/nearest-neighbor-faster.html

A faster and more memory efficient for conducting nearest neighbour analysis is based on BallTree from scikit-learn library, which includes the ability to calculate the distance between neighbors with various different distance metrics, e.g. euclidean and haversine distances.

### Distance to Nearest Conservation Site

In [21]:
# read in conservation site shapefile 
conservation_sites = gpd.read_file("conservation-area-map-shp/URA_CONSERVATION_AREA.shp")
conservation_sites

,OBJECTID,GROUP_NAME,DESCRIPTIO,DATE_OF_GA,PHOTO_LINK,MORE_INFO,INC_CRC,FMEL_UPD_D,X_ADDR,Y_ADDR,SHAPE_Leng,SHAPE_Area,geometry
0,1,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,43D4A11D89151BB0,2015-11-05,32414.3012,43715.8915,602.945195,23626.590132,"POLYGON ((32507.656 43774.848, 32502.216 43760..."
1,2,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,ECE3A4115D6CC8E1,2015-11-05,32464.4286,43880.4604,438.898190,12297.463374,"POLYGON ((32543.426 43880.956, 32538.575 43861..."
2,3,Malabar Mosque,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,BBD6C6EA373D2F8E,2015-11-05,30950.5660,31943.0939,101.806547,650.077537,"POLYGON ((30961.880 31931.908, 30951.824 31924..."
3,4,Leong San See Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,04595AD3564C60F4,2015-11-05,30603.5000,33063.7951,186.312295,1756.716746,"POLYGON ((30638.589 33053.239, 30620.404 33035..."
4,5,Former Chee Kong Tong (Thekchen Choling) Entra...,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,388E45258ED2A225,2015-11-05,31014.6595,32707.2165,91.130775,458.594306,"POLYGON ((30999.548 32715.301, 31007.745 32724..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,244,White House Park/Nassim Rd(7) Lot 61-22 TS 25 ...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,5AFCAE815E84E699,2014-01-30,26848.2654,32495.2566,205.663318,2577.190523,"POLYGON ((26844.444 32458.672, 26815.709 32483..."
250,245,White House Park/Nassim Rd(2) Lot 464 TS 25 (2...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,1459F3FF392FF6C3,2014-01-30,26621.7449,33129.6617,301.175699,5438.518655,"POLYGON ((26605.959 33103.541, 26565.102 33121..."
251,246,Block 1 of Former Beach Road Camp,None,9 October 2002,None,http://www.ura.gov.sg/conservationportal/consm...,1AE17FD6BF304ABD,2014-01-30,30544.0244,30906.4672,148.557506,940.602066,"POLYGON ((30522.515 30885.765, 30551.705 30935..."
252,247,Fort Canning and Coleman Street,None,21 November 2005,http://farm8.staticflickr.com/7109/7028884905_...,http://www.ura.gov.sg/conservationportal/consm...,6BB9026C969F5F65,2014-01-30,29506.3625,30705.8290,2142.170103,252339.562061,"POLYGON ((29351.449 30614.351, 29350.669 30619..."
253,248,Former Fairfield Methodist Girls' School (Neil...,None,2 October 2000,http://farm6.staticflickr.com/5118/7368233658_...,http://www.ura.gov.sg/conservationportal/consm...,881BFD4DAF93F97D,2014-01-30,28651.3600,28929.7259,103.823669,482.178341,"POLYGON ((28644.600 28936.274, 28647.808 28936..."

In [22]:
# creating a geometry column for point location 
gdf = geopandas.GeoDataFrame(
    conservation_sites, geometry=geopandas.points_from_xy(conservation_sites.X_ADDR, conservation_sites.Y_ADDR))
gdf.crs = {'init' :'epsg:3414'}
gdf

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

,OBJECTID,GROUP_NAME,DESCRIPTIO,DATE_OF_GA,PHOTO_LINK,MORE_INFO,INC_CRC,FMEL_UPD_D,X_ADDR,Y_ADDR,SHAPE_Leng,SHAPE_Area,geometry
0,1,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,43D4A11D89151BB0,2015-11-05,32414.3012,43715.8915,602.945195,23626.590132,POINT (32414.301 43715.891)
1,2,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,ECE3A4115D6CC8E1,2015-11-05,32464.4286,43880.4604,438.898190,12297.463374,POINT (32464.429 43880.460)
2,3,Malabar Mosque,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,BBD6C6EA373D2F8E,2015-11-05,30950.5660,31943.0939,101.806547,650.077537,POINT (30950.566 31943.094)
3,4,Leong San See Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,04595AD3564C60F4,2015-11-05,30603.5000,33063.7951,186.312295,1756.716746,POINT (30603.500 33063.795)
4,5,Former Chee Kong Tong (Thekchen Choling) Entra...,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,388E45258ED2A225,2015-11-05,31014.6595,32707.2165,91.130775,458.594306,POINT (31014.660 32707.216)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,244,White House Park/Nassim Rd(7) Lot 61-22 TS 25 ...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,5AFCAE815E84E699,2014-01-30,26848.2654,32495.2566,205.663318,2577.190523,POINT (26848.265 32495.257)
250,245,White House Park/Nassim Rd(2) Lot 464 TS 25 (2...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,1459F3FF392FF6C3,2014-01-30,26621.7449,33129.6617,301.175699,5438.518655,POINT (26621.745 33129.662)
251,246,Block 1 of Former Beach Road Camp,None,9 October 2002,None,http://www.ura.gov.sg/conservationportal/consm...,1AE17FD6BF304ABD,2014-01-30,30544.0244,30906.4672,148.557506,940.602066,POINT (30544.024 30906.467)
252,247,Fort Canning and Coleman Street,None,21 November 2005,http://farm8.staticflickr.com/7109/7028884905_...,http://www.ura.gov.sg/conservationportal/consm...,6BB9026C969F5F65,2014-01-30,29506.3625,30705.8290,2142.170103,252339.562061,POINT (29506.362 30705.829)
253,248,Former Fairfield Methodist Girls' School (Neil...,None,2 October 2000,http://farm6.staticflickr.com/5118/7368233658_...,http://www.ura.gov.sg/conservationportal/consm...,881BFD4DAF93F97D,2014-01-30,28651.3600,28929.7259,103.823669,482.178341,POINT (28651.360 28929.726)

In [23]:
# reproject data into WGS84 

gdf=gdf.to_crs({'init' :'epsg:4326'})

# check reproject has been executed properly 
gdf

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

,OBJECTID,GROUP_NAME,DESCRIPTIO,DATE_OF_GA,PHOTO_LINK,MORE_INFO,INC_CRC,FMEL_UPD_D,X_ADDR,Y_ADDR,SHAPE_Leng,SHAPE_Area,geometry
0,1,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,43D4A11D89151BB0,2015-11-05,32414.3012,43715.8915,602.945195,23626.590132,POINT (103.87298 1.41163)
1,2,Former Royal Air Force (RAF) Seletar,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,ECE3A4115D6CC8E1,2015-11-05,32464.4286,43880.4604,438.898190,12297.463374,POINT (103.87344 1.41311)
2,3,Malabar Mosque,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,BBD6C6EA373D2F8E,2015-11-05,30950.5660,31943.0939,101.806547,650.077537,POINT (103.85983 1.30516)
3,4,Leong San See Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,04595AD3564C60F4,2015-11-05,30603.5000,33063.7951,186.312295,1756.716746,POINT (103.85671 1.31529)
4,5,Former Chee Kong Tong (Thekchen Choling) Entra...,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,388E45258ED2A225,2015-11-05,31014.6595,32707.2165,91.130775,458.594306,POINT (103.86041 1.31207)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,244,White House Park/Nassim Rd(7) Lot 61-22 TS 25 ...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,5AFCAE815E84E699,2014-01-30,26848.2654,32495.2566,205.663318,2577.190523,POINT (103.82297 1.31015)
250,245,White House Park/Nassim Rd(2) Lot 464 TS 25 (2...,None,29 November 1991,None,http://www.ura.gov.sg/conservationportal/consm...,1459F3FF392FF6C3,2014-01-30,26621.7449,33129.6617,301.175699,5438.518655,POINT (103.82093 1.31589)
251,246,Block 1 of Former Beach Road Camp,None,9 October 2002,None,http://www.ura.gov.sg/conservationportal/consm...,1AE17FD6BF304ABD,2014-01-30,30544.0244,30906.4672,148.557506,940.602066,POINT (103.85618 1.29578)
252,247,Fort Canning and Coleman Street,None,21 November 2005,http://farm8.staticflickr.com/7109/7028884905_...,http://www.ura.gov.sg/conservationportal/consm...,6BB9026C969F5F65,2014-01-30,29506.3625,30705.8290,2142.170103,252339.562061,POINT (103.84685 1.29397)
253,248,Former Fairfield Methodist Girls' School (Neil...,None,2 October 2000,http://farm6.staticflickr.com/5118/7368233658_...,http://www.ura.gov.sg/conservationportal/consm...,881BFD4DAF93F97D,2014-01-30,28651.3600,28929.7259,103.823669,482.178341,POINT (103.83917 1.27790)

In [25]:
# Define function for nearest neighbour search 
# Script modified from https://automating-gis-processes.github.io/site/notebooks/L3/nearest-neighbor-faster.html

def get_nearest(src_points, candidates, k_neighbors=1):
    """Find nearest neighbors for all source points from a set of candidate points"""

    # Create tree from the candidate points
    tree = BallTree(candidates, leaf_size=15, metric='haversine')

    # Find closest points and distances
    distances, indices = tree.query(src_points, k=k_neighbors)

    # Transpose to get distances and indices into arrays
    distances = distances.transpose()
    indices = indices.transpose()

    # Get closest indices and distances (i.e. array at index 0)
    # note: for the second closest points, you would take index 1, etc.
    closest = indices[0]
    closest_dist = distances[0]

    # Return indices and distances
    return (closest, closest_dist)


def nearest_neighbor(left_gdf, right_gdf, return_dist=False):
    """
    For each point in left_gdf, find closest point in right GeoDataFrame and return them.

    NOTICE: Assumes that the input Points are in WGS84 projection (lat/lon).
    """

    left_geom_col = left_gdf.geometry.name
    right_geom_col = right_gdf.geometry.name

    # Ensure that index in right gdf is formed of sequential numbers
    right = right_gdf.copy().reset_index(drop=True)

    # Parse coordinates from points and insert them into a numpy array as RADIANS
    left_radians = np.array(left_gdf[left_geom_col].apply(lambda geom: (geom.x * np.pi / 180, geom.y * np.pi / 180)).to_list())
    right_radians = np.array(right[right_geom_col].apply(lambda geom: (geom.x * np.pi / 180, geom.y * np.pi / 180)).to_list())

    # Find the nearest points
    # -----------------------
    # closest ==> index in right_gdf that corresponds to the closest point
    # dist ==> distance between the nearest neighbors (in meters)

    closest, dist = get_nearest(src_points=left_radians, candidates=right_radians)

    # Return points from right GeoDataFrame that are closest to points in left GeoDataFrame
    closest_points = right.loc[closest]

    # Ensure that the index corresponds the one in left_gdf
    closest_points = closest_points.reset_index(drop=True)

    # Add distance if requested
    if return_dist:
        # Convert to meters from radians
        earth_radius = 6371000  # meters
        closest_points['distance'] = dist * earth_radius

    return closest_points

Nearest Neighbour Search

In [26]:
# Find closest conservation site for each flat and distance based on haversine distance
# Note: haversine distance which is implemented here is a bit slower than using e.g. 'euclidean' metric
# but useful for deriving distance between points in meters
closest_sites = nearest_neighbor(gdf_resale, gdf, return_dist=True)

# Check result
closest_sites

,OBJECTID,GROUP_NAME,DESCRIPTIO,DATE_OF_GA,PHOTO_LINK,MORE_INFO,INC_CRC,FMEL_UPD_D,X_ADDR,Y_ADDR,SHAPE_Leng,SHAPE_Area,geometry,distance
0,35,Kiew Lee Tong Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,E3DD00DCCF1F7E11,2015-11-05,27475.7811,38572.4348,221.382246,2529.883155,POINT (103.82861 1.36511),1036.226326
1,35,Kiew Lee Tong Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,E3DD00DCCF1F7E11,2015-11-05,27475.7811,38572.4348,221.382246,2529.883155,POINT (103.82861 1.36511),1036.226326
2,35,Kiew Lee Tong Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,E3DD00DCCF1F7E11,2015-11-05,27475.7811,38572.4348,221.382246,2529.883155,POINT (103.82861 1.36511),1036.226326
3,35,Kiew Lee Tong Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,E3DD00DCCF1F7E11,2015-11-05,27475.7811,38572.4348,221.382246,2529.883155,POINT (103.82861 1.36511),1036.226326
4,35,Kiew Lee Tong Temple,None,6 June 2014,None,http://www.ura.gov.sg/conservationportal/consm...,E3DD00DCCF1F7E11,2015-11-05,27475.7811,38572.4348,221.382246,2529.883155,POINT (103.82861 1.36511),1036.226326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,204,Joo Chiat Conservation Area (Ph2) - 445 to 459...,None,1 December 2003,None,http://www.ura.gov.sg/conservationportal/consm...,AF9B9DDA79CA9732,2014-01-30,36824.2523,32402.0981,229.259445,2730.986047,POINT (103.91261 1.30931),206.692805
86676,204,Joo Chiat Conservation Area (Ph2) - 445 to 459...,None,1 December 2003,None,http://www.ura.gov.sg/conservationportal/consm...,AF9B9DDA79CA9732,2014-01-30,36824.2523,32402.0981,229.259445,2730.986047,POINT (103.91261 1.30931),206.692805
86677,104,St. Andrew's School,None,1 December 2003,http://farm9.staticflickr.com/8149/7176660231_...,http://www.ura.gov.sg/conservationportal/consm...,3E9C87A92DADFE9B,2014-01-30,31587.1535,34758.2321,1094.760673,66565.822010,POINT (103.86555 1.33062),134.881667
86678,251,Jalan Jurong Kechil,None,1 December 2003,http://farm8.staticflickr.com/7078/7370379400_...,http://www.ura.gov.sg/conservationportal/consm...,2EDB28F8E46345E0,2014-01-30,21289.3043,35859.3878,209.391099,2033.660234,POINT (103.77302 1.34057),1397.163127
86679,251,Jalan Jurong Kechil,None,1 December 2003,http://farm8.staticflickr.com/7078/7370379400_...,http://www.ura.gov.sg/conservationportal/consm...,2EDB28F8E46345E0,2014-01-30,21289.3043,35859.3878,209.391099,2033.660234,POINT (103.77302 1.34057),1379.374297

In [27]:
# Check that there are the same number of closest sites as resale flats 
print(len(closest_sites), '==', len(gdf_resale))

86680 == 86680

In [28]:
gdf_resale=gdf_resale.reset_index(drop=True)
gdf_resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude,geometry
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437)
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437)
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541)
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462)
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246)

In [29]:
# combine the neighbouring datasets 

# Rename the geometry of closest sites gdf so that we can easily identify it
closest_sites = closest_sites.rename(columns={'geometry': 'closest_site_geom'})

In [30]:
# subset of original dataframe
closest_sites_sub = closest_sites[['closest_site_geom','distance']]
closest_sites_sub

               closest_site_geom     distance
0      POINT (103.82861 1.36511)  1036.226326
1      POINT (103.82861 1.36511)  1036.226326
2      POINT (103.82861 1.36511)  1036.226326
3      POINT (103.82861 1.36511)  1036.226326
4      POINT (103.82861 1.36511)  1036.226326
...                          ...          ...
86675  POINT (103.91261 1.30931)   206.692805
86676  POINT (103.91261 1.30931)   206.692805
86677  POINT (103.86555 1.33062)   134.881667
86678  POINT (103.77302 1.34057)  1397.163127
86679  POINT (103.77302 1.34057)  1379.374297

[86680 rows x 2 columns]

In [31]:
# Merge the datasets by index 
resale = gdf_resale.join(closest_sites_sub)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude,geometry,closest_site_geom,distance
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297

### Distance to CBD

In [32]:
# Set Raffles Place MRT station as proxy for CBD 
# Returns distance in km 

def distance_to_mid(lat, lon):
    cbd = (1.2830, 103.8513) 
    flat = (lat, lon)
    return great_circle(cbd, flat).km

resale['cbd_distance'] = resale.apply(lambda x: distance_to_mid(x.latitude, x.longitude), axis=1)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude,geometry,closest_site_geom,distance,cbd_distance
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802

### Distance to Nearest Public Transport Stops (MRT and Bus)

In [33]:
# Read in MRT location data 
mrt_stations = pd.read_csv('mrtsg.csv')
mrt_stations

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED
3,153,BARTLEY MRT STATION,CC12,33168.3039,36108.7003,1.342828,103.879746,YELLOW
4,115,BAYFRONT MRT STATION,DT16,30867.0093,29368.6250,1.281874,103.859073,BLUE
...,...,...,...,...,...,...,...,...
139,175,WOODLANDS SOUTH MRT STATION,TE3,23607.8309,45444.7113,1.427260,103.793863,OTHERS
140,146,WOODLEIGH MRT STATION,NE11,32173.3186,35706.3794,1.339190,103.870808,PURPLE
141,6,YEW TEE MRT STATION,NS5,18438.9791,42158.0124,1.397535,103.747431,RED
142,41,YIO CHU KANG MRT STATION,NS15,29294.1283,40413.0820,1.381756,103.844944,RED
143,13,YISHUN MRT STATION,NS13,28187.6787,45686.0701,1.429443,103.835005,RED

In [34]:
# convert lat long columns to floats 
gdf_mrt = geopandas.GeoDataFrame(
    mrt_stations, geometry=geopandas.points_from_xy(mrt_stations['Longitude'], mrt_stations['Latitude']))

gdf_mrt

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,geometry
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED,POINT (103.80100 1.44059)
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN,POINT (103.88289 1.31643)
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED,POINT (103.84955 1.36993)
3,153,BARTLEY MRT STATION,CC12,33168.3039,36108.7003,1.342828,103.879746,YELLOW,POINT (103.87975 1.34283)
4,115,BAYFRONT MRT STATION,DT16,30867.0093,29368.6250,1.281874,103.859073,BLUE,POINT (103.85907 1.28187)
...,...,...,...,...,...,...,...,...,...
139,175,WOODLANDS SOUTH MRT STATION,TE3,23607.8309,45444.7113,1.427260,103.793863,OTHERS,POINT (103.79386 1.42726)
140,146,WOODLEIGH MRT STATION,NE11,32173.3186,35706.3794,1.339190,103.870808,PURPLE,POINT (103.87081 1.33919)
141,6,YEW TEE MRT STATION,NS5,18438.9791,42158.0124,1.397535,103.747431,RED,POINT (103.74743 1.39754)
142,41,YIO CHU KANG MRT STATION,NS15,29294.1283,40413.0820,1.381756,103.844944,RED,POINT (103.84494 1.38176)
143,13,YISHUN MRT STATION,NS13,28187.6787,45686.0701,1.429443,103.835005,RED,POINT (103.83500 1.42944)

In [35]:
# find closest mrt stations for each resale flat 
closest_mrt = nearest_neighbor(gdf_resale, gdf_mrt, return_dist=True)

# Check results
closest_mrt

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,geometry,distance
0,160,MARYMOUNT MRT STATION,CC16,28679.3688,36758.7136,1.348707,103.839421,YELLOW,POINT (103.83942 1.34871),730.029000
1,160,MARYMOUNT MRT STATION,CC16,28679.3688,36758.7136,1.348707,103.839421,YELLOW,POINT (103.83942 1.34871),730.029000
2,160,MARYMOUNT MRT STATION,CC16,28679.3688,36758.7136,1.348707,103.839421,YELLOW,POINT (103.83942 1.34871),730.029000
3,160,MARYMOUNT MRT STATION,CC16,28679.3688,36758.7136,1.348707,103.839421,YELLOW,POINT (103.83942 1.34871),730.029000
4,160,MARYMOUNT MRT STATION,CC16,28679.3688,36758.7136,1.348707,103.839421,YELLOW,POINT (103.83942 1.34871),730.029000
...,...,...,...,...,...,...,...,...,...,...
86675,31,KEMBANGAN MRT STATION,EW6,36862.1237,33699.3568,1.321038,103.912928,GREEN,POINT (103.91293 1.32104),462.438213
86676,31,KEMBANGAN MRT STATION,EW6,36862.1237,33699.3568,1.321038,103.912928,GREEN,POINT (103.91293 1.32104),462.438213
86677,176,POTONG PASIR MRT STATION,NE10,31977.1677,34842.7289,1.331380,103.869046,PURPLE,POINT (103.86905 1.33138),444.669074
86678,15,CLEMENTI MRT STATION,EW23,20430.0600,33026.6075,1.314954,103.765317,GREEN,POINT (103.76532 1.31495),320.164404
86679,15,CLEMENTI MRT STATION,EW23,20430.0600,33026.6075,1.314954,103.765317,GREEN,POINT (103.76532 1.31495),341.152312

In [36]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_mrt = closest_mrt.rename(columns={'geometry': 'closest_mrt_geom'})
closest_mrt = closest_mrt.rename(columns={'distance': 'distance_mrt'})
closest_mrt = closest_mrt[['STN_NAME','closest_mrt_geom','distance_mrt']]
closest_mrt_sub = closest_mrt[['distance_mrt']]

In [37]:
# join to existing resale dataset 
resale = resale.join(closest_mrt_sub)

In [38]:
# Read in bus stops location data 
bus_stops = gpd.read_file('BusStopLocation_Jan2020/BusStop.shp')
bus_stops.crs = {'init' :'epsg:3414'}

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [39]:
bus_stops = bus_stops.to_crs({'init' :'epsg:4326'})

In [40]:
bus_stops

     BUS_STOP_N BUS_ROOF_N                LOC_DESC                   geometry
0         78221        B06                    None  POINT (103.96117 1.37407)
1         63359        B01       HOUGANG SWIM CPLX  POINT (103.88782 1.36941)
2         64141        B13          AFT JLN TELAWI  POINT (103.90822 1.36469)
3         83139        B07        AFT JOO CHIAT PL  POINT (103.90997 1.31454)
4         55231        B02  OPP SBST EAST DISTRICT  POINT (103.84832 1.38563)
...         ...        ...                     ...                        ...
5035      65541        B01         BEF SUMANG LANE  POINT (103.89126 1.40351)
5036      67691        UNK                BLK 338A  POINT (103.88950 1.39891)
5037      67699        UNK                BLK 334A  POINT (103.88983 1.39872)
5038      67761       B02A            OPP BLK 326D  POINT (103.88754 1.39607)
5039      67769       B01A                BLK 326D  POINT (103.88773 1.39615)

[5040 rows x 4 columns]

In [41]:
# find closest bus stops for each resale flat 
closest_bus_stop = nearest_neighbor(gdf_resale, bus_stops, return_dist=True)
# Check results
closest_bus_stop

,BUS_STOP_N,BUS_ROOF_N,LOC_DESC,geometry,distance
0,54199,B04,BLK 163,POINT (103.83762 1.37422),23.365871
1,54199,B04,BLK 163,POINT (103.83762 1.37422),23.365871
2,54199,B04,BLK 163,POINT (103.83762 1.37422),23.365871
3,54199,B04,BLK 163,POINT (103.83762 1.37422),23.365871
4,54199,B04,BLK 163,POINT (103.83762 1.37422),23.365871
...,...,...,...,...,...
86675,92191,B11,OPP CP C3,POINT (103.91478 1.30247),96.899174
86676,92191,B11,OPP CP C3,POINT (103.91478 1.30247),96.899174
86677,61079,B06,BLK 121,POINT (103.86517 1.33600),15.509091
86678,17041,B07,BLK 726 CLEMENTI WEST MKT,POINT (103.76452 1.30424),78.858626
86679,17289,B05,WEST COAST CC,POINT (103.76479 1.30234),26.584081

In [42]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_bus_stop = closest_bus_stop.rename(columns={'geometry': 'closest_bus_stop_geom'})
closest_bus_stop = closest_bus_stop.rename(columns={'distance': 'distance_bus_stop'})
closest_bus_stop = closest_bus_stop[['distance_bus_stop']]

In [43]:
closest_bus_stop

       distance_bus_stop
0              23.365871
1              23.365871
2              23.365871
3              23.365871
4              23.365871
...                  ...
86675          96.899174
86676          96.899174
86677          15.509091
86678          78.858626
86679          26.584081

[86680 rows x 1 columns]

In [44]:
# join to existing resale dataset 
resale = resale.join(closest_bus_stop)

In [45]:
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,latitude,longitude,geometry,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,275000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,310000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,253000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,290000.0,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,240000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,233000.0,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,718000.0,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,355000.0,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,371000.0,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081

### Distance to Nearest Shopping Mall

In [46]:
# read in location data 
shopping_malls = pd.read_csv('shopping malls.csv')
shopping_malls = shopping_malls[['latitude','longitude','address']]
shopping_malls

     latitude   longitude                       address
0    1.362117  103.990204     Changi Airport Terminal 1
1    1.360332  103.989670          Jewel Changi Airport
2    1.303023  103.852876                Sim Lim Square
3    1.371936  103.845974                Broadway Plaza
4    1.392094  103.894980                   Compass One
..        ...         ...                           ...
197  1.428114  103.836063               Northpoint City
198  1.302983  103.836284                 Knightsbridge
199  1.334845  103.720462  Taman Jurong Shopping Centre
200  1.437131  103.795290                     888 Plaza
201  1.292046  103.859900                 Millenia Walk

[202 rows x 3 columns]

In [47]:
# creating geometry column 
gdf_shopping_malls = geopandas.GeoDataFrame(
    shopping_malls, geometry=geopandas.points_from_xy(shopping_malls['longitude'], shopping_malls['latitude']))

gdf_shopping_malls

,latitude,longitude,address,geometry
0,1.362117,103.990204,Changi Airport Terminal 1,POINT (103.99020 1.36212)
1,1.360332,103.989670,Jewel Changi Airport,POINT (103.98967 1.36033)
2,1.303023,103.852876,Sim Lim Square,POINT (103.85288 1.30302)
3,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194)
4,1.392094,103.894980,Compass One,POINT (103.89498 1.39209)
...,...,...,...,...
197,1.428114,103.836063,Northpoint City,POINT (103.83606 1.42811)
198,1.302983,103.836284,Knightsbridge,POINT (103.83628 1.30298)
199,1.334845,103.720462,Taman Jurong Shopping Centre,POINT (103.72046 1.33484)
200,1.437131,103.795290,888 Plaza,POINT (103.79529 1.43713)
201,1.292046,103.859900,Millenia Walk,POINT (103.85990 1.29205)

In [48]:
# find closest mall for each resale flat 
closest_mall = nearest_neighbor(gdf_resale, gdf_shopping_malls, return_dist=True)

# Check results
closest_mall

,latitude,longitude,address,geometry,distance
0,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194),933.145397
1,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194),933.145397
2,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194),933.145397
3,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194),933.145397
4,1.371936,103.845974,Broadway Plaza,POINT (103.84597 1.37194),933.145397
...,...,...,...,...,...
86675,1.301080,103.905282,Parkway Parade,POINT (103.90528 1.30108),977.791420
86676,1.301080,103.905282,Parkway Parade,POINT (103.90528 1.30108),977.791420
86677,1.324222,103.864549,R&F Mall,POINT (103.86455 1.32422),306.029520
86678,1.303743,103.766093,West Coast Plaza,POINT (103.76609 1.30374),254.161399
86679,1.303743,103.766093,West Coast Plaza,POINT (103.76609 1.30374),174.125473

In [49]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_mall = closest_mall.rename(columns={'geometry': 'closest_mall'})
closest_mall = closest_mall.rename(columns={'distance': 'distance_mall'})
closest_mall = closest_mall[['distance_mall']]
closest_mall

       distance_mall
0         933.145397
1         933.145397
2         933.145397
3         933.145397
4         933.145397
...              ...
86675     977.791420
86676     977.791420
86677     306.029520
86678     254.161399
86679     174.125473

[86680 rows x 1 columns]

In [50]:
# join to existing resale dataset 
resale = resale.join(closest_mall)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,address,latitude,longitude,geometry,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,174 ANG MO KIO AVE 4,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,16 MARINE TER,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,125 POTONG PASIR AVE 1,1.335415,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091,306.029520
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,727 CLEMENTI WEST ST 2,1.304625,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626,254.161399
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,721 CLEMENTI WEST ST 2,1.302462,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081,174.125473

### Distance to Nearest Good School

In [51]:
# read in data of primary schools 
prestige_schools = pd.read_csv('primary schools.csv')
prestige_schools = prestige_schools[['school_name','address','latitude','longitude']]
prestige_schools

,school_name,address,latitude,longitude
0,AHMAD IBRAHIM PRIMARY SCHOOL,10 YISHUN STREET 11,1.433681,103.832924
1,AI TONG SCHOOL,100 Bright Hill Drive,1.360583,103.833020
2,ANGLO-CHINESE SCHOOL (PRIMARY),50 BARKER ROAD,1.318719,103.835345
3,CANBERRA PRIMARY SCHOOL,21 ADMIRALTY DRIVE,1.451064,103.815971
4,CATHOLIC HIGH SCHOOL,9 BISHAN STREET 22,1.354789,103.844934
5,CHIJ (KATONG) PRIMARY,17 MARTIA ROAD,1.306527,103.910922
6,CHIJ PRIMARY (TOA PAYOH),628 Lorong 1 Toa Payoh,1.332818,103.841918
7,CHONGFU SCHOOL,170 YISHUN AVENUE 6,1.438462,103.839071
8,CHONGZHENG PRIMARY SCHOOL,1 TAMPINES STREET 21,1.350595,103.951225
9,ELIAS PARK PRIMARY SCHOOL,11 PASIR RIS STREET 52,1.375057,103.945289
10,FAIRFIELD METHODIST SCHOOL (PRIMARY),100 DOVER ROAD,1.308287,103.777022
11,GONGSHANG PRIMARY SCHOOL,1 TAMPINES STREET 42,1.357349,103.948872
12,GREENRIDGE PRIMARY SCHOOL,11 JELAPANG ROAD,1.385874,103.767815
13,HAIG GIRLS' SCHOOL,51 Koon Seng Road,1.311539,103.903394
14,HENRY PARK PRIMARY SCHOOL,1 HOLLAND GROVE ROAD,1.316726,103.784208
15,HONG WEN SCHOOL,30 TOWNER ROAD,1.321689,103.857652
16,KEMING PRIMARY SCHOOL,90 BUKIT BATOK EAST AVENUE 6,1.345245,103.756265
17,KONG HWA SCHOOL,350 GUILLEMARD ROAD,1.311114,103.888209
18,MARIS STELLA HIGH SCHOOL,25 MOUNT VERNON ROAD,1.341398,103.877769
19,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747
20,METHODIST GIRLS' SCHOOL (PRIMARY),11 Blackmore Drive,1.332863,103.783363
21,NAN CHIAU PRIMARY SCHOOL,50 ANCHORVALE LINK,1.392065,103.890925
22,NANYANG PRIMARY SCHOOL,52 KING'S ROAD,1.320100,103.808015
23,NORTHLAND PRIMARY SCHOOL,15 YISHUN AVENUE 4,1.421304,103.840793
24,PASIR RIS PRIMARY SCHOOL,5 PASIR RIS STREET 21,1.372451,103.962923
25,PAYA LEBAR METHODIST GIRLS' SCHOOL (PRIMARY),298 LORONG AH SOO,1.349842,103.884978
26,PEI CHUN PUBLIC SCHOOL,16 LORONG 7 TOA PAYOH,1.337289,103.855474
27,PEI HWA PRESBYTERIAN PRIMARY SCHOOL,7 PEI WAH AVENUE,1.338055,103.776108
28,PUNGGOL PRIMARY SCHOOL,61 HOUGANG AVENUE 8,1.369650,103.885063
29,RADIN MAS PRIMARY SCHOOL,1 BUKIT PURMEI AVENUE,1.274962,103.824180
30,RAFFLES GIRLS' PRIMARY SCHOOL,21 Hillcrest Road,1.330074,103.806221
31,RIVER VALLEY PRIMARY SCHOOL,2 RIVER VALLEY GREEN,1.294183,103.836019
32,ROSYTH SCHOOL,21 Serangoon North Avenue 4,1.372916,103.874693
33,RULANG PRIMARY SCHOOL,6 JURONG WEST STREET 52,1.346844,103.719010
34,SINGAPORE CHINESE GIRLS' PRIMARY SCHOOL,190 DUNEARN ROAD,1.321252,103.827709
35,SOUTH VIEW PRIMARY SCHOOL,6 Choa Chu Kang Central,1.381431,103.747154
36,ST. ANDREW'S JUNIOR SCHOOL,2 FRANCIS THOMAS DRIVE,1.331389,103.865129
37,ST. HILDA'S PRIMARY SCHOOL,2 Tampines Ave 3,1.349350,103.937921
38,TAMPINES PRIMARY SCHOOL,250 TAMPINES STREET 12,1.350486,103.943573
39,TAO NAN SCHOOL,49 MARINE CRESCENT,1.304632,103.911204
40,TELOK KURAU PRIMARY SCHOOL,50 BEDOK RESERVOIR RD,1.337536,103.920652
41,TEMASEK PRIMARY SCHOOL,501 BEDOK SOUTH AVE 3,1.317716,103.945695
42,XINMIN PRIMARY SCHOOL,9 HOUGANG AVENUE 8,1.371415,103.883039

In [52]:
# creating geometry column 
gdf_pri_sch = geopandas.GeoDataFrame(
    prestige_schools, geometry=geopandas.points_from_xy(prestige_schools['longitude'], prestige_schools['latitude']))

gdf_pri_sch

,school_name,address,latitude,longitude,geometry
0,AHMAD IBRAHIM PRIMARY SCHOOL,10 YISHUN STREET 11,1.433681,103.832924,POINT (103.83292 1.43368)
1,AI TONG SCHOOL,100 Bright Hill Drive,1.360583,103.833020,POINT (103.83302 1.36058)
2,ANGLO-CHINESE SCHOOL (PRIMARY),50 BARKER ROAD,1.318719,103.835345,POINT (103.83535 1.31872)
3,CANBERRA PRIMARY SCHOOL,21 ADMIRALTY DRIVE,1.451064,103.815971,POINT (103.81597 1.45106)
4,CATHOLIC HIGH SCHOOL,9 BISHAN STREET 22,1.354789,103.844934,POINT (103.84493 1.35479)
5,CHIJ (KATONG) PRIMARY,17 MARTIA ROAD,1.306527,103.910922,POINT (103.91092 1.30653)
6,CHIJ PRIMARY (TOA PAYOH),628 Lorong 1 Toa Payoh,1.332818,103.841918,POINT (103.84192 1.33282)
7,CHONGFU SCHOOL,170 YISHUN AVENUE 6,1.438462,103.839071,POINT (103.83907 1.43846)
8,CHONGZHENG PRIMARY SCHOOL,1 TAMPINES STREET 21,1.350595,103.951225,POINT (103.95123 1.35059)
9,ELIAS PARK PRIMARY SCHOOL,11 PASIR RIS STREET 52,1.375057,103.945289,POINT (103.94529 1.37506)
10,FAIRFIELD METHODIST SCHOOL (PRIMARY),100 DOVER ROAD,1.308287,103.777022,POINT (103.77702 1.30829)
11,GONGSHANG PRIMARY SCHOOL,1 TAMPINES STREET 42,1.357349,103.948872,POINT (103.94887 1.35735)
12,GREENRIDGE PRIMARY SCHOOL,11 JELAPANG ROAD,1.385874,103.767815,POINT (103.76781 1.38587)
13,HAIG GIRLS' SCHOOL,51 Koon Seng Road,1.311539,103.903394,POINT (103.90339 1.31154)
14,HENRY PARK PRIMARY SCHOOL,1 HOLLAND GROVE ROAD,1.316726,103.784208,POINT (103.78421 1.31673)
15,HONG WEN SCHOOL,30 TOWNER ROAD,1.321689,103.857652,POINT (103.85765 1.32169)
16,KEMING PRIMARY SCHOOL,90 BUKIT BATOK EAST AVENUE 6,1.345245,103.756265,POINT (103.75626 1.34525)
17,KONG HWA SCHOOL,350 GUILLEMARD ROAD,1.311114,103.888209,POINT (103.88821 1.31111)
18,MARIS STELLA HIGH SCHOOL,25 MOUNT VERNON ROAD,1.341398,103.877769,POINT (103.87777 1.34140)
19,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607)
20,METHODIST GIRLS' SCHOOL (PRIMARY),11 Blackmore Drive,1.332863,103.783363,POINT (103.78336 1.33286)
21,NAN CHIAU PRIMARY SCHOOL,50 ANCHORVALE LINK,1.392065,103.890925,POINT (103.89092 1.39206)
22,NANYANG PRIMARY SCHOOL,52 KING'S ROAD,1.320100,103.808015,POINT (103.80802 1.32010)
23,NORTHLAND PRIMARY SCHOOL,15 YISHUN AVENUE 4,1.421304,103.840793,POINT (103.84079 1.42130)
24,PASIR RIS PRIMARY SCHOOL,5 PASIR RIS STREET 21,1.372451,103.962923,POINT (103.96292 1.37245)
25,PAYA LEBAR METHODIST GIRLS' SCHOOL (PRIMARY),298 LORONG AH SOO,1.349842,103.884978,POINT (103.88498 1.34984)
26,PEI CHUN PUBLIC SCHOOL,16 LORONG 7 TOA PAYOH,1.337289,103.855474,POINT (103.85547 1.33729)
27,PEI HWA PRESBYTERIAN PRIMARY SCHOOL,7 PEI WAH AVENUE,1.338055,103.776108,POINT (103.77611 1.33806)
28,PUNGGOL PRIMARY SCHOOL,61 HOUGANG AVENUE 8,1.369650,103.885063,POINT (103.88506 1.36965)
29,RADIN MAS PRIMARY SCHOOL,1 BUKIT PURMEI AVENUE,1.274962,103.824180,POINT (103.82418 1.27496)
30,RAFFLES GIRLS' PRIMARY SCHOOL,21 Hillcrest Road,1.330074,103.806221,POINT (103.80622 1.33007)
31,RIVER VALLEY PRIMARY SCHOOL,2 RIVER VALLEY GREEN,1.294183,103.836019,POINT (103.83602 1.29418)
32,ROSYTH SCHOOL,21 Serangoon North Avenue 4,1.372916,103.874693,POINT (103.87469 1.37292)
33,RULANG PRIMARY SCHOOL,6 JURONG WEST STREET 52,1.346844,103.719010,POINT (103.71901 1.34684)
34,SINGAPORE CHINESE GIRLS' PRIMARY SCHOOL,190 DUNEARN ROAD,1.321252,103.827709,POINT (103.82771 1.32125)
35,SOUTH VIEW PRIMARY SCHOOL,6 Choa Chu Kang Central,1.381431,103.747154,POINT (103.74715 1.38143)
36,ST. ANDREW'S JUNIOR SCHOOL,2 FRANCIS THOMAS DRIVE,1.331389,103.865129,POINT (103.86513 1.33139)
37,ST. HILDA'S PRIMARY SCHOOL,2 Tampines Ave 3,1.349350,103.937921,POINT (103.93792 1.34935)
38,TAMPINES PRIMARY SCHOOL,250 TAMPINES STREET 12,1.350486,103.943573,POINT (103.94357 1.35049)
39,TAO NAN SCHOOL,49 MARINE CRESCENT,1.304632,103.911204,POINT (103.91120 1.30463)
40,TELOK KURAU PRIMARY SCHOOL,50 BEDOK RESERVOIR RD,1.337536,103.920652,POINT (103.92065 1.33754)
41,TEMASEK PRIMARY SCHOOL,501 BEDOK SOUTH AVE 3,1.317716,103.945695,POINT (103.94570 1.31772)
42,XINMIN PRIMARY SCHOOL,9 HOUGANG AVENUE 8,1.371415,103.883039,POINT (103.88304 1.37141)

In [53]:
# find closest mall for each resale flat 
closest_school = nearest_neighbor(gdf_resale, gdf_pri_sch, return_dist=True)

# Check results 
closest_school

,school_name,address,latitude,longitude,geometry,distance
0,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607),209.449588
1,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607),209.449588
2,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607),209.449588
3,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607),209.449588
4,MAYFLOWER PRIMARY SCHOOL,6 ANG MO KIO AVE 2,1.376068,103.835747,POINT (103.83575 1.37607),209.449588
...,...,...,...,...,...,...
86675,TAO NAN SCHOOL,49 MARINE CRESCENT,1.304632,103.911204,POINT (103.91120 1.30463),315.359851
86676,TAO NAN SCHOOL,49 MARINE CRESCENT,1.304632,103.911204,POINT (103.91120 1.30463),315.359851
86677,ST. ANDREW'S JUNIOR SCHOOL,2 FRANCIS THOMAS DRIVE,1.331389,103.865129,POINT (103.86513 1.33139),107.350259
86678,KEMING PRIMARY SCHOOL,90 BUKIT BATOK EAST AVENUE 6,1.345245,103.756265,POINT (103.75626 1.34525),1363.610294
86679,FAIRFIELD METHODIST SCHOOL (PRIMARY),100 DOVER ROAD,1.308287,103.777022,POINT (103.77702 1.30829),1394.650277

In [54]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_school = closest_school.rename(columns={'geometry': 'closest_school'})
closest_school = closest_school.rename(columns={'distance': 'distance_school'})
closest_school = closest_school[['distance_school']]
closest_school

       distance_school
0           209.449588
1           209.449588
2           209.449588
3           209.449588
4           209.449588
...                ...
86675       315.359851
86676       315.359851
86677       107.350259
86678      1363.610294
86679      1394.650277

[86680 rows x 1 columns]

In [55]:
# join to existing resale dataset 
resale = resale.join(closest_school)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,latitude,longitude,geometry,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall,distance_school
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,1.375098,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,1.304372,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,1.335415,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091,306.029520,107.350259
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1.304625,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626,254.161399,1363.610294
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1.302462,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081,174.125473,1394.650277

### Distance to Nearest Hawker Centre

In [56]:
# read in location data 
hawker_centre = gpd.read_file('hawkercentre/HAWKERCENTRE.shp')
hawker_centre = hawker_centre[['ADDRESSSTR','geometry']]
# set crs 
hawker_centre.crs = {'init' :'epsg:3414'}

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [57]:
hawker_centre = hawker_centre.to_crs(epsg=4326)
hawker_centre

                ADDRESSSTR                   geometry
0       Commonwealth Drive  POINT (103.79788 1.29971)
1                Onan Road  POINT (103.90183 1.30941)
2             Empress Road  POINT (103.80564 1.31625)
3           Eunos Crescent  POINT (103.90426 1.32033)
4            Geylang Bahru  POINT (103.87000 1.32146)
..                     ...                        ...
120     Lorong 5 Toa Payoh  POINT (103.85294 1.33604)
121     Lorong 7 Toa Payoh  POINT (103.85704 1.33523)
122     East Coast Parkway  POINT (103.93502 1.30668)
123  New Upper Changi Road  POINT (103.93056 1.32474)
124  New Upper Changi Road  POINT (103.94113 1.32419)

[125 rows x 2 columns]

In [58]:
# find closest hawker centre for each resale flat 
closest_hc = nearest_neighbor(gdf_resale, hawker_centre, return_dist=True)

# Check results 
closest_hc

                   ADDRESSSTR                   geometry    distance
0            Ang Mo Kio Ave 4  POINT (103.83921 1.37449)  178.460502
1            Ang Mo Kio Ave 4  POINT (103.83921 1.37449)  178.460502
2            Ang Mo Kio Ave 4  POINT (103.83921 1.37449)  178.460502
3            Ang Mo Kio Ave 4  POINT (103.83921 1.37449)  178.460502
4            Ang Mo Kio Ave 4  POINT (103.83921 1.37449)  178.460502
...                       ...                        ...         ...
86675          Marine Terrace  POINT (103.91576 1.30578)  195.156964
86676          Marine Terrace  POINT (103.91576 1.30578)  195.156964
86677          Bendemeer Road  POINT (103.86302 1.31922)  493.070279
86678  Clementi West Street 2  POINT (103.76426 1.30378)   54.536296
86679  Clementi West Street 2  POINT (103.76426 1.30378)   47.720449

[86680 rows x 3 columns]

In [59]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_hc = closest_hc.rename(columns={'geometry': 'closest_hc_geom'})
closest_hc = closest_hc.rename(columns={'distance': 'distance_hawker_centre'})
closest_hc = closest_hc [['distance_hawker_centre']]

In [60]:
closest_hc

       distance_hawker_centre
0                  178.460502
1                  178.460502
2                  178.460502
3                  178.460502
4                  178.460502
...                       ...
86675              195.156964
86676              195.156964
86677              493.070279
86678               54.536296
86679               47.720449

[86680 rows x 1 columns]

In [61]:
# join to existing resale dataset 
resale = resale.join(closest_hc)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,longitude,geometry,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall,distance_school,distance_hawker_centre
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,103.837616,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,103.914040,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,103.865166,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091,306.029520,107.350259,493.070279
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,103.763817,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626,254.161399,1363.610294,54.536296
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,103.764557,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081,174.125473,1394.650277,47.720449

### Distance to Nearest Supermarket

In [62]:
# read in location data 
supermarkets = gpd.read_file('supermarkets/SUPERMARKETS.shp')
# set crs
supermarkets.crs = {'init' :'epsg:3414'}

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [63]:
# extract only name and geometry columns
supermarkets = supermarkets[['LIC_NAME','geometry']]
supermarkets

                                        LIC_NAME                     geometry
0    LI LI CHENG SUPERMARKET (PUNGGOL) PTE. LTD.  POINT (35561.223 42685.167)
1                SHENG SIONG SUPERMARKET PTE LTD  POINT (32184.014 32947.461)
2          COLD STORAGE SINGAPORE (1983) PTE LTD  POINT (33903.476 39480.464)
3          COLD STORAGE SINGAPORE (1983) PTE LTD  POINT (37083.820 35017.471)
4                        YES SUPERMARKET PTE LTD  POINT (41320.297 37283.818)
..                                           ...                          ...
521                      I-TEC SUPERMART PTE LTD  POINT (33768.694 32842.360)
522                                YEO HOCK HENG  POINT (33404.177 32874.136)
523                       AZ SUPERMART PTE. LTD.  POINT (36527.891 35585.588)
524                FOODIE MARKET PLACE PTE. LTD.  POINT (34992.518 32046.000)
525                   ZAC MEAT & POULTRY PTE LTD  POINT (38298.639 33114.585)

[526 rows x 2 columns]

In [64]:
# reproject data to WGS84 
supermarkets = supermarkets.to_crs(epsg=4326)
supermarkets

                                        LIC_NAME                   geometry
0    LI LI CHENG SUPERMARKET (PUNGGOL) PTE. LTD.  POINT (103.90126 1.40230)
1                SHENG SIONG SUPERMARKET PTE LTD  POINT (103.87091 1.31424)
2          COLD STORAGE SINGAPORE (1983) PTE LTD  POINT (103.88637 1.37332)
3          COLD STORAGE SINGAPORE (1983) PTE LTD  POINT (103.91494 1.33296)
4                        YES SUPERMARKET PTE LTD  POINT (103.95301 1.35345)
..                                           ...                        ...
521                      I-TEC SUPERMART PTE LTD  POINT (103.88515 1.31329)
522                                YEO HOCK HENG  POINT (103.88188 1.31358)
523                       AZ SUPERMART PTE. LTD.  POINT (103.90995 1.33810)
524                FOODIE MARKET PLACE PTE. LTD.  POINT (103.89615 1.30609)
525                   ZAC MEAT & POULTRY PTE LTD  POINT (103.92586 1.31575)

[526 rows x 2 columns]

In [65]:
# find closest supermarket for each resale flat 
closest_supermarket = nearest_neighbor(gdf_resale,supermarkets,return_dist=True)
# check results 
closest_supermarket

,LIC_NAME,geometry,distance
0,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.83949 1.37424),209.539767
1,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.83949 1.37424),209.539767
2,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.83949 1.37424),209.539767
3,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.83949 1.37424),209.539767
4,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.83949 1.37424),209.539767
...,...,...,...
86675,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.91538 1.30561),152.227032
86676,COLD STORAGE SINGAPORE (1983) PTE LTD,POINT (103.91538 1.30561),152.227032
86677,HAO MART PTE. LTD.,POINT (103.86339 1.33545),197.676735
86678,SHENG SIONG SUPERMARKET PTE LTD,POINT (103.76375 1.30246),57.632709
86679,L M MEAT PTE. LTD.,POINT (103.76528 1.30358),86.171193

In [66]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_supermarket = closest_supermarket.rename(columns={'geometry': 'closest_supermarket_geom'})
closest_supermarket = closest_supermarket.rename(columns={'distance': 'distance_supermarket'})
closest_supermarket = closest_supermarket[['distance_supermarket']]

In [67]:
# join to resale dataset 

resale = resale.join(closest_supermarket)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,geometry,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall,distance_school,distance_hawker_centre,distance_supermarket
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,POINT (103.83762 1.37510),POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,POINT (103.91404 1.30437),POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,POINT (103.86517 1.33541),POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091,306.029520,107.350259,493.070279,197.676735
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,POINT (103.76382 1.30462),POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626,254.161399,1363.610294,54.536296,57.632709
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,POINT (103.76456 1.30246),POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081,174.125473,1394.650277,47.720449,86.171193

### Distance to Nearest Carpark

In [68]:
# read in location data 
hdb_carparks = pd.read_csv('hdb-carpark/hdb-carpark-information.csv')
hdb_carparks

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,1,1.80,Y
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,5,2.10,N
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,0.00,N
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,0,0.00,N
4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,0,0.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...
2130,Y77L,"BLKS 462A, 462B YISHUN AVENUE 6",29832.1087,45462.7555,SURFACE CAR PARK,ELECTRONIC PARKING,NO,NO,NO,0,4.50,N
2131,Y77M,BLK 461 YISHUN AVENUE 6,29850.1522,45576.0125,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,10,2.15,N
2132,Y78M,BLK 468 YISHUN ST 43,30057.2209,45166.4820,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,4,2.15,N
2133,Y8,"BLK 731/746 YISHUN STREET 71,72/AVENUE 5",27772.9219,45686.2734,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,4.50,N
2134,Y9,BLK 747/752 YISHUN STREET 72,28077.2305,45507.8047,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,4.50,N

In [69]:
# create geometry column 
geometry = [Point(xy) for xy in zip(hdb_carparks['x_coord'], hdb_carparks['y_coord'])]
# Coordinate reference system : WGS84
# Creating a Geographic data frame 
hdb_carparks = gpd.GeoDataFrame(hdb_carparks, geometry=geometry)
hdb_carparks.crs = {'init' :'epsg:3414'}
hdb_carparks=hdb_carparks.to_crs({'init' :'epsg:4326'})
hdb_carparks

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement,geometry
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,1,1.80,Y,POINT (103.85412 1.30106)
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,5,2.10,N,POINT (103.88506 1.32100)
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,0.00,N,POINT (103.84462 1.32828)
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,0,0.00,N,POINT (103.83498 1.36909)
4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,0,0.00,N,POINT (103.84664 1.36612)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130,Y77L,"BLKS 462A, 462B YISHUN AVENUE 6",29832.1087,45462.7555,SURFACE CAR PARK,ELECTRONIC PARKING,NO,NO,NO,0,4.50,N,POINT (103.84978 1.42742)
2131,Y77M,BLK 461 YISHUN AVENUE 6,29850.1522,45576.0125,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,10,2.15,N,POINT (103.84994 1.42845)
2132,Y78M,BLK 468 YISHUN ST 43,30057.2209,45166.4820,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,4,2.15,N,POINT (103.85180 1.42474)
2133,Y8,"BLK 731/746 YISHUN STREET 71,72/AVENUE 5",27772.9219,45686.2734,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,4.50,N,POINT (103.83128 1.42944)
2134,Y9,BLK 747/752 YISHUN STREET 72,28077.2305,45507.8047,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,4.50,N,POINT (103.83401 1.42783)

In [70]:
# find closest carpark for each resale flat 
closest_carpark = nearest_neighbor(gdf_resale,hdb_carparks,return_dist=True)
# check results 
closest_carpark

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement,geometry,distance
0,A99,BLK 181 ANG MO KIO AVE 5,28433.4999,39885.5496,SURFACE CAR PARK,COUPON PARKING,7AM-10.30PM,NO,NO,0,0.00,N,POINT (103.83721 1.37699),67.225111
1,A99,BLK 181 ANG MO KIO AVE 5,28433.4999,39885.5496,SURFACE CAR PARK,COUPON PARKING,7AM-10.30PM,NO,NO,0,0.00,N,POINT (103.83721 1.37699),67.225111
2,A99,BLK 181 ANG MO KIO AVE 5,28433.4999,39885.5496,SURFACE CAR PARK,COUPON PARKING,7AM-10.30PM,NO,NO,0,0.00,N,POINT (103.83721 1.37699),67.225111
3,A99,BLK 181 ANG MO KIO AVE 5,28433.4999,39885.5496,SURFACE CAR PARK,COUPON PARKING,7AM-10.30PM,NO,NO,0,0.00,N,POINT (103.83721 1.37699),67.225111
4,A99,BLK 181 ANG MO KIO AVE 5,28433.4999,39885.5496,SURFACE CAR PARK,COUPON PARKING,7AM-10.30PM,NO,NO,0,0.00,N,POINT (103.83721 1.37699),67.225111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,MP4M,BLK 16A MARINE TERRACE,37001.0531,31814.9830,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,4,2.05,N,POINT (103.91420 1.30400),20.191316
86676,MP4M,BLK 16A MARINE TERRACE,37001.0531,31814.9830,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,4,2.05,N,POINT (103.91420 1.30400),20.191316
86677,PP3,BLK 134 TO 142 POTONG PASIR AVENUE 3,31619.7981,35088.4721,SURFACE CAR PARK,ELECTRONIC PARKING,NO,SUN & PH FR 7AM-10.30PM,YES,0,0.00,N,POINT (103.86584 1.33360),89.616541
86678,C37,"BLK 720-727,730-731 CLEMENTI WEST STREET 2",20282.3230,31764.2687,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,2.15,N,POINT (103.76397 1.30354),33.509746
86679,C37,"BLK 720-727,730-731 CLEMENTI WEST STREET 2",20282.3230,31764.2687,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,2.15,N,POINT (103.76397 1.30354),71.027883

In [71]:
# Rename the geometry of closest stops gdf so that we can easily identify it
closest_carpark = closest_carpark.rename(columns={'geometry': 'closest_carpark_geom'})
closest_carpark = closest_carpark.rename(columns={'distance': 'distance_carpark'})
closest_carpark = closest_carpark[['distance_carpark']]
closest_carpark

       distance_carpark
0             67.225111
1             67.225111
2             67.225111
3             67.225111
4             67.225111
...                 ...
86675         20.191316
86676         20.191316
86677         89.616541
86678         33.509746
86679         71.027883

[86680 rows x 1 columns]

In [72]:
# join to dataset 

resale = resale.join(closest_carpark)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,closest_site_geom,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall,distance_school,distance_hawker_centre,distance_supermarket,distance_carpark
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,POINT (103.82861 1.36511),1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032,20.191316
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,POINT (103.91261 1.30931),206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032,20.191316
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,POINT (103.86555 1.33062),134.881667,6.028659,444.669074,15.509091,306.029520,107.350259,493.070279,197.676735,89.616541
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,POINT (103.77302 1.34057),1397.163127,10.018078,320.164404,78.858626,254.161399,1363.610294,54.536296,57.632709,33.509746
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,POINT (103.77302 1.34057),1379.374297,9.882802,341.152312,26.584081,174.125473,1394.650277,47.720449,86.171193,71.027883

### Distance to Nearest Park/Green Space

In [73]:
# read in location data 
parks = gpd.read_file('nationalparks/NATIONALPARKS.shp')
parks
# set crs 
parks.crs = {'init' :'epsg:3414'}

//anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [74]:
# extract relevant columns 
parks = parks[['NAME','geometry']]
# reproject data 
parks = parks.to_crs(epsg = 4326)
parks

                           NAME                   geometry
0      Jalan Pelatok Open Space  POINT (103.96086 1.34618)
1                Turnhouse Park  POINT (103.97898 1.38990)
2             Coney Island Park  POINT (103.92313 1.40991)
3      Stratton Walk Playground  POINT (103.86697 1.37924)
4                    Leban Park  POINT (103.82907 1.37276)
..                          ...                        ...
345                 Realty Park  POINT (103.89036 1.36796)
346      Changi Point Promenade  POINT (103.98919 1.39017)
347   Aroozoo Avenue Playground  POINT (103.88595 1.35520)
348  St. Anne's Wood Playground  POINT (103.90374 1.39164)
349    Bedok Terrace Playground  POINT (103.94749 1.32553)

[350 rows x 2 columns]

In [75]:
# find nearest park 
closest_park = nearest_neighbor(gdf_resale, parks, return_dist=True)
# rename columns
closest_park = closest_park.rename(columns={'geometry': 'closest_park_geom'})
closest_park = closest_park.rename(columns={'distance': 'distance_park'})
# check results
closest_park

,NAME,closest_park_geom,distance_park
0,Yio Chu Kang Gardens Playground,POINT (103.83749 1.38068),149.181000
1,Yio Chu Kang Gardens Playground,POINT (103.83749 1.38068),149.181000
2,Yio Chu Kang Gardens Playground,POINT (103.83749 1.38068),149.181000
3,Yio Chu Kang Gardens Playground,POINT (103.83749 1.38068),149.181000
4,Yio Chu Kang Gardens Playground,POINT (103.83749 1.38068),149.181000
...,...,...,...
86675,Telok Kurau Lorong N Park,POINT (103.91281 1.31032),210.194891
86676,Telok Kurau Lorong N Park,POINT (103.91281 1.31032),210.194891
86677,Carmichael Road Playground,POINT (103.86311 1.34262),298.115635
86678,Jalan Mas Kuning Playground,POINT (103.76361 1.30781),87.412127
86679,Taman Mas Merah Playground,POINT (103.76476 1.30875),167.915033

In [76]:
closest_park = closest_park[['distance_park']]
# join data 
resale = resale.join(closest_park)
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,distance,cbd_distance,distance_mrt,distance_bus_stop,distance_mall,distance_school,distance_hawker_centre,distance_supermarket,distance_carpark,distance_park
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111,149.181000
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111,149.181000
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111,149.181000
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111,149.181000
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,1036.226326,10.353154,730.029000,23.365871,933.145397,209.449588,178.460502,209.539767,67.225111,149.181000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032,20.191316,210.194891
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,206.692805,7.368307,462.438213,96.899174,977.791420,315.359851,195.156964,152.227032,20.191316,210.194891
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,134.881667,6.028659,444.669074,15.509091,306.029520,107.350259,493.070279,197.676735,89.616541,298.115635
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1397.163127,10.018078,320.164404,78.858626,254.161399,1363.610294,54.536296,57.632709,33.509746,87.412127
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1379.374297,9.882802,341.152312,26.584081,174.125473,1394.650277,47.720449,86.171193,71.027883,167.915033

# Feature Engineering II - Grouping Flats by Location

In [ ]:
resale

In [77]:
# Grouping observations by distance to heritage site 
# Creating dummy variables 


resale['distance'].describe()

# min value as 22m and max as 1784m 
# therefore, we create categories # 0-400, 400-800,800-1200,1200-1600,1600-2000m,Beyond 2000m etc

count    86680.000000
mean       582.870933
std        466.396914
min         20.155053
25%        212.623382
50%        346.603610
75%       1008.921656
max       1784.150485
Name: distance, dtype: float64

In [78]:
# 0- 400m dummy
test_df = resale[['distance']]
test_df['0-400m'] = (test_df.distance <= 400.).astype('int')
test_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          distance  0-400m
0      1036.226326       0
1      1036.226326       0
2      1036.226326       0
3      1036.226326       0
4      1036.226326       0
...            ...     ...
86675   206.692805       1
86676   206.692805       1
86677   134.881667       1
86678  1397.163127       0
86679  1379.374297       0

[86680 rows x 2 columns]

In [79]:
# 400-800m
bool_series = test_df['distance'].between(400, 800, inclusive = False) 
test_df['400-800m']=bool_series.astype('int')
test_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          distance  0-400m  400-800m
0      1036.226326       0         0
1      1036.226326       0         0
2      1036.226326       0         0
3      1036.226326       0         0
4      1036.226326       0         0
...            ...     ...       ...
86675   206.692805       1         0
86676   206.692805       1         0
86677   134.881667       1         0
86678  1397.163127       0         0
86679  1379.374297       0         0

[86680 rows x 3 columns]

In [80]:
# 800-1200m
bool_series = test_df['distance'].between(800, 1200, inclusive = False) 
test_df['800-1200m']=bool_series.astype('int')
test_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          distance  0-400m  400-800m  800-1200m
0      1036.226326       0         0          1
1      1036.226326       0         0          1
2      1036.226326       0         0          1
3      1036.226326       0         0          1
4      1036.226326       0         0          1
...            ...     ...       ...        ...
86675   206.692805       1         0          0
86676   206.692805       1         0          0
86677   134.881667       1         0          0
86678  1397.163127       0         0          0
86679  1379.374297       0         0          0

[86680 rows x 4 columns]

In [81]:
# 1200-1600m
bool_series = test_df['distance'].between(1200, 1600, inclusive = False) 
test_df['1200-1600m']=bool_series.astype('int')
test_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          distance  0-400m  400-800m  800-1200m  1200-1600m
0      1036.226326       0         0          1           0
1      1036.226326       0         0          1           0
2      1036.226326       0         0          1           0
3      1036.226326       0         0          1           0
4      1036.226326       0         0          1           0
...            ...     ...       ...        ...         ...
86675   206.692805       1         0          0           0
86676   206.692805       1         0          0           0
86677   134.881667       1         0          0           0
86678  1397.163127       0         0          0           1
86679  1379.374297       0         0          0           1

[86680 rows x 5 columns]

In [82]:
# 1600-2000m
bool_series = test_df['distance'].between(1600, 2000, inclusive = False) 
test_df['1600-2000m']=bool_series.astype('int')
test_df

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          distance  0-400m  400-800m  800-1200m  1200-1600m  1600-2000m
0      1036.226326       0         0          1           0           0
1      1036.226326       0         0          1           0           0
2      1036.226326       0         0          1           0           0
3      1036.226326       0         0          1           0           0
4      1036.226326       0         0          1           0           0
...            ...     ...       ...        ...         ...         ...
86675   206.692805       1         0          0           0           0
86676   206.692805       1         0          0           0           0
86677   134.881667       1         0          0           0           0
86678  1397.163127       0         0          0           1           0
86679  1379.374297       0         0          0           1           0

[86680 rows x 6 columns]

In [83]:
test_df= test_df.drop(['distance'], axis = 1)

In [84]:
resale = resale.join(test_df)

In [85]:
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,distance_school,distance_hawker_centre,distance_supermarket,distance_carpark,distance_park,0-400m,400-800m,800-1200m,1200-1600m,1600-2000m
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,209.449588,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,209.449588,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,209.449588,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,209.449588,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,209.449588,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,315.359851,195.156964,152.227032,20.191316,210.194891,1,0,0,0,0
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,315.359851,195.156964,152.227032,20.191316,210.194891,1,0,0,0,0
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,107.350259,493.070279,197.676735,89.616541,298.115635,1,0,0,0,0
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1363.610294,54.536296,57.632709,33.509746,87.412127,0,0,0,1,0
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,1394.650277,47.720449,86.171193,71.027883,167.915033,0,0,0,1,0

# Data Cleaning and Pre-Processing

### Floor Level

In [86]:
# floor level 
resale['storey_range'].unique()

array(['07 TO 09', '10 TO 12', '04 TO 06', '01 TO 03', '13 TO 15',
       '22 TO 24', '16 TO 18', '25 TO 27', '19 TO 21', '28 TO 30',
       '37 TO 39', '31 TO 33', '34 TO 36', '40 TO 42'], dtype=object)

In [87]:
# define function to process storey range data 
def get_mean_floor(x):
    return int((int(x[:2])+ int (x[-2:]))*0.5)

In [88]:
# add processed storey column 
resale['storey']= resale['storey_range'].map(lambda x: get_mean_floor(x))

In [89]:
resale

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,distance_hawker_centre,distance_supermarket,distance_carpark,distance_park,0-400m,400-800m,800-1200m,1200-1600m,1600-2000m,storey
0,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,...,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0,8
1,2015,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,10 TO 12,60.0,Improved,1986,69,...,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0,11
2,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,69.0,Improved,1986,68,...,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0,5
3,2016,ANG MO KIO,2 ROOM,174,ANG MO KIO AVE 4,07 TO 09,45.0,Improved,1986,68,...,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0,8
4,2016,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,68,...,178.460502,209.539767,67.225111,149.181000,0,0,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,43.0,Improved,1975,63,...,195.156964,152.227032,20.191316,210.194891,1,0,0,0,0,8
86676,2011,MARINE PARADE,2 ROOM,16,MARINE TER,07 TO 09,42.0,Improved,1975,63,...,195.156964,152.227032,20.191316,210.194891,1,0,0,0,0,8
86677,2011,TOA PAYOH,EXECUTIVE,125,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,72,...,493.070279,197.676735,89.616541,298.115635,1,0,0,0,0,2
86678,2011,CLEMENTI,3 ROOM,727,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,54.536296,57.632709,33.509746,87.412127,0,0,0,1,0,2
86679,2011,CLEMENTI,3 ROOM,721,CLEMENTI WEST ST 2,01 TO 03,84.0,New Generation,1985,73,...,47.720449,86.171193,71.027883,167.915033,0,0,0,1,0,2

### Flat Model, Type and Town

In [90]:
# ONE-HOT ENCODING 

y = resale[['flat_type','flat_model','town']]
y = pd.get_dummies(y)

In [91]:
y

,flat_type_1 ROOM,flat_type_2 ROOM,flat_type_3 ROOM,flat_type_4 ROOM,flat_type_5 ROOM,flat_type_EXECUTIVE,flat_model_Adjoined flat,flat_model_Apartment,flat_model_DBSS,flat_model_Improved,...,flat_model_Standard,flat_model_Terrace,town_ANG MO KIO,town_BUKIT MERAH,town_BUKIT TIMAH,town_CLEMENTI,town_GEYLANG,town_MARINE PARADE,town_QUEENSTOWN,town_TOA PAYOH
0,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86675,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
86676,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
86677,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86678,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
86679,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [92]:
resale = resale.join(y)

In [93]:
resale.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 86680 entries, 0 to 86679
Data columns (total 58 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   month                          86680 non-null  int64
 1   town                           86680 non-null  object
 2   flat_type                      86680 non-null  object
 3   block                          86680 non-null  object
 4   street_name                    86680 non-null  object
 5   storey_range                   86680 non-null  object
 6   floor_area_sqm                 86680 non-null  float64
 7   flat_model                     86680 non-null  object
 8   lease_commence_date            86680 non-null  int64
 9   remaining_lease                86680 non-null  int64
 10  resale_price                   86680 non-null  float64
 11  address                        86680 non-null  object
 12  latitude                       86680 non-null  float32
 13  longitude                      86680 non-null  float32
 14  geometry                       86680 non-null  geometry
 15  closest_site_geom              86680 non-null  geometry
 16  distance                       86680 non-null  float64
 17  cbd_distance                   86680 non-null  float64
 18  distance_mrt                   86680 non-null  float64
 19  distance_bus_stop              86680 non-null  float64
 20  distance_mall                  86680 non-null  float64
 21  distance_school                86680 non-null  float64
 22  distance_hawker_centre         86680 non-null  float64
 23  distance_supermarket           86680 non-null  float64
 24  distance_carpark               86680 non-null  float64
 25  distance_park                  86680 non-null  float64
 26  0-400m                         86680 non-null  int64
 27  400-800m                       86680 non-null  int64
 28  800-1200m                      86680 non-null  int64
 29  1200-1600m                     86680 non-null  int64
 30  1600-2000m                     86680 non-null  int64
 31  storey                         86680 non-null  int64
 32  flat_type_1 ROOM               86680 non-null  uint8
 33  flat_type_2 ROOM               86680 non-null  uint8
 34  flat_type_3 ROOM               86680 non-null  uint8
 35  flat_type_4 ROOM               86680 non-null  uint8
 36  flat_type_5 ROOM               86680 non-null  uint8
 37  flat_type_EXECUTIVE            86680 non-null  uint8
 38  flat_model_Adjoined flat       86680 non-null  uint8
 39  flat_model_Apartment           86680 non-null  uint8
 40  flat_model_DBSS                86680 non-null  uint8
 41  flat_model_Improved            86680 non-null  uint8
 42  flat_model_Maisonette          86680 non-null  uint8
 43  flat_model_Model A             86680 non-null  uint8
 44  flat_model_Model A-Maisonette  86680 non-null  uint8
 45  flat_model_New Generation      86680 non-null  uint8
 46  flat_model_Premium Apartment   86680 non-null  uint8
 47  flat_model_Simplified          86680 non-null  uint8
 48  flat_model_Standard            86680 non-null  uint8
 49  flat_model_Terrace             86680 non-null  uint8
 50  town_ANG MO KIO                86680 non-null  uint8
 51  town_BUKIT MERAH               86680 non-null  uint8
 52  town_BUKIT TIMAH               86680 non-null  uint8
 53  town_CLEMENTI                  86680 non-null  uint8
 54  town_GEYLANG                   86680 non-null  uint8
 55  town_MARINE PARADE             86680 non-null  uint8
 56  town_QUEENSTOWN                86680 non-null  uint8
 57  town_TOA PAYOH                 86680 non-null  uint8
dtypes: float32(2), float64(12), geometry(2), int64(9), object(7), uint8(26)
memory usage: 22.7+ MB

In [94]:
# drop unnecessary columns 

test = resale.drop(['geometry','block','street_name','lease_commence_date','storey_range','closest_site_geom','flat_type','flat_model','town'], axis=1)
test.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 86680 entries, 0 to 86679
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   month                          86680 non-null  int64
 1   floor_area_sqm                 86680 non-null  float64
 2   remaining_lease                86680 non-null  int64
 3   resale_price                   86680 non-null  float64
 4   address                        86680 non-null  object
 5   latitude                       86680 non-null  float32
 6   longitude                      86680 non-null  float32
 7   distance                       86680 non-null  float64
 8   cbd_distance                   86680 non-null  float64
 9   distance_mrt                   86680 non-null  float64
 10  distance_bus_stop              86680 non-null  float64
 11  distance_mall                  86680 non-null  float64
 12  distance_school                86680 non-null  float64
 13  distance_hawker_centre         86680 non-null  float64
 14  distance_supermarket           86680 non-null  float64
 15  distance_carpark               86680 non-null  float64
 16  distance_park                  86680 non-null  float64
 17  0-400m                         86680 non-null  int64
 18  400-800m                       86680 non-null  int64
 19  800-1200m                      86680 non-null  int64
 20  1200-1600m                     86680 non-null  int64
 21  1600-2000m                     86680 non-null  int64
 22  storey                         86680 non-null  int64
 23  flat_type_1 ROOM               86680 non-null  uint8
 24  flat_type_2 ROOM               86680 non-null  uint8
 25  flat_type_3 ROOM               86680 non-null  uint8
 26  flat_type_4 ROOM               86680 non-null  uint8
 27  flat_type_5 ROOM               86680 non-null  uint8
 28  flat_type_EXECUTIVE            86680 non-null  uint8
 29  flat_model_Adjoined flat       86680 non-null  uint8
 30  flat_model_Apartment           86680 non-null  uint8
 31  flat_model_DBSS                86680 non-null  uint8
 32  flat_model_Improved            86680 non-null  uint8
 33  flat_model_Maisonette          86680 non-null  uint8
 34  flat_model_Model A             86680 non-null  uint8
 35  flat_model_Model A-Maisonette  86680 non-null  uint8
 36  flat_model_New Generation      86680 non-null  uint8
 37  flat_model_Premium Apartment   86680 non-null  uint8
 38  flat_model_Simplified          86680 non-null  uint8
 39  flat_model_Standard            86680 non-null  uint8
 40  flat_model_Terrace             86680 non-null  uint8
 41  town_ANG MO KIO                86680 non-null  uint8
 42  town_BUKIT MERAH               86680 non-null  uint8
 43  town_BUKIT TIMAH               86680 non-null  uint8
 44  town_CLEMENTI                  86680 non-null  uint8
 45  town_GEYLANG                   86680 non-null  uint8
 46  town_MARINE PARADE             86680 non-null  uint8
 47  town_QUEENSTOWN                86680 non-null  uint8
 48  town_TOA PAYOH                 86680 non-null  uint8
dtypes: float32(2), float64(12), int64(8), object(1), uint8(26)
memory usage: 16.7+ MB

# Exporting Data for Further Analysis in R

In [95]:
# Export final dataframe as csv for further analysis in R 
test = pd.DataFrame(test)
test.to_csv('FINAL_export_resale_flats.csv')